<html id="MainHtml" lang="en" class="html-main t-chrome t-chrome62">
<head>
    <title>
        Media Asset Management
    </title>

    <!--CSS-->
    <link href="~/Areas/iMISAngular/Content/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <link href="~/Areas/iMISAngular/Content/mam---style.css" rel="stylesheet" />
    <link href="~/Areas/iMISAngular/Content/select2.css" type="text/css" rel="stylesheet" />
    <link href="~/Areas/iMISAngular/Content/angular-toastr.min.css" rel="stylesheet" />
    <link href="~/Areas/iMISAngular/Content/CommonCSS.css" rel="stylesheet" />

    <!--JS-->
    <link href="https://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" type="text/css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.3/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular-sanitize.js"></script>
    <script src="https://code.jquery.com/ui/1.10.2/jquery-ui.min.js"></script>
    <script src="~/Areas/iMISAngular/Scripts/toArrayFilter.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular-messages.js"></script>


    <!--<script src="~/Areas/iMISAngular/Scripts/select2.min.js"></script>-->
    <script src="~/Areas/iMISAngular/Scripts/bootstrap.tooltip-popover.js"></script>
    <script src="~/Areas/iMISAngular/Scripts/select2.js"></script>
    <script src="~/Areas/iMISAngular/Scripts/AngularPlugins/select2.js"></script>
    <script src="~/Areas/iMISAngular/Scripts/AngularPlugins/angular-toastr.tpls.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>

    <!--Common JS-->
    <script src="~/Areas/iMISAngular/app/resource/CommonJS/commonJS.js"></script>

    <!--Main JS-->
    <script src="~/Areas/iMISAngular/index.js"></script>

    <!--Angular Directive-->
    <script src="~/Areas/iMISAngular/app/resource/directive/DecimalNumberOnly.js"></script>
    <script src="~/Areas/iMISAngular/app/resource/directive/Loader.js"></script>

    <!--Angular Controller-->
    <script src="~/Areas/iMISAngular/app/resource/controller/MediaAssetsTabController.js"></script>
    <script src="~/Areas/iMISAngular/app/resource/controller/MediaAssetsController.js"></script>
    <script src="~/Areas/iMISAngular/app/resource/controller/IssueDatesController.js"></script>
    <script src="~/Areas/iMISAngular/app/resource/controller/AdAdjustmentsController.js"></script>
    <script src="~/Areas/iMISAngular/app/resource/controller/RateCardController.js"></script>
    <script src="~/Areas/iMISAngular/app/resource/controller/RateCardsDetailsController.js"></script>

    <!--Angular Factory-->
    <script src="~/Areas/iMISAngular/app/resource/handleExceptionFactory.js"></script>
    <script src="~/Areas/iMISAngular/app/resource/mediaAssetsFactory.js"></script>
    <script src="~/Areas/iMISAngular/app/resource/mediaTypeFactory.js"></script>
    <script src="~/Areas/iMISAngular/app/resource/mediaAssetGroupFactory.js"></script>
    <script src="~/Areas/iMISAngular/app/resource/issueDatesFactory.js"></script>
    <script src="~/Areas/iMISAngular/app/resource/adAdjustmentsFactory.js"></script>
    <script src="~/Areas/iMISAngular/app/resource/adAdjustmentsTargetsFactory.js"></script>
    <script src="~/Areas/iMISAngular/app/resource/adTypeFactory.js"></script>
    <script src="~/Areas/iMISAngular/app/resource/mediaBillingMethodFactory.js"></script>
    <script src="~/Areas/iMISAngular/app/resource/rateCardFactory.js"></script>
    <script src="~/Areas/iMISAngular/app/resource/adColorFactory.js"></script>
    <script src="~/Areas/iMISAngular/app/resource/adSizeFactory.js"></script>
    <script src="~/Areas/iMISAngular/app/resource/frequencyFactory.js"></script>
    <script src="~/Areas/iMISAngular/app/resource/rateCardsDetailsFactory.js"></script>
    <style>
        .ui-state-hover {
            height: 1.9em !important;
        }

        .navbar-header.nav-auxiliary {
            width: 100% !important;
        }
    </style>
    <base href="/">
</head>
<body class=" body-main sidebar-fixed">
    <div ng-app="mediaAssetsApp" ng-cloak>
        <div class="row">
            <div class="col-sm-12">
                <h2 class="mamTitle"><img ng-src="{{iMISbaseUrl}}Areas/iMISAngular/image/mam-icon.png" alt="" class="mamTitleImg" />Media Asset Management</h2>
                <div class="">
                    <ng-include src="''+iMISbaseUrl+'Areas/iMISAngular/include.html'" ng-if="flag"></ng-include>
                </div>
            </div>
        </div>
    </div>
    <script>
        //bootbox.confirm({
        //    message: "This is a confirm with custom button text and color! Do you like it?",
        //    buttons: {
        //        confirm: {
        //            label: 'Yes',
        //            className: 'btn-success'
        //        },
        //        cancel: {
        //            label: 'No',
        //            className: 'btn-danger'
        //        }
        //    },
        //    callback: function (result) {
        //        alert(result);
        //        console.log('This was logged in the callback: ' + result);
        //    }
        //});
    </script>

</body>
</html>