﻿

label.asteriskRequired:after {
    content: " *";
    color: red;
}


/*Loader Div Set Center*/

.divProgress {
    margin: 0px;
    padding: 0px;
    position: fixed;
    right: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    /*background-color: #FCFCFC;*/
    z-index: 30001;
    opacity: .8;
    filter: alpha(opacity=70);
    display: none;
}

.progressP {
    position: absolute;
    top: 45%;
    left: 50%;
    color: White;
}



.loading-spiner {
    background-color: #EFEFEF;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 500;
    top: 0px;
    left: 0px;
    opacity: .5; /* in FireFox */
    filter: alpha(opacity=50);
}

.dataLoad {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

    .dataLoad > div {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

.table-responsive .progressP {
    position: static;
    top: auto;
    left: auto;
}

.table-responsive .loading-spiner {
    position: static;
    left: auto;
    right: auto;
    width: 150px;
    height: 150px;
}

.advertiserCards .progressP {
    position: static;
    top: auto;
    left: auto;
}

.advertiserCards .loading-spiner {
    position: static;
    left: auto;
    right: auto;
    width: 150px;
    height: 150px;
}
