@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');

.mamTitle {
	border:0;
	margin-top: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 26px;
    color: #002633;
}
.mamTitleImg {
	padding-right: 5px;
}
.step-wizard {
    font-family: 'Open Sans', sans-serif;
}
.step-wizard .tab-content {
	padding: 20px 0;
}
.step-wizard .nav-tabs {
	background-color: #f5f5f5;
	border:1px solid #ddd;
	border-radius: 5px;
	overflow: hidden;
}
.step-wizard .nav-tabs > li > a {
	font-weight: 600;
	font-size: 14px;
	color: #003a4d;
	border-radius: 0;
	padding: 8px 0 8px 45px;
	position: relative;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.step-wizard .nav-tabs > li:first-child > a {
	padding-left: 15px;
}
.step-wizard .nav-tabs > li > a:before {
	content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 30px solid #666;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    margin-left: 3px;
    left: 100%;
    z-index: 1;
}
.step-wizard .nav-tabs > li:last-child > a:before {
	content: none;
}
.step-wizard .nav-tabs > li > a:after {
	content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 30px solid #f5f5f5;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    margin-left: 3px;
    left: 100%;
    z-index: 1;
}
.step-wizard .nav-tabs > li:last-child > a:after {
	content: none;
}
.step-wizard .nav-tabs > li.active > a {
	color: #0096c7;
	border-color: transparent;
	background-color: transparent;
}
.step-wizard .nav-tabs > li > a:focus {
	outline: 0;
}
.step-wizard .nav-tabs > li > a:hover {
	background-color: transparent;
	color: #0096c7;
	border-color:transparent;
}
.tab-header {
    border-radius: 5px 5px 0 0;
    background-color: #0096c7;
    border: 1px solid #dfe2e5;
    color: #fff;
    padding: 10px 15px;
}
.tab-header h5 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    margin: 0;
}
.tabContent {
    background-color: #fff;
    border: 1px solid #dfe2e5;
    border-top:0;
    border-radius: 0 0 5px 5px;
    padding: 25px 15px;
	overflow: hidden;
}
.blueBtn {
    border-radius: 3px;
    padding: 8px 10px;
    background-color: #0096c7;
    color: #fff;
    font-weight: 600;
    font-size: 13px;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
	border:0;
	font-family: 'Open Sans', sans-serif;
    -webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.blueBtn:hover {
    background-color: #003a4d;
    text-decoration: none;
    color: #fff;
}
.blueBtn:focus, .blueBtn:active {
	background-color: #0096c7;
    color: #fff;
	text-decoration: none;
	outline: 0;
}
.search-container {
    float: right;
    position: relative;
}
.search-container input {
    border-radius: 3px;
    width:290px;
    max-width: 100%;
    height: 35px;
    border-color:#dddddd;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding-right: 30px;
}
.search-container input:focus {
    border-color:#cecece;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.search-container img {
    position: absolute;
    right: 10px;
    top: 10px;
}
.tabContentArea {
    padding: 30px 0 0;
	float:left;
	width:100%;
}
.custom-table {
    background-color: #fafafa;
    border: 1px solid #dfe2e5;
    border-radius: 5px;
	margin-bottom: 0;
	padding-bottom: 10px;
}
.custom-table table {
    margin-bottom: 0;
}
.custom-table th {
    color: #003a4d;
    font-size: 14px;
	/*white-space: nowrap;*/
}
.custom-table td {
    color: #7f8fa4;
    font-size: 13px;
    font-weight: 600;
	/*white-space: nowrap;*/
}
.custom-table td a {
    color: #0096c7;
    text-decoration: underline;
    display: inline-block;
    margin-right:12px;
}
.modal-backdrop {
	background-color: #003a4d;
}
.modal-backdrop.in {
	opacity: 0.7;
}
.custom-upload input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 2px dashed #dfe2e5;
    display: block;
    cursor: pointer;
	text-align: center;
	padding: 30px;
    border-radius: 2px;
    background: white;
    color: #a3aeb4 !important;
    font-size: 13px;
  	margin-left: 0;
	margin-bottom: 0;
	margin-top: 20px;
	text-transform: uppercase;
}
.custom-file-upload img {
	display: block;
	margin: 0 auto 5px;
}
.mampopup label {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 600;
	color: #003a4d;
}
.step-wizard label {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 600;
	color: #003a4d;
}
.mampopup .modal-footer {
	text-align: center;
	border-top: 0;
	padding-top: 0;
}
.mampopup .modal-footer button {
	margin: 0 10px;
}
.mampopup input {
	border:0;
	border-bottom: 2px solid #dfe2e5;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	padding: 5px 0;
}
.step-wizard .tabContentArea input {
	border:0;
	border-bottom: 2px solid #dfe2e5;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	padding: 5px 0;
}
.mampopup input:focus {
	-webkit-box-shadow: none;
	box-shadow: none;
	border-bottom-color: #cecece;
}
.step-wizard .tabContentArea input:focus {
	-webkit-box-shadow: none;
	box-shadow: none;
	border-bottom-color: #cecece;
}
.mampopup .modal-sm {
	width:400px;
	max-width: 100%;
}
.mampopup .modal-body {
	padding: 15px 30px;
}
.select2-container--default .select2-selection--single {
	background-color: transparent;
	border:0;
	border-bottom: 2px solid #dfe2e5;
	border-radius: 0;
	height: 32px;
}
.select2-container .select2-selection--single .select2-selection__rendered {
	padding-left: 0;
}
.step-wizard .panel-title {
	font-size: 14px;
	font-weight: 600;
	color: #003a4d;
}
.step-wizard .panel-title a {
	color: #003a4d;
}
.step-wizard .panel-title a:focus {
	outline: 0;
	border: 0;
	text-decoration: none;
}
.tabContentHeaderTitle {
	display: inline-block;
}
.tabContentHeaderTitle h6 {
	font-size: 16px;
	font-weight: 600;
	color: #0096c7;
	letter-spacing: 0.5px;
	margin: 0;
	padding: 10px 0 0;
	text-transform: uppercase;
}
.date {
	width:100%;
}
.date .input-group-addon {
	border:0;
	background-color: transparent;
	border-radius: 0;
	width:auto;
	position: absolute;
	right:0;
	z-index: 9;
}
.form-group {
    margin-bottom: 25px;
}
.createBtn {
	padding: 8px 35px;
}
.select2-search__field {
	display: none !important;
}
.radioField {
	border:1px solid #d4d4d4;
	border-radius:5px;
}
.radioField .radio {
	padding-left: 20px;
}

@media (max-width:1199px) {
	.radioField .radio {
		padding-left: 12px;
	}
	.radioField .radio label {
		font-size: 13px;
	}
}

@media (max-width:768px) {
	.tabContentHeader .blueBtn {
		display: block;
		margin: 0 0 10px;
	}
	.search-container {
		float: none;
		display: block;
	}
	.search-container input {
		width:100%;
	}
	.tabContentHeaderTitle h6 {
		padding: 0 0 15px;
	}
}

@media (max-width:767px) {
	.tabContentHeader .blueBtn {
		display: block;
		margin: 0 0 10px;
	}
	.search-container {
		float: none;
		display: block;
	}
	.search-container input {
		width:100%;
	}
	.tabContentHeaderTitle h6 {
		padding: 0 0 15px;
	}
}

@media (max-width:479px) {
	.mamTitle {
		font-size: 18px;
	}
	.mampopup .modal-sm {
		width:90%;
		margin: 10px auto;
	}
	.mampopup .modal-body {
		padding: 15px 15px 0;
	}
	.mampopup .modal-footer button {
		margin: 10px 0;
		display: block;
		width:100%;
	}
}