<html id="MainHtml" lang="en" class="html-main t-chrome t-chrome62">
<head>
    <title>
        Media Orders Management
    </title>
    <!--CSS-->
    <link href="~/Areas/iMISAngular_Dashboard/Content/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <link href="~/Areas/iMISAngular_Dashboard/Content/mam-style.css" rel="stylesheet" />
    <link href="~/Areas/iMISAngular_Dashboard/Content/select2.css" type="text/css" rel="stylesheet" />
    <link href="~/Areas/iMISAngular_Dashboard/Content/angular-toastr.min.css" rel="stylesheet" />
    <link href="~/Areas/iMISAngular_Dashboard/Content/CommonCSS.css" rel="stylesheet" />
    <link href="https://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" type="text/css" rel="stylesheet" />
    <link href="~/Areas/iMISAngular_Dashboard/Content/C3 Chart/c3.min.css" rel="stylesheet" />

    <!--JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.3/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular-sanitize.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.js"></script>
    <script src="https://code.jquery.com/ui/1.10.2/jquery-ui.min.js"></script>
    <script src="~/Areas/iMISAngular_Dashboard/Scripts/select2.min.js"></script>
    <script src="~/Areas/iMISAngular_Dashboard/Scripts/select2.js"></script>
    <script src="~/Areas/iMISAngular_Dashboard/Scripts/AngularPlugins/select2.js"></script>
    <script src="~/Areas/iMISAngular_Dashboard/Scripts/alasql.js"></script>
    <script src="~/Areas/iMISAngular_Dashboard/Scripts/toArrayFilter.js"></script>
    <script src="~/Areas/iMISAngular_Dashboard/Scripts/bootstrap.tooltip-popover.js"></script>
    <script src="~/Areas/iMISAngular_Dashboard/Scripts/AngularPlugins/angular-toastr.tpls.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>

    <!--Chart JS-->
    <script src="~/Areas/iMISAngular_Dashboard/Scripts/C3 Chart/d3.min.js"></script>
    <script src="~/Areas/iMISAngular_Dashboard/Scripts/C3 Chart/c3.min.js"></script>
    <script src="~/Areas/iMISAngular_Dashboard/Scripts/C3 Chart/c3-angular.min.js"></script>

    <!--Main JS-->
    <script src="~/Areas/iMISAngular_Dashboard/index.js"></script>
    <!--Angular Directive-->
    <script src="~/Areas/iMISAngular_Dashboard/app/resource/Directive/DecimalNumberOnly.js"></script>
    <script src="~/Areas/iMISAngular_Dashboard/app/resource/Directive/Loader.js"></script>
    <!--Common JS-->
    <script src="~/Areas/iMISAngular_Dashboard/app/resource/CommonJS/commonJS.js"></script>
    <!--Angular Factory-->
    <script src="~/Areas/iMISAngular_Dashboard/app/resource/Factory/handleExceptionFactory.js"></script>
    <script src="~/Areas/iMISAngular_Dashboard/app/resource/Factory/dashBoardFactory.js"></script>
    <script src="~/Areas/iMISAngular_Dashboard/app/resource/Factory/advertiserFactory.js"></script>
    <script src="~/Areas/iMISAngular_Dashboard/app/resource/Factory/mediaAssetFactory.js"></script>
    <script src="~/Areas/iMISAngular_Dashboard/app/resource/Factory/issueDateFactory.js"></script>
    <script src="~/Areas/iMISAngular_Dashboard/app/resource/Factory/mediaOrderFactory.js"></script>
    <!--Angular Controller-->
    <script src="~/Areas/iMISAngular_Dashboard/app/resource/Controller/DashBoardController.js"></script>
    <script src="~/Areas/iMISAngular_Dashboard/app/resource/Controller/AdvertiserTabController.js"></script>
    <script src="~/Areas/iMISAngular_Dashboard/app/resource/Controller/MediaAssetTabController.js"></script>
    <script src="~/Areas/iMISAngular_Dashboard/app/resource/Controller/ProposalOrderTabController.js"></script>

    <style>
        .ui-state-hover {
            height: 1.9em !important;
        }

        .navbar-header.nav-auxiliary {
            width: 100% !important;
        }
    </style>
    <base href="/">
</head>
<body class=" body-main sidebar-fixed">
    <div ng-app="dashboardApp" ng-cloak>

        <div class="row">
            <div class="col-sm-12">
                <div class="">
                    <ng-include src="''+iMISbaseUrl+'Areas/iMISAngular_Dashboard/include.html'" ng-if="flag"></ng-include>
                </div>
            </div>
        </div>
    </div>

</body>
</html>