﻿<style>
    .setTextCenter {
        text-align: center;
    }

    .setMarginRightZero {
        margin-right: 0px !important;
    }
</style>

<ng-form>
    <div>
        <div class="row">
            <div class="col-sm-12">
                <h2 class="mamTitle">
                    <img ng-src="{{baseUrl}}/areas/iMISAngular_Production/image/mam-icon.png" alt="Media Asset Management" class="mamTitleImg" />Production Management
                </h2>

                <div class="step-wizard">
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <form>
                            <div class="row">
                                <div class="col-lg-3 col-md-6 col-sm-6">
                                    <ng-form name="ProductionManagementPositionForm" novalidate>
                                        <div role="tabpanel" class="" id="" style="margin-bottom: 30px;">
                                            <div class="main-tab-content">
                                                <div class="tab-header">
                                                    <h5>Positions</h5>
                                                </div>
                                                <div data-loading> </div>
                                                <div class="tabContent">
                                                    <div class="tabContentArea" style="padding-top: 0;">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="form-group" ng-class="{error:ProductionManagementPositionForm.RateCardName.$invalid }">
                                                                    <label for="PositionName" class="asteriskRequired">Position</label>
                                                                    <input ng-model="PMPosition.PositionName" type="text" class="form-control" name="PositionName" id="txtPositionName" placeholder="Enter Position" required="">
                                                                    <div ng-show="PositionshowMsgs || ProductionManagementPositionForm.PositionName.$invalid && ProductionManagementPositionForm.PositionName.$dirty ">
                                                                        <div style="color:red" ng-show="ProductionManagementPositionForm.PositionName.$error.required">Position Name is required.</div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <button type="button" class="blueBtn createBtn" id="btnPosition" ng-click="SavePosition(PMPosition);">Add</button>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-12">
                                                                <div class="table-responsive custom-table">
                                                                    <table class="table">
                                                                        <thead>
                                                                            <tr>
                                                                                <th>Positions</th>
                                                                                <th></th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr ng-if="isShowDefaultPositionTable == false" ng-repeat="position in PMPositions">
                                                                                <td bind-once>{{position.PositionName}}</td>
                                                                                <td>
                                                                                    <a ng-click="editPosition(position);" title="edit" href="javascript:"><img ng-src="{{baseUrl}}/areas/iMISAngular_Production/image/edit-icon.png" alt="edit" /></a>
                                                                                    <a ng-click="deletePosition(position);" title="delete" href="javascript:"><img ng-src="{{baseUrl}}/areas/iMISAngular_Production/image/delete-icon.png" alt="delete" /></a>
                                                                                </td>
                                                                            </tr>
                                                                            <tr ng-if="isShowDefaultPositionTable == true">
                                                                                <td colspan="2" class="settextcenter">no record is found</td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-form>
                                </div>

                                <div class="col-lg-3 col-md-6 col-sm-6">
                                    <ng-form name="ProductionManagementSeparationForm" novalidate>
                                        <div role="tabpanel" class="" id="" style="margin-bottom: 30px;">
                                            <div class="main-tab-content">
                                                <div class="tab-header">
                                                    <h5>Separations</h5>
                                                </div>
                                                <div class="tabContent">
                                                    <div class="tabContentArea" style="padding-top: 0;">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="form-group" ng-class="{error:ProductionManagementSeparationForm.SeparationName.$invalid }">
                                                                    <label for="SeparationName" class="asteriskRequired">Separation</label>
                                                                    <input ng-model="PMSeparation.SeparationName" type="text" class="form-control" name="SeparationName" id="txtSeparationName" placeholder="Enter Separation" required="">
                                                                    <div ng-show="SeparationshowMsgs || ProductionManagementSeparationForm.SeparationName.$invalid && ProductionManagementSeparationForm.SeparationName.$dirty ">
                                                                        <div style="color:red" ng-show="ProductionManagementSeparationForm.SeparationName.$error.required">Separation Name is required.</div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <button type="button" class="blueBtn createBtn" id="btnSeparation" ng-click="SaveSeparation(PMSeparation);">Add</button>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-12">
                                                                <div class="table-responsive custom-table">
                                                                    <table class="table">
                                                                        <thead>
                                                                            <tr>
                                                                                <th>Separations</th>
                                                                                <th></th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr ng-if="isShowDefaultSeparationTable == false" ng-repeat="seperation in PMSeparations">
                                                                                <td bind-once>{{seperation.SeparationName}}</td>
                                                                                <td>
                                                                                    <a ng-click="editSeparation(seperation);" title="edit" href="javascript:"><img ng-src="{{baseUrl}}/areas/iMISAngular_Production/image/edit-icon.png" alt="edit" /></a>
                                                                                    <a ng-click="deleteSeparation(seperation);" title="delete" href="javascript:"><img ng-src="{{baseUrl}}/areas/iMISAngular_Production/image/delete-icon.png" alt="delete" /></a>
                                                                                </td>
                                                                            </tr>
                                                                            <tr ng-if="isShowDefaultSeparationTable == true ">
                                                                                <td colspan="2" class="settextcenter">no record is found</td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-form>
                                </div>

                                <div class="col-lg-3 col-md-6 col-sm-6">
                                    <ng-form name="ProductionManagementStatusForm" novalidate>
                                        <div role="tabpanel" class="" id="" style="margin-bottom: 30px;">
                                            <div class="main-tab-content">
                                                <div class="tab-header">
                                                    <h5>Production Status</h5>
                                                </div>
                                                <div class="tabContent">
                                                    <div class="tabContentArea" style="padding-top: 0;">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="form-group" ng-class="{error:ProductionManagementStatusForm.ProductionStatusName.$invalid }">
                                                                    <label for="ProductionStatusName" class="asteriskRequired">Production Status</label>
                                                                    <input ng-model="PMStatus.ProductionStatusName" type="text" class="form-control" name="ProductionStatusName" id="txtStatus" placeholder="Enter Production Status" required="">
                                                                    <div ng-show="StatusshowMsgs || ProductionManagementStatusForm.ProductionStatusName.$invalid && ProductionManagementStatusForm.ProductionStatusName.$dirty ">
                                                                        <div style="color:red" ng-show="ProductionManagementStatusForm.ProductionStatusName.$error.required">Production Status Name is required.</div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <button type="button" class="blueBtn createBtn" id="btnStatus" ng-click="SaveStatus(PMStatus);">Add</button>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-12">
                                                                <div class="table-responsive custom-table">
                                                                    <table class="table">
                                                                        <thead>
                                                                            <tr>
                                                                                <th>Production Status</th>
                                                                                <th></th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr ng-if="isShowDefaultStatusTable == false" ng-repeat="status in PMStatuses">
                                                                                <td bind-once>{{status.ProductionStatusName}}</td>
                                                                                <td>
                                                                                    <a ng-click="editStatus(status);" title="edit" href="javascript:"><img ng-src="{{baseUrl}}/areas/iMISAngular_Production/image/edit-icon.png" alt="edit" /></a>
                                                                                    <a ng-click="deleteStatus(status);" title="delete" href="javascript:" class=""><img ng-src="{{baseUrl}}/areas/iMISAngular_Production/image/delete-icon.png" alt="delete" /></a>
                                                                                </td>
                                                                            </tr>
                                                                            <tr ng-if="isShowDefaultStatusTable ==  true ">
                                                                                <td colspan="2" class="settextcenter">no record is found</td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-form>
                                </div>

                                <div class="col-lg-3 col-md-6 col-sm-6">
                                    <ng-form name="ProductionManagementStageForm" novalidate>
                                        <div role="tabpanel" class="" id="" style="margin-bottom: 30px;">
                                            <div class="main-tab-content">
                                                <div class="tab-header">
                                                    <h5>Production Stages</h5>
                                                </div>
                                                <div class="tabContent">
                                                    <div class="tabContentArea" style="padding-top: 0;">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="form-group" ng-class="{error:ProductionManagementStageForm.ProductionStageName.$invalid }">
                                                                    <label for="ProductionStageName" class="asteriskRequired">Production Stages</label>
                                                                    <input ng-model="PMStage.ProductionStageName" type="text" class="form-control" name="ProductionStageName" id="txtStage" placeholder="Enter Production Stages" required="">
                                                                    <div ng-show="StageshowMsgs || ProductionManagementStageForm.ProductionStageName.$invalid && ProductionManagementStageForm.ProductionStageName.$dirty ">
                                                                        <div style="color:red" ng-show="ProductionManagementStageForm.ProductionStageName.$error.required">Production Stages Name is required.</div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <button type="button" class="blueBtn createBtn" id="btnStage" ng-click="SaveStage(PMStage);">Add</button>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-12">
                                                                <div class="table-responsive custom-table">
                                                                    <table class="table">
                                                                        <thead>
                                                                            <tr>
                                                                                <th>Production Stages</th>
                                                                                <th></th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr ng-if="isShowDefaultStageTable == false" ng-repeat="state in PMStages">
                                                                                <td bind-once>{{state.ProductionStageName}}</td>
                                                                                <td>
                                                                                    <a ng-click="editStage(state);" title="edit" href="javascript:"><img ng-src="{{baseUrl}}/areas/iMISAngular_Production/image/edit-icon.png" alt="edit" /></a>
                                                                                    <a ng-click="deleteStage(state);" title="delete" href="javascript:" class=""><img ng-src="{{baseUrl}}/areas/iMISAngular_Production/image/delete-icon.png" alt="delete" /></a>
                                                                                </td>
                                                                            </tr>
                                                                            <tr ng-if="isShowDefaultStageTable == true ">
                                                                                <td colspan="2" class="settextcenter">no record is found</td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-form>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
                <!-- End Custom Media Asset Manangement Code -->
            </div>
        </div>
    </div>
</ng-form>