﻿
<style>
    .paddingBotton15 {
        padding-bottom: 15px;
    }

    .setNextButtonAlign {
        padding: 10px 0px;
        margin: 30px auto;
    }

    @media (min-width: 992px) {
        .modal-lg {
            width: 1024px;
        }
    }

    @media (min-width: 992px) {
        .modal-lg {
            max-width: 1024px;
        }
    }

    @media (max-width: 787px) {
        .setNextButtonAlign, .update-status {
            margin-bottom: 0 !important;
        }

        .createBtn {
            padding: 8px 17px;
        }
    }

    @media (max-width: 361px) {
        .createBtn {
            padding: 8px 25px;
        }
    }

    @media (max-width: 320px) {
        .createBtn {
            padding: 8px 17px;
        }
    }

    .column {
        float: left;
        width: 50%;
    }

    /* Clear floats after the columns */
    .row1:after {
        content: "";
        display: table;
        clear: both;
    }
</style>

<ng-form>
    <div class="cost-details">
        <div class="buy-id pull-left">Buy ID : <span>{{adjustment.AdOrderId}}</span></div>
        <div class="cost pull-right">
            <div class="gross-cost pull-left">Gross Cost : $<span>{{GrossCost}}</span></div>
            <div class="net-cost pull-left">Net Cost : $<span>{{NetCost}}</span></div>
        </div>
    </div>

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="orders">
            <div class="main-tab-content">
                <div class="tabContent">
                    <div class="tabContentArea">
                        <div data-loading> </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive custom-table production-detail-table">
                                    <table class="table adjustment-table">
                                        <thead>
                                            <tr>
                                                <th>
                                                    <!--<input type="checkbox" class="checkall" />-->
                                                </th>
                                                <th>Media Asset</th>
                                                <th>Issue Date</th>
                                                <th>Order Status</th>
                                                <th>Ad Size</th>
                                                <th>Gross Cost</th>
                                                <th>Net Cost</th>
                                                <th>Ad Color</th>
                                                <th>Billing Method</th>
                                                <th>Frequency</th>
                                                <th>Headline</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-if="isShowDefaultTable == false" ng-repeat="adjustment in issueDateWiseAdjustment | toArray:false ">
                                                <td>
                                                    <input type="checkbox" class="checkthis" id="{{adjustment.MediaOrderId}}" ng-model="selectedIssueMediaOrder[adjustment.MediaOrderId]" ng-change="chechboxChange(adjustment)">
                                                </td>
                                                <td>{{adjustment.MediaAssetName}}</td>
                                                <td>{{adjustment.IssueDate | date : "MM/dd/yyyy"}}</td>
                                                <td>{{adjustment.OrderStatus}}</td>
                                                <td>{{adjustment.AdSizeName}}</td>
                                                <td>${{adjustment.GrossCost  | number : 2}}</td>
                                                <td>${{adjustment.NetCost  | number : 2}}</td>
                                                <td>{{adjustment.AdColorName}}</td>
                                                <td>{{adjustment.MediaBillingMathodeName}}</td>
                                                <td>{{adjustment.FrequencyName}}</td>
                                                <td>{{adjustment.HeadLine}}</td>
                                                <td>
                                                    <a ng-click="editMediaOrderMediaLinesbyMediaOrderId(adjustment.MediaOrderId);" href="javascript:" title="Edit"><img ng-src="{{iMISbaseUrl}}/areas/iMISAngular_Orders/image/edit-icon.png" alt="" /></a>
                                                    <a ng-click="deleteMediaOrderMediaLinesbyMediaOrderId(adjustment);" title="Delete" href="javascript:" style="width:13px;"><img ng-src="{{iMISbaseUrl}}/areas/imisAngular/image/delete-icon.png" alt="" /></a>
                                                </td>
                                            </tr>
                                            <tr ng-if="isShowDefaultTable == true">
                                                <td colspan="11" class="setTextCenter">No Record is Found</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div ng-if="isMultiple == true" class="col-md-12" style="text-align:center;padding-top:25px;">
                                <div class="row">
                                    <button type="button" class="blueBtn" id="btnMultipleAddAdjustment" ng-click="InitAdAdjustmentPopUpforMultiple();" data-toggle="modal" data-target="#multipleAdAdjustmentModal">Multiple Ad Adjustment</button>
                                </div>
                            </div>
                        </div> <br><br>

                        <div class="row no-click" id="grossAndNetDiv">
                            <!--  Gross Amount-->
                            <ng-form name="GrossAdAdjustmentModalForm" novalidate>
                                <div class="col-md-6 border-r border-b">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6">
                                            <div class=" form-group" ng-class="{error:GrossAdAdjustmentModalForm.adAdjustment.$invalid}">
                                                <label for="AdAdjustment">Gross Cost Adjustment </label>
                                                <div class="clearfix"></div>
                                                <select class="full-width custom-select" ui-select2="adAdjustmentSelect" ng-model="grossAdAdjustment.AdAdjustmentId" style="width: 100%"
                                                        ng-change="onAdjustmentChange()" name="adAdjustment" id="ddlAdAdjustment">
                                                    <option value="">Select Ad Adjustment</option>
                                                    <!--<option ng-repeat="items in adAdjustments " value="{{items.AdAdjustmentId}}">{{items.AdAdjustmentName}}</option>-->

                                                    <option ng-repeat="items in adAdjustments " value="{{items.SrNo}}">{{items.AdAdjustmentName}}</option>
                                                </select>
                                                <div ng-show="GrossAdjustmentshowMsgs || GrossAdAdjustmentModalForm.adAdjustment.$touched && GrossAdAdjustmentModalForm.adAdjustment.$invalid && GrossAdAdjustmentModalForm.adAdjustment.$dirty  ">
                                                    <div style="color:red;" ng-show="GrossAdAdjustmentModalForm.adAdjustment.$error.required">Ad Adjustment is required.</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-4">
                                            <div class="form-group" ng-class="{error:GrossAdAdjustmentModalForm.AdAdjustmentValue.$invalid}">
                                                <label for="AdAdjustmentValue">Value</label>
                                                <!--<label for="AdAdjustmentValue">{{amountType}}</label>-->

                                                <div class="clearfix"></div>
                                                <div class="input-group">
                                                    <input allow-decimal-numbers type="text" name="AdAdjustmentValue" class="form-control" id="txtAdAdjustmentValue"
                                                           placeholder="Enter Value" ng-model="grossAdAdjustment.AdjustmentValue">

                                                    <!--<input allow-decimal-numbers type="text" name="AdAdjustmentValue" class="form-control" id="txtAdAdjustmentValue"
                                                           placeholder="Enter Value" ng-model="grossAdjustmentValue"
                                                           ng-change="grossAdAdjustment.AdjustmentValue=grossAdjustmentValue;">-->
                                                    <!--<div ng-if="isPercentage == true" class="input-group-addon">%</div>-->
                                                    <div class="input-group-addon">{{isPercentage == true ? "%" : "$"}}</div>

                                                </div>
                                                <div ng-show="GrossAdjustmentshowMsgs || GrossAdAdjustmentModalForm.AdAdjustmentValue.$invalid && GrossAdAdjustmentModalForm.AdAdjustmentValue.$dirty">
                                                    <div style="color:red;" ng-show="GrossAdAdjustmentModalForm.AdAdjustmentValue.$error.required">Value is required.</div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-2 col-sm-2">
                                            <button type="button" class="addRept" id="btnAddAdjustment" ng-click=AdMediaOrderdAdjustment(grossAdAdjustment,insertMode)>Add</button>
                                        </div>

                                    </div>
                                    <div class="row table-action-row">
                                        <div class="col-md-11 col-sm-11 col-xs-12">
                                            <div class="table-responsive custom-table Gross-Cost-Table">
                                                <table class="table adjustment-table1">
                                                    <thead>
                                                        <tr>
                                                            <th>
                                                                <!--<label class="checkall" style="margin-bottom:18px;">
                                                                    <input type="checkbox" class="checkthis" ng-model="selectedAllGrossAdjustment" ng-change="checkedAllGrossAdjustment(selectedAllGrossAdjustment)">
                                                                </label>-->
                                                                <!--<input type="checkbox" class="checkall" />-->
                                                            </th>
                                                            <th>Name</th>
                                                            <th>Value</th>
                                                            <th>Amount</th>
                                                            <th>Running Total</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-if="isShowDefaultGrossAdjustmentTable == false" ng-repeat="gAdjustment in grossAdAdjustments | toArray:false | orderBy:'SequenceNumber' ">
                                                            <td>
                                                                <label class="checkbox-inline paddingBotton15">
                                                                    <input type="checkbox" class="checkthis" ng-model="selectedGrossAdjustment" ng-change="onGrossChechboxChange(gAdjustment,selectedGrossAdjustment)">
                                                                </label>
                                                            </td>
                                                            <td bind-once>{{gAdjustment.AdAdjustmentName}}</td>
                                                            <td bind-once>{{gAdjustment.AdjustmentValue}}<span ng-if="gAdjustment.isPercentage == true"> %</span></td>
                                                            <td bind-once>${{gAdjustment.tempAdjustmentAmount}}</td>
                                                            <td bind-once>${{gAdjustment.tempRunningAmount}}</td>

                                                        </tr>
                                                        <tr ng-if="isShowDefaultGrossAdjustmentTable == true">
                                                            <td colspan="11" class="setTextCenter">No Record is Found</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="col-md-1 col-sm-1 col-xs-12 table-action ">
                                            <button type="button" class="table-action-btn" style="padding:0px;" id="btnAddAdjustment" ng-click=moveRecordOneRowAbove()>
                                                <img src="{{iMISbaseUrl}}Areas/iMISAngular_Orders/image/up-arrow.png" alt="">
                                            </button>
                                            <button type="button" class="table-action-btn" style="padding:0px;" id="btnAddAdjustment" ng-click=moveRecordOneRowBelow()>
                                                <img src="{{iMISbaseUrl}}Areas/iMISAngular_Orders/image/down-arrow.png" alt="">
                                            </button>
                                            <button type="button" class="table-action-btn table-action-btn-remove" style="padding:0px;" id="btnAddAdjustment" ng-click=deleteSelectedRecord()>
                                                <img src="{{iMISbaseUrl}}Areas/iMISAngular_Orders/image/remove-icon.png" alt="">
                                            </button>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-11 col-sm-11">
                                            <div class="row">
                                                <div class="col-lg-6 col-md-7 pull-right">
                                                    <div class="form-group cost-data">
                                                        <label for="">Gross Cost :</label>
                                                        <div class="input-group left-group">
                                                            <input type="text" class="form-control" id="" ng-model="finalGrossAmount" readonly>
                                                            <div class="input-group-addon">$</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </ng-form>

                            <!--  Net Amount-->
                            <ng-form name="NetAdAdjustmentModalForm" novalidate>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6">
                                            <div class=" form-group" ng-class="{error:NetAdAdjustmentModalForm.adAdjustment.$invalid}">
                                                <label for="AdAdjustment">Net Cost Adjustment </label>
                                                <div class="clearfix"></div>
                                                <select class="full-width custom-select" ui-select2="adAdjustmentSelect" ng-model="netAdAdjustment.AdAdjustmentId" style="width: 100%"
                                                        ng-change="onNetAdjustmentChange()" name="adAdjustment" id="ddlNetAdAdjustment">
                                                    <option value="">Select Ad Adjustment</option>
                                                    <!--<option ng-repeat="items in adAdjustments" value="{{items.AdAdjustmentId}}">{{items.AdAdjustmentName}}</option>-->

                                                    <option ng-repeat="items in adAdjustments " value="{{items.SrNo}}">{{items.AdAdjustmentName}}</option>
                                                </select>
                                                <div ng-show="NetAdjustmentshowMsgs || NetAdAdjustmentModalForm.adAdjustment.$touched && NetAdAdjustmentModalForm.adAdjustment.$invalid && NetAdAdjustmentModalForm.adAdjustment.$dirty  ">
                                                    <div style="color:red;" ng-show="NetAdAdjustmentModalForm.adAdjustment.$error.required">Ad Adjustment is required.</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-4">
                                            <div class="form-group" ng-class="{error:NetAdAdjustmentModalForm.AdAdjustmentValue.$invalid}">
                                                <label for="AdAdjustmentValue">Value</label>
                                                <!--<label for="AdAdjustmentValue">{{netamountType}}</label>-->
                                                <div class="clearfix"></div>
                                                <div class="input-group">
                                                    <input allow-decimal-numbers type="text" name="AdAdjustmentValue" class="form-control" id="txtAdAdjustmentValue"
                                                           ng-model="netAdAdjustment.AdjustmentValue" placeholder="Enter Value">
                                                    <!--<input allow-decimal-numbers type="text" name="AdAdjustmentValue" class="form-control" id="txtAdAdjustmentValue"
                                                           ng-model="netAdjustmentValue" placeholder="Enter Value" ng-change="netAdAdjustment.AdjustmentValue=netAdjustmentValue;">-->
                                                    <!--<div ng-if="netisPercentage == true" class="input-group-addon">%</div>-->
                                                    <div class="input-group-addon">{{netisPercentage == true ? "%" : "$"}}</div>
                                                </div>
                                                <div ng-show="NetAdjustmentshowMsgs || NetAdAdjustmentModalForm.AdAdjustmentValue.$invalid && NetAdAdjustmentModalForm.AdAdjustmentValue.$dirty">
                                                    <div style="color:red;" ng-show="NetAdAdjustmentModalForm.AdAdjustmentValue.$error.required">Value is required.</div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-2 col-sm-2">
                                            <button type="button" class="addRept" id="btnNetAddAdjustment" ng-click=AdNetMediaOrderdAdjustment(netAdAdjustment,insertMode)>Add</button>
                                        </div>
                                    </div>
                                    <!--<div class="col-md-3">
                                        <div class=""> Cost Amt. </div>
                                        <span class="input-group-addon">${{tempNetAmount}}</span>
                                    </div>-->


                                    <div class=" row table-action-row">
                                        <div class="col-md-11 col-sm-11 col-xs-12">
                                            <div class="table-responsive custom-table Net-Cost-Table">
                                                <table class="table adjustment-table2">
                                                    <thead>
                                                        <tr>
                                                            <th>
                                                                <!--<input type="checkbox" class="checkall" />-->
                                                            </th>
                                                            <th>Name</th>
                                                            <th>Value</th>
                                                            <th>Amount</th>
                                                            <th>Running Total</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-if="isShowDefaultNetAdjustmentTable == false" ng-repeat="nAdjustment in netAdAdjustments | toArray:false || orderBy:'SequenceNumber' ">
                                                            <td>
                                                                <label class="checkbox-inline paddingBotton15">
                                                                    <input type="checkbox" id="{{nAdjustment.IssueDateId}}" ng-model="selectedNetAdjustment" ng-change="onNetChechboxChange(nAdjustment,selectedNetAdjustment)">
                                                                </label>
                                                            </td>
                                                            <td bind-once>{{nAdjustment.AdAdjustmentName}}</td>
                                                            <td bind-once>{{nAdjustment.AdjustmentValue}}<span ng-if="nAdjustment.isPercentage == true"> %</span></td>
                                                            <td bind-once>${{nAdjustment.tempAdjustmentAmount}}</td>
                                                            <td bind-once>${{nAdjustment.tempRunningAmount}}</td>
                                                        </tr>
                                                        <tr ng-if="isShowDefaultNetAdjustmentTable == true">
                                                            <td colspan="11" class="setTextCenter">No Record is Found</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="col-md-1 col-sm-1 col-xs-12 table-action">
                                            <button type="button" class="table-action-btn" style="padding:0px;" id="btnAddAdjustment" ng-click=moveOneNetRecordAbove()>
                                                <img src="{{iMISbaseUrl}}Areas/iMISAngular_Orders/image/up-arrow.png" alt="">
                                            </button>
                                            <button type="button" class="table-action-btn" style="padding:0px;" id="btnAddAdjustment" ng-click=moveOneNetRecordBelow()>
                                                <img src="{{iMISbaseUrl}}Areas/iMISAngular_Orders/image/down-arrow.png" alt="">
                                            </button>
                                            <button type="button" class="table-action-btn table-action-btn-remove" style="padding:0px;" id="btnAddAdjustment" ng-click=deleteSelectedNetRecord()>
                                                <img src="{{iMISbaseUrl}}Areas/iMISAngular_Orders/image/remove-icon.png" alt="">
                                            </button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-11 col-sm-11">
                                            <div class="row">
                                                <div class="col-lg-6 col-md-7 pull-right">
                                                    <div class="form-group cost-data">
                                                        <label for="">Net Cost :</label>
                                                        <div class="input-group left-group">
                                                            <input type="text" class="form-control" id="" ng-model="finalNetAmount" readonly>
                                                            <div class="input-group-addon">$</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </ng-form>
                        </div>

                        <div class="row">
                            <div class="col-md-5 text-center">
                                <div class="update-status">
                                    <div class="form-group">
                                        <label class="radio-inline">
                                            <input type="radio" name="ordersAdvertiser" ng-model="OrderType" value="Proposal" ng-change="changeRadioButton(OrderType);">Proposal
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="ordersAgency" ng-model="OrderType" value="Run" ng-change="changeRadioButton(OrderType);">Run
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="ordersAgency" ng-model="OrderType" value="Cancel" ng-change="changeRadioButton(OrderType);">Cancel
                                        </label>
                                        <label class="radio-inline">
                                            <button type="button" class="addRept" id="btnOrderType" ng-click=UpdateOrderType(OrderType)>Update</button>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5 col-xs-7 text-center">
                                <div class="form-group setNextButtonAlign">
                                    <button type="button" class="blueBtn createBtn pull-left" id="btnIO" data-toggle="modal" data-target="#ordersDetailModal" ng-click="getAdvertiserThroughASI();generateDynamicImageURL();">Generate Insertion Order</button>
                                    <button type="button" class="blueBtn createBtn pull-right" id="btnOP" data-toggle="modal" data-target="#orderProposalModal" ng-click="getAdvertiserThroughASI();generateDynamicImageURL();">Proposal</button>
                                </div>
                            </div>
                            <div class="col-md-2 col-xs-5">
                                <div class="form-group pull-right setNextButtonAlign">
                                    <button type="button" class="blueBtn createBtn" id="btnOrders" ng-click="redirectToProductionPage();">
                                        Next
                                    </button>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <!--<div class="row">
                            <div class="col-md-12">
                                <div class="form-group pull-right">
                                    <button type="button" class="blueBtn createBtn" id="btnOrders"
                                            ng-click="redirectToProductionPage();">
                                        Next
                                    </button>
                                </div>
                            </div>
                        </div>-->
                        <!-- Multiple Ad Adjustment Modal-->

                        <ng-form>
                            <div class="modal fade bs-example-modal-lg mampopup" id="multipleAdAdjustmentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="tabContentHeaderTitle form-group form-group10" style="margin-bottom:10px;">
                                                            <a href="javascript:void(0);"><h6>AD ADJUSTMENT</h6></a>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <!--  Gross Amount-->
                                                    <ng-form name="multipleGrossAdAdjustmentModalForm" novalidate>
                                                        <div class="col-md-6 border-r border-b">
                                                            <div class="row">
                                                                <div class="col-md-6 col-sm-6">
                                                                    <div class=" form-group" ng-class="{error:multipleGrossAdAdjustmentModalForm.adAdjustment.$invalid}">
                                                                        <label for="AdAdjustment">Gross Cost Adjustment </label>
                                                                        <div class="clearfix"></div>
                                                                        <select class="full-width custom-select" ui-select2="adAdjustmentSelect" ng-model="grossAdAdjustment.AdAdjustmentId" style="width: 100%"
                                                                                ng-change="onAdjustmentChangePopUp()" name="adAdjustment" id="ddlAdAdjustmentM">
                                                                            <option value="">Select Ad Adjustment</option>
                                                                            <!--<option ng-repeat="items in adAdjustments " value="{{items.AdAdjustmentId}}">{{items.AdAdjustmentName}}</option>-->
                                                                            <option ng-repeat="items in adAdjustments " value="{{items.SrNo}}">
                                                                                {{items.AdAdjustmentName}}
                                                                            </option>
                                                                        </select>
                                                                        <div ng-show="multipleGrossAdjustmentshowMsgs || multipleGrossAdAdjustmentModalForm.adAdjustment.$touched && multipleGrossAdAdjustmentModalForm.adAdjustment.$invalid && multipleGrossAdAdjustmentModalForm.adAdjustment.$dirty  ">
                                                                            <div style="color:red;" ng-show="multipleGrossAdAdjustmentModalForm.adAdjustment.$error.required">Ad Adjustment is required.</div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4 col-sm-4">
                                                                    <div class="form-group" ng-class="{error:multipleGrossAdAdjustmentModalForm.AdAdjustmentValue.$invalid}">
                                                                        <label for="AdAdjustmentValue">Value</label>
                                                                        <!--<label for="AdAdjustmentValue">{{amountType}}</label>-->
                                                                        <div class="clearfix"></div>
                                                                        <div class="input-group">
                                                                            <input allow-decimal-numbers type="text" name="AdAdjustmentValue" class="form-control" id="txtAdAdjustmentValue"
                                                                                   placeholder="Enter Value" ng-model="grossAdAdjustment.AdjustmentValue">
                                                                            <!--<input allow-decimal-numbers type="text" name="AdAdjustmentValue" class="form-control" id="txtAdAdjustmentValue"
                                                                                   placeholder="Enter Value" ng-model="grossAdjustmentValueM"
                                                                                   ng-change="grossAdAdjustment.AdjustmentValue=grossAdjustmentValueM;">-->
                                                                            <!--<div ng-if=" == true" class="input-group-addon">%</div>-->
                                                                            <div class="input-group-addon">{{isPercentage == true ? "%" : "$"}}</div>
                                                                        </div>
                                                                        <div ng-show="multipleGrossAdjustmentshowMsgs || multipleGrossAdAdjustmentModalForm.AdAdjustmentValue.$invalid && multipleGrossAdAdjustmentModalForm.AdAdjustmentValue.$dirty">
                                                                            <div style="color:red;" ng-show="multipleGrossAdAdjustmentModalForm.AdAdjustmentValue.$error.required">Value is required.</div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="col-md-2 col-sm-2">
                                                                    <button type="button" class="addRept" id="btnAddAdjustment" ng-click=AdMediaOrderdAdjustment(grossAdAdjustment,insertMode)>Add</button>
                                                                </div>

                                                            </div>
                                                            <div class="row table-action-row">
                                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                                    <!--<div class="col-md-12 col-sm-12 col-xs-12">-->
                                                                    <div class="table-responsive custom-table Gross-Cost-Table">
                                                                        <table class="table adjustment-table1">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th>
                                                                                        <!--<input type="checkbox" class="checkall" />-->
                                                                                    </th>
                                                                                    <th>Name</th>
                                                                                    <th>Value</th>
                                                                                    <th>Amount</th>
                                                                                    <th>Running Total</th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                <!--<tr ng-if="isShowDefaultGrossAdjustmentTable == false" ng-repeat="gAdjustment in grossAdAdjustments | toArray:false | orderBy:'SequenceNumber' ">-->
                                                                                <tr ng-if="isShowDefaultGrossAdjustmentTableM == false" ng-repeat="gAdjustment in grossAdAdjustments | toArray:false | orderBy:'SequenceNumber' ">
                                                                                    <td>
                                                                                        <label class="checkbox-inline paddingBotton15">
                                                                                            <input type="checkbox" class="checkthis" ng-model="selectedGrossAdjustment" ng-change="onGrossChechboxChange(gAdjustment,selectedGrossAdjustment)">
                                                                                        </label>
                                                                                    </td>
                                                                                    <td bind-once>{{gAdjustment.AdAdjustmentName}}</td>
                                                                                    <td bind-once>{{gAdjustment.AdjustmentValue}}<span ng-if="gAdjustment.isPercentage == true"> %</span></td>
                                                                                    <td bind-once>${{gAdjustment.tempAdjustmentAmount}}</td>
                                                                                    <td bind-once>${{gAdjustment.tempRunningAmount}}</td>

                                                                                </tr>
                                                                                <!--<tr ng-if="isShowDefaultGrossAdjustmentTable == true">-->
                                                                                <tr ng-if="isShowDefaultGrossAdjustmentTableM == true">
                                                                                    <td colspan="11" class="setTextCenter">No Record is Found</td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-1 col-sm-1 col-xs-12 table-action hide">
                                                                    <button type="button" class="table-action-btn" style="padding:0px;" id="btnAddAdjustment" ng-click=moveRecordOneRowAbove()>
                                                                        <img src="{{iMISbaseUrl}}Areas/iMISAngular_Orders/image/up-arrow.png" alt="">
                                                                    </button>
                                                                    <button type="button" class="table-action-btn" style="padding:0px;" id="btnAddAdjustment" ng-click=moveRecordOneRowBelow()>
                                                                        <img src="{{iMISbaseUrl}}Areas/iMISAngular_Orders/image/down-arrow.png" alt="">
                                                                    </button>
                                                                    <button type="button" class="table-action-btn table-action-btn-remove" style="padding:0px;" id="btnAddAdjustment" ng-click=deleteSelectedRecord()>
                                                                        <img src="{{iMISbaseUrl}}Areas/iMISAngular_Orders/image/remove-icon.png" alt="">
                                                                    </button>
                                                                </div>
                                                            </div>

                                                            <div class="row">
                                                                <div class="col-md-11 col-sm-11">
                                                                    <div class="row">
                                                                        <div class="col-lg-7 col-md-7 pull-right">
                                                                            <div class="form-group cost-data">
                                                                                <label for="">Gross Cost :</label>
                                                                                <div class="input-group left-group">
                                                                                    <input type="text" class="form-control" id="" ng-model="finalGrossAmount" readonly>
                                                                                    <div class="input-group-addon">$</div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </ng-form>

                                                    <!--  Net Amount-->
                                                    <ng-form name="multipleNetAdAdjustmentModalForm" novalidate>
                                                        <div class="col-md-6">
                                                            <div class="row">
                                                                <div class="col-md-6 col-sm-6">
                                                                    <div class=" form-group" ng-class="{error:multipleNetAdAdjustmentModalForm.adAdjustment.$invalid}">
                                                                        <label for="AdAdjustment">Net Cost Adjustment </label>
                                                                        <div class="clearfix"></div>
                                                                        <select class="full-width custom-select" ui-select2="adAdjustmentSelect" ng-model="netAdAdjustment.AdAdjustmentId" style="width: 100%"
                                                                                ng-change="onNetAdjustmentChangePopUp()" name="adAdjustment" id="ddlNetAdAdjustmentM">
                                                                            <option value="">Select Ad Adjustment</option>
                                                                            <!--<option ng-repeat="items in adAdjustments " value="{{items.AdAdjustmentId}}">{{items.AdAdjustmentName}}</option>-->

                                                                            <option ng-repeat="items in adAdjustments" value="{{items.SrNo}}">
                                                                                {{items.AdAdjustmentName}}
                                                                            </option>
                                                                        </select>
                                                                        <div ng-show="multipleNetAdjustmentshowMsgs || multipleNetAdAdjustmentModalForm.adAdjustment.$touched && multipleNetAdAdjustmentModalForm.adAdjustment.$invalid && multipleNetAdAdjustmentModalForm.adAdjustment.$dirty  ">
                                                                            <div style="color:red;" ng-show="multipleNetAdAdjustmentModalForm.adAdjustment.$error.required">Ad Adjustment is required.</div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4 col-sm-4">
                                                                    <div class="form-group" ng-class="{error:multipleNetAdAdjustmentModalForm.AdAdjustmentValue.$invalid}">
                                                                        <label for="AdAdjustmentValue">Value</label>
                                                                        <!--<label for="AdAdjustmentValue">{{netamountType}}</label>-->

                                                                        <div class="clearfix"></div>
                                                                        <div class="input-group">
                                                                            <input allow-decimal-numbers type="text" name="AdAdjustmentValue" class="form-control" id="txtAdAdjustmentValue"
                                                                                   ng-model="netAdAdjustment.AdjustmentValue" placeholder="Enter Value">
                                                                            <!--<input allow-decimal-numbers type="text" name="AdAdjustmentValue" class="form-control" id="txtAdAdjustmentValue"
                                                                                   ng-model="netAdjustmentValueM" ng-change="netAdAdjustment.AdjustmentValue=netAdjustmentValueM;" placeholder="Enter Value">-->
                                                                            <!--<div ng-if="netisPercentage == true" class="input-group-addon">%</div>-->
                                                                            <div class="input-group-addon">{{netisPercentage == true ? "%" : "$"}}</div>
                                                                        </div>
                                                                        <div ng-show="multipleNetAdjustmentshowMsgs || multipleNetAdAdjustmentModalForm.AdAdjustmentValue.$invalid && multipleNetAdAdjustmentModalForm.AdAdjustmentValue.$dirty">
                                                                            <div style="color:red;" ng-show="multipleNetAdAdjustmentModalForm.AdAdjustmentValue.$error.required">Value is required.</div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-2 col-sm-2">
                                                                    <button type="button" class="addRept" id="btnNetAddAdjustment" ng-click=AdNetMediaOrderdAdjustment(netAdAdjustment,insertMode)>Add</button>
                                                                </div>
                                                            </div>
                                                            <div class="row table-action-row">
                                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                                    <!--<div class="col-md-12 col-sm-12 col-xs-12">-->
                                                                    <div class="table-responsive custom-table Net-Cost-Table">
                                                                        <table class="table adjustment-table2">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th>
                                                                                        <!--<input type="checkbox" class="checkall" />-->
                                                                                    </th>
                                                                                    <th>Name</th>
                                                                                    <th>Value</th>
                                                                                    <th>Amount</th>
                                                                                    <th>Running Total</th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                <!--<tr ng-if="isShowDefaultNetAdjustmentTable == false" ng-repeat="nAdjustment in netAdAdjustments | toArray:false || orderBy:'SequenceNumber' ">-->
                                                                                <tr ng-if="isShowDefaultNetAdjustmentTableM == false" ng-repeat="nAdjustment in netAdAdjustments | toArray:false || orderBy:'SequenceNumber' ">
                                                                                    <td>
                                                                                        <label class="checkbox-inline paddingBotton15">
                                                                                            <input type="checkbox" id="{{nAdjustment.IssueDateId}}" ng-model="selectedNetAdjustment" ng-change="onNetChechboxChange(nAdjustment,selectedNetAdjustment)">
                                                                                        </label>
                                                                                    </td>
                                                                                    <td bind-once>{{nAdjustment.AdAdjustmentName}}</td>
                                                                                    <td bind-once>{{nAdjustment.AdjustmentValue}}<span ng-if="nAdjustment.isPercentage == true"> %</span></td>
                                                                                    <td bind-once>${{nAdjustment.tempAdjustmentAmount}}</td>
                                                                                    <td bind-once>${{nAdjustment.tempRunningAmount}}</td>

                                                                                </tr>
                                                                                <!--<tr ng-if="isShowDefaultNetAdjustmentTable == true">-->
                                                                                <tr ng-if="isShowDefaultNetAdjustmentTableM == true">
                                                                                    <td colspan="11" class="setTextCenter">No Record is Found</td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-1 col-sm-1 col-xs-12 table-action hide">
                                                                    <button type="button" class="table-action-btn" style="padding:0px;" id="btnAddAdjustment" ng-click=moveOneNetRecordAbove()>
                                                                        <img src="{{iMISbaseUrl}}Areas/iMISAngular_Orders/image/up-arrow.png" alt="">
                                                                    </button>
                                                                    <button type="button" class="table-action-btn" style="padding:0px;" id="btnAddAdjustment" ng-click=moveOneNetRecordBelow()>
                                                                        <img src="{{iMISbaseUrl}}Areas/iMISAngular_Orders/image/down-arrow.png" alt="">
                                                                    </button>
                                                                    <button type="button" class="table-action-btn table-action-btn-remove" style="padding:0px;" id="btnAddAdjustment" ng-click=deleteSelectedNetRecord()>
                                                                        <img src="{{iMISbaseUrl}}Areas/iMISAngular_Orders/image/remove-icon.png" alt="">
                                                                    </button>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-11 col-sm-11">
                                                                    <div class="row">
                                                                        <div class="col-lg-7 col-md-7 pull-right">
                                                                            <div class="form-group cost-data">
                                                                                <label for="">Net Cost :</label>
                                                                                <div class="input-group left-group">
                                                                                    <input type="text" class="form-control" id="" ng-model="finalNetAmount" readonly>
                                                                                    <div class="input-group-addon">$</div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </ng-form>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer" style="text-align:right;">
                                            <button type="button" class="blueBtn" data-dismiss="modal" ng-click="CancelMultipleAdAdjustment();">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-form>

<!-- Insertion Order Preview Modal-->
<ng-form name="OrdersDetailModalForm" novalidate>
    <div class="modal fade bs-example-modal-lg mampopup" id="ordersDetailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="row">
                                <button type="button" id="btnWord" style="padding:0px;border: none;" ng-click="exportDataWord()"><img title="Export to Word" src="{{iMISbaseUrl}}Areas/iMISAngular_Orders/image/word-icon.png" /></button>&nbsp;
                                <button type="button" id="btnExcel" style="padding:0px;border: none;" ng-click="exportDataExcel()"><img title="Export to Excel" src="{{iMISbaseUrl}}Areas/iMISAngular_Orders/image/excel-icon.png" /></button>&nbsp;
                                <button type="button" id="btnPDF" style="padding:0px;border: none;" ng-click="exportDataPdf()"><img title="Export to Pdf" src="{{iMISbaseUrl}}Areas/iMISAngular_Orders/image/pdf-icon.png" /></button>&nbsp;
                            </div>
                        </div>
                        <div class="col-sm-8">
                        </div>
                    </div>
                    <div id="exportable">
                        <div class="row">
                            <div class="col-sm-4">

                            </div>
                            <div class="col-sm-4" style="text-align:center">
                                <h3> <b>{{commonOrderDetail.CampaignName}}</b></h3>
                            </div>
                            <div class="col-sm-4" style="text-align:center">
                                <!--<img src="{{iMISbaseUrl}}Areas/iMISAngular_Orders/image/sample-logo.png" />-->
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-sm-12">
                                <table style="width: 100%;border:none">
                                    <tr style="width: 100%;">
                                        <td style="float: left;width: 50%;">
                                                <div><b>Advertiser:</b> <span>{{commonOrderDetail.AdvertiserName}}</span></div>
                                                <div ng-show="isAgency"><b>Agency:</b> <span>{{commonOrderDetail.AgencyName}}</span></div>
                                                <div><b>Bill To Contact:</b> <span>{{commonOrderDetail.ContactName}}</span></div>
                                                <div>
                                                    <b>Address:</b> <span id="addStreet"></span>
                                                    <span style="margin-left:65px">{{commonOrderDetail.City}},</span><br />
                                                    <span style="margin-left:65px">{{commonOrderDetail.PostalCode}},</span><br />
                                                    <span style="margin-left:65px">{{commonOrderDetail.Country}}</span>
                                                </div>
                                        </td>
                                        <td style="float: right;width: 35%;">
                                            <div>
                                                <div><b>Date:</b> <span>{{commonOrderDetail.CreatedDate}}</span></div>
                                                <div><b>Order #:</b> <span>{{commonOrderDetail.BuyId}}</span></div>
                                                <div id="commonDetaildv">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-sm-12">
                                <table>
                                    <thead>
                                        <tr style="border:1px solid black">
                                            <th width="15%" style="border:1px solid black">Media Asset</th>
                                            <th width="15%" style="border:1px solid black">Run Date</th>
                                            <th width="30%" style="border:1px solid black">Ad Details</th>
                                            <th width="10%" style="border:1px solid black">Unit</th>
                                            <th width="10%" style="border:1px solid black">Position</th>
                                            <th width="15%" style="border:1px solid black">Gross Cost</th>
                                            <th width="10%" style="border:1px solid black">Net Cost</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-if="isShowDefaultTable == false" ng-repeat="adjustment in selectedIssueMediaOrderData | toArray:false" style="border:1px solid black">
                                            <td width="15%" style="border:1px solid black">{{adjustment.MediaAssetName}}</td>
                                            <td width="15%" style="border:1px solid black">{{adjustment.IssueDate | date : "MM/dd/yyyy"}}</td>
                                            <td width="30%" style="border:1px solid black">{{adjustment.AdTypeName}} | {{adjustment.AdColorName}} | {{adjustment.AdSizeName}} | {{adjustment.FrequencyName}}</td>
                                            <td width="10%" style="border:1px solid black">{{adjustment.Units}} </td>
                                            <td width="10%" style="border:1px solid black">{{adjustment.PositionName}} </td>
                                            <td width="15%" style="border:1px solid black">${{adjustment.GrossCost  | number : 2}}</td>
                                            <td width="10%" style="border:1px solid black">${{adjustment.NetCost  | number : 2}}</td>
                                        </tr>
                                        <tr ng-if="isShowDefaultTable == true">
                                            <td colspan="11" class="setTextCenter">No Record is Found</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <br />
                        <div style="width:100%">
                            <table style="width: 100%;border:none">
                                <tr>
                                    <td colspan="3">
                                        <img ng-src="{{checkboxImagePath}}" height="16" width="16" />&nbsp; BILL ME UPON PUBLICATION. I AGREE TO PAY WITHIN 30 DAYS OF INVOICE.<br />
                                        <img ng-src="{{checkboxImagePath}}" height="16" width="16" />&nbsp; MY CHECK FOR US $__________ IS ENCLOSED (MADE PAYABLE TO TED)<br />
                                        <img ng-src="{{checkboxImagePath}}" height="16" width="16" />&nbsp; CHARGE MY CREDIT CARD UPON PUBLICATION FOR EACH SCHEDULED INSERTION: __ VISA __ MASTERCARD __ AMEX<br /><br />
                                        CARD NUMBER ___________________________________CVV Num ______ EXP. DATE __________ <br /> SIGNATURE ________________________
                                    </td>
                                </tr>
                                <tr style="width: 100%;border:none">
                                    <td style="width: 30%;"></td>
                                    <td style="width: 30%;"></td>
                                    <td style="width: 40%;">
                                        <br />
                                        <br />
                                        <br />
                                        <b> <span>_______________________________________________</span></b><br />
                                        <table>
                                            <tr>
                                                <td width="20%">Signature</td>
                                                <td width="60%"></td>
                                                <td width="20%">Date</td>
                                            </tr>
                                        </table>
                                        <!--<span>Signature</span><span style="display:inline-block; margin-left: 110px;">Date</span>-->
                                        <!--</span><span style="display:inline-block; margin-left: 150px;">-->
                                    </td>
                                </tr>
                                </table>                            
                        </div>

                        <div class="modal-footer">
                            <table>
                                <tr style="width: 100%;border:none">
                                    <td style="width:25%;text-align:center">
                                        <br /><br />
                                        <img ng-src="{{sampleLogoImagePath}}" height="60" width="300" />
                                    </td>
                                    <td style="width:50%;text-align:center">
                                        <br /><br />
                                        <b>THANK YOU! Fax this form or send to:</b><br /><br />
                                        <b>National Association of Electrical Distributors</b><br />
                                        P O Box 843703 Kansas City MO 64184-3703<br />
                                        P 888.791.2512 x317<br />
                                        F 314.991.3090<br />
                                    </td>
                                    <td style="width:25%;height:100%;"></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</ng-form>



<!-- Proposal Preview Modal-->
<ng-form name="ProposalModalForm" novalidate>
    <div class="modal fade bs-example-modal-lg mampopup" id="orderProposalModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="row">
                                <!--<button type="button" id="btnWordProposal" style="padding:0px;border: none;" ng-click="exportDataWord1()"><img src="{{iMISbaseUrl}}Areas/iMISAngular_Orders/image/word-icon.png" /></button>&nbsp;-->
                                <button type="button" id="btnWordProposal" style="padding:0px;border: none;" ng-click="exportProposalWord()"><img src="{{iMISbaseUrl}}Areas/iMISAngular_Orders/image/word-icon.png" /></button>&nbsp;
                                <button type="button" id="btnExcelProposal" style="padding:0px;border: none;" ng-click="exportProposalExcel()"><img src="{{iMISbaseUrl}}Areas/iMISAngular_Orders/image/excel-icon.png" /></button>&nbsp;
                                <button type="button" id="btnPDFProposal" style="padding:0px;border: none;" ng-click="exportProposalPdf()"><img src="{{iMISbaseUrl}}Areas/iMISAngular_Orders/image/pdf-icon.png" /></button>&nbsp;
                            </div>
                        </div>
                        <div class="col-sm-8">
                        </div>
                    </div>
                    <div id="exporProposal">
                        <div class="row">
                            <div class="col-sm-4">

                            </div>
                            <div class="col-sm-4" style="text-align:center">
                                <h3> <b>ORDER ACKNOWLEDGEMENT</b></h3>
                            </div>
                            <div class="col-sm-4" style="text-align:right">
                                <!--<img id="firstImage" ng-src="{{iMISbaseUrl}}Areas/iMISAngular_Orders/image/sample-logo.png" alt="" width="100" height="100">-->
                                <!--<img id="firstImage" ng-src="{{sampleLogoImagePath}}" width="100" >-->
                                <!--<img id="sampleLogo" ng-src="{{sampleLogoImagePath}}" width="100" height="100" />-->
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-sm-12">
                                <table style="width: 100%;border:none">
                                    <tr style="width: 100%;">
                                        <td style="float: left;width: 50%;">
                                            <div><b>Advertiser:</b> <span>{{commonOrderDetail.AdvertiserName}}</span></div>
                                            <div ng-show="isAgency"><b>Agency:</b> <span>{{commonOrderDetail.AgencyName}}</span></div>
                                            <div><b>Bill To Contact:</b> <span>{{commonOrderDetail.ContactName}}</span></div>
                                            <div>
                                                <b>Address:</b> <span id="addStreetProposal"></span>
                                                <span style="margin-left:65px">{{commonOrderDetail.City}},</span><br />
                                                <span style="margin-left:65px">{{commonOrderDetail.PostalCode}},</span><br />
                                                <span style="margin-left:65px">{{commonOrderDetail.Country}}</span>
                                            </div>
                                           </td>
                                        <td style="float: right;width: 35%;">
                                            <div>
                                                <div><b>Date:</b> <span>{{commonOrderDetail.CreatedDate}}</span></div>
                                                <div><b>Order #:</b> <span>{{commonOrderDetail.BuyId}}</span></div>
                                                <div id="commonDetaildvProposal">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-sm-12">
                                <table style="width:100%">
                                    <thead>
                                        <tr style="width:100%; border:1px solid black">
                                            <th width="15%" style="text-align:center">Media Asset</th>
                                            <th width="15%" style="text-align:center">Run Date</th>
                                            <th width="30%" style="text-align:center">Ad Details</th>
                                            <th width="10%" style="text-align:center">Unit</th>
                                            <th width="10%" style="text-align:center">Position</th>
                                            <th width="10%" style="text-align:center">Ad Cost</th>
                                            <th width="15%" style="text-align:center">Gross Cost</th>
                                            <th width="10%" style="text-align:center">Net Cost</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-if="isShowDefaultTable == false" ng-repeat="adjustment in selectedIssueMediaOrderDataDownload | toArray:false">
                                            <td colspan="9">
                                                <table style="width:100%">
                                                    <tr style="width:100%;border:1px solid black">
                                                        <td width="15%" style="border:1px solid black; text-align:center">{{adjustment.MediaAssetName}}</td>
                                                        <td width="15%" style="border:1px solid black; text-align:center">{{adjustment.IssueDate | date : "MM/dd/yyyy"}}</td>
                                                        <td width="30%" style="border:1px solid black; text-align:center">{{adjustment.AdTypeName}} | {{adjustment.AdColorName}} | {{adjustment.AdSizeName}} | {{adjustment.FrequencyName}}</td>
                                                        <td width="10%" style="border:1px solid black; text-align:center">{{adjustment.Units}} </td>
                                                        <td width="10%" style="border:1px solid black; text-align:center">{{adjustment.PositionName}} </td>
                                                        <td width="10%" style="border:1px solid black; text-align:center">${{adjustment.RateCardCost  | number : 2}} </td>
                                                        <td width="15%" style="border:1px solid black; text-align:center">${{adjustment.GrossCost  | number : 2}}</td>
                                                        <td width="10%" style="border:1px solid black; text-align:center">${{adjustment.NetCost  | number : 2}}</td>
                                                    </tr>
                                                    <tr style="width:100%;border:1px solid black">
                                                        <th colspan="2" style="text-align:center">Adjustment</th>
                                                        <th style="text-align:center">Value</th>
                                                        <th colspan="2" style="text-align:center">Amount</th>
                                                        <th colspan="3" style="text-align:center">Running Cost</th>
                                                    </tr>
                                                    <tr style="width:100%;border:1px solid black" ng-repeat="gAdjustment in adjustment.mediaIssueDateWiseAdjustments">
                                                        <td colspan="2" style="text-align:center">{{gAdjustment.AdAdjustmentName}}</td>
                                                        <td style="text-align:center"><span ng-if="gAdjustment.AmountPercent == false">$ </span>{{gAdjustment.AdjustmentValue}}<span ng-if="gAdjustment.AmountPercent == true"> %</span></td>
                                                        <td colspan="2" style="text-align:center"><span ng-if="gAdjustment.SurchargeDiscount == true">-</span>{{gAdjustment.tempAdjustmentAmount  | number : 2}}</td>

                                                        <td colspan="3" style="text-align:center">${{gAdjustment.runningCost  | number : 2}}</td>
                                                    </tr>
                                                    <!--<tr ng-if="isShowDefaultInnerTable == true" style="width:100%">
                                                        <td colspan="8" class="setTextCenter">No Record is Found</td>
                                                    </tr>-->
                                                </table>
                                            </td>
                                        </tr>
                                        <tr ng-if="isShowDefaultTable == true" style="width:100%">
                                            <td colspan="9" class="setTextCenter">No Record is Found</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <br />
                        <div>
                            <table style="width:100%">
                                <tr width="100%">
                                    <td width="40%" style="text-align:left">
                                        <b>
                                            <br /><br /><br />
                                            <span>NAME: ________________________</span>
                                        </b>
                                    </td>
                                    <td width="20%"></td>
                                    <td width="40%" style="text-align:right">
                                        <b>
                                            <br /><br /><br />
                                            <span>DATE: _______________________</span>
                                        </b>
                                    </td>
                                </tr>
                            </table>
                            
                        </div>
                        <div class="modal-footer">
                            <table>
                                <tr style="width: 100%;border:none">
                                    <td style="width:25%;text-align:center">
                                        <br /><br />
                                        <img ng-src="{{sampleLogoImagePath}}" height="60" width="300" />
                                    </td>
                                    <td style="width:50%;text-align:center">
                                        <br /><br />
                                        <b>THANK YOU! Fax this form or send to:</b><br /><br />
                                        <b>National Association of Electrical Distributors</b><br />
                                        P O Box 843703 Kansas City MO 64184-3703<br />
                                        P 888.791.2512 x317<br />
                                        F 314.991.3090<br />
                                    </td>
                                    <td style="width:25%;height:100%;"></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</ng-form>



