﻿
<ng-form>
    <div class="cost-details">
        <div class="buy-id pull-left">Buy ID : <span>{{adjustment.AdOrderId}}</span></div>
        <div class="cost pull-right">
            <div class="gross-cost pull-left">Gross Cost : $<span>{{GrossCost}}</span></div>
            <div class="net-cost pull-left">Net Cost : $<span>{{NetCost}}</span></div>
        </div>
    </div>

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="orders">
            <div class="main-tab-content">
                <div class="tabContent" style="border:none;">
                    <div class="tabContentArea" style="padding-top:0px;">
                        <div class="row">
                            <div class="table-responsive custom-table">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Media Asset</th>
                                            <th>Issue Date</th>
                                            <th>Order Status</th>
                                            <th>Ad Size</th>
                                            <th>Gross Cost($)</th>
                                            <th>Net Cost($)</th>
                                            <th>Ad Color</th>
                                            <th>Billing Method</th>
                                            <th>Impression</th>
                                            <th>Frequency</th>
                                            <th>Headline</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-if="isShowDefaultTable == false" ng-repeat="adjustment in issueDateWiseAdjustment | toArray:false ">
                                            <td>
                                                <label class="checkbox-inline" style="margin-bottom:18px;">
                                                    <input type="checkbox" id="{{adjustment.IssueDateId}}" ng-model="selectedIssueMediaOrder" ng-change="chechboxChange(adjustment)">
                                                </label>
                                            </td>
                                            <td>{{adjustment.MediaAssetName}}</td>
                                            <td>{{adjustment.IssueDate | date : "MM/dd/yyyy"}}</td>
                                            <td>{{adjustment.OrderStatus}}</td>
                                            <td>{{adjustment.AdSizeName}}</td>
                                            <td>{{adjustment.GrossCost}}</td>
                                            <td>{{adjustment.NetCost}}</td>
                                            <td>{{adjustment.AdColorName}}</td>
                                            <td>{{adjustment.MediaBillingMathodeName}}</td>
                                            <td>{{adjustment.Impressions}}</td>
                                            <td>{{adjustment.FrequencyName}}</td>
                                            <td>{{adjustment.Headline}}</td>
                                            <td>
                                                <a ng-click="deleteMediaOrderMediaLinesbyMediaOrderId(adjustment);" title="Delete" href="javascript:" style="width:13px;"><img ng-src="{{iMISbaseUrl}}/areas/imisAngular/image/delete-icon.png" alt="" /></a>
                                            </td>
                                        </tr>
                                        <tr ng-if="isShowDefaultTable == true">
                                            <td colspan="11" class="setTextCenter">No Record is Found</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div ng-if="isMultiple == true" class="col-md-12" style="text-align:center;padding-top:25px;">
                                <div class="row">
                                    <button type="button" class="blueBtn" id="btnMultipleAddAdjustment" ng-click="InitAdAdjustmentPopUpforMultiple();" data-toggle="modal" data-target="#multipleAdAdjustmentModal">Multiple Ad Adjustment</button>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <!--  Gross Amount-->
                            <ng-form name="GrossAdAdjustmentModalForm" novalidate>
                                <div class="col-md-6" style="padding-top:25px;padding-left:0px;">
                                    <div class="col-md-4" style="padding-left:0px;">
                                        <div class=" form-group" ng-class="{error:GrossAdAdjustmentModalForm.adAdjustment.$invalid}">
                                            <label for="AdAdjustment">Ad Adjustment </label>
                                            <div class="clearfix"></div>
                                            <select class="full-width custom-select" ui-select2="adAdjustmentSelect" ng-model="grossAdAdjustment.AdAdjustmentId" style="width: 100%"
                                                    ng-change="onAdjustmentChange()" name="adAdjustment" id="ddlAdAdjustment">
                                                <option value="">Select Ad Adjustment</option>
                                                <option ng-repeat="items in adAdjustments " value="{{items.AdAdjustmentId}}">{{items.AdAdjustmentName}}</option>
                                            </select>
                                            <div ng-show="GrossAdjustmentshowMsgs || GrossAdAdjustmentModalForm.adAdjustment.$touched && GrossAdAdjustmentModalForm.adAdjustment.$invalid && GrossAdAdjustmentModalForm.adAdjustment.$dirty  ">
                                                <div style="color:red;" ng-show="GrossAdAdjustmentModalForm.adAdjustment.$error.required">Ad Adjustment is required.</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group" ng-class="{error:GrossAdAdjustmentModalForm.AdAdjustmentValue.$invalid}">
                                            <label for="AdAdjustmentValue">{{amountType}}</label>
                                            <div class="clearfix"></div>
                                            <div class="input-group textbox-width">
                                                <input allow-decimal-numbers type="text" name="AdAdjustmentValue" class="form-control" id="txtAdAdjustmentValue" ng-model="grossAdAdjustment.AdjustmentValue">
                                                <div ng-if="isPercentage == true" class="input-group-addon ">%</div>
                                            </div>
                                            <div ng-show="GrossAdjustmentshowMsgs || GrossAdAdjustmentModalForm.AdAdjustmentValue.$invalid && GrossAdAdjustmentModalForm.AdAdjustmentValue.$dirty">
                                                <div style="color:red;" ng-show="GrossAdAdjustmentModalForm.AdAdjustmentValue.$error.required">Value is required.</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                        <button type="button" class="blueBtn" style="padding:0px;" id="btnAddAdjustment" ng-click=AdMediaOrderdAdjustment(grossAdAdjustment,insertMode)>Add</button>
                                    </div>
                                    <div class="col-md-3">
                                        <div class=""> Cost Amt. </div>
                                        <span class="input-group-addon">${{tempGrossAmount}}</span>
                                    </div>

                                    <div class="col-md-10">
                                        <div class="row">
                                            <div class="table-responsive custom-table">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th>
                                                                <!--<label class="checkbox-inline" style="margin-bottom:18px;">
                                                                    <input type="checkbox" id="">
                                                                </label>-->
                                                            </th>
                                                            <th>Name</th>
                                                            <th>Value</th>
                                                            <th>Amount($)</th>
                                                            <th>Running Total($)</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-if="isShowDefaultGrossAdjustmentTable == false" ng-repeat="gAdjustment in grossAdAdjustments | toArray:false | orderBy:'SequenceNumber' ">
                                                            <td>
                                                                <label class="checkbox-inline" style="margin-bottom:18px;">
                                                                    <input type="checkbox" ng-model="selectedGrossAdjustment" ng-change="onGrossChechboxChange(gAdjustment,selectedGrossAdjustment)">
                                                                </label>
                                                            </td>
                                                            <td bind-once>{{gAdjustment.AdAdjustmentName}}</td>
                                                            <td bind-once>{{gAdjustment.AdjustmentValue}}<span ng-if="gAdjustment.isPercentage == true"> %</span></td>
                                                            <td bind-once>{{gAdjustment.tempAdjustmentAmount}}</td>
                                                            <td bind-once>{{gAdjustment.tempRunningAmount}}</td>

                                                        </tr>
                                                        <tr ng-if="isShowDefaultGrossAdjustmentTable == true">
                                                            <td colspan="11" class="setTextCenter">No Record is Found</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <button type="button" class="blueBtn" style="padding:0px;" id="btnAddAdjustment" ng-click=moveRecordOneRowAbove()>Up</button>
                                        <button type="button" class="blueBtn" style="padding:0px;" id="btnAddAdjustment" ng-click=moveRecordOneRowBelow()>Down</button>
                                        <button type="button" class="blueBtn" style="padding:0px;" id="btnAddAdjustment" ng-click=deleteSelectedRecord()>Delete</button>
                                    </div>
                                    <div class="col-md-12">
                                        <div class=""> Gross Amt. </div>
                                        <span class="input-group-addon">${{finalGrossAmount}}</span>
                                    </div>
                                </div>
                            </ng-form>
                            <!--  Net Amount-->
                            <ng-form name="NetAdAdjustmentModalForm" novalidate>
                                <div class="col-md-6" style="padding-top:25px;padding-left:0px;">
                                    <div class="col-md-4" style="padding-left:0px;">
                                        <div class=" form-group" ng-class="{error:NetAdAdjustmentModalForm.adAdjustment.$invalid}">
                                            <label for="AdAdjustment">Ad Adjustment </label>
                                            <div class="clearfix"></div>
                                            <select class="full-width custom-select" ui-select2="adAdjustmentSelect" ng-model="netAdAdjustment.AdAdjustmentId" style="width: 100%"
                                                    ng-change="onNetAdjustmentChange()" name="adAdjustment" id="ddlNetAdAdjustment">
                                                <option value="">Select Ad Adjustment</option>
                                                <option ng-repeat="items in adAdjustments " value="{{items.AdAdjustmentId}}">{{items.AdAdjustmentName}}</option>
                                            </select>
                                            <div ng-show="NetAdjustmentshowMsgs || NetAdAdjustmentModalForm.adAdjustment.$touched && NetAdAdjustmentModalForm.adAdjustment.$invalid && NetAdAdjustmentModalForm.adAdjustment.$dirty  ">
                                                <div style="color:red;" ng-show="NetAdAdjustmentModalForm.adAdjustment.$error.required">Ad Adjustment is required.</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group" ng-class="{error:NetAdAdjustmentModalForm.AdAdjustmentValue.$invalid}">
                                            <label for="AdAdjustmentValue">{{netamountType}}</label>
                                            <div class="clearfix"></div>
                                            <div class="input-group textbox-width">
                                                <input allow-decimal-numbers type="text" name="AdAdjustmentValue" class="form-control" id="txtAdAdjustmentValue"
                                                       ng-model="netAdAdjustment.AdjustmentValue">
                                                <div ng-if="netisPercentage == true" class="input-group-addon ">%</div>
                                            </div>
                                            <div ng-show="NetAdjustmentshowMsgs || NetAdAdjustmentModalForm.AdAdjustmentValue.$invalid && NetAdAdjustmentModalForm.AdAdjustmentValue.$dirty">
                                                <div style="color:red;" ng-show="NetAdAdjustmentModalForm.AdAdjustmentValue.$error.required">Value is required.</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                        <button type="button" class="blueBtn" style="padding:0px;" id="btnNetAddAdjustment" ng-click=AdNetMediaOrderdAdjustment(netAdAdjustment,insertMode)>Add</button>
                                    </div>
                                    <div class="col-md-3">
                                        <div class=""> Cost Amt. </div>
                                        <span class="input-group-addon">${{tempNetAmount}}</span>
                                    </div>

                                    <div class="col-md-10">
                                        <div class="row">
                                            <div class="table-responsive custom-table">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th>
                                                                <!--<label class="checkbox-inline" style="margin-bottom:18px;">
                                                                    <input type="checkbox" id="">
                                                                </label>-->
                                                            </th>
                                                            <th>Name</th>
                                                            <th>Value</th>
                                                            <th>Amount($)</th>
                                                            <th>Running Total($)</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-if="isShowDefaultNetAdjustmentTable == false" ng-repeat="nAdjustment in netAdAdjustments | toArray:false || orderBy:'SequenceNumber' ">
                                                            <td>
                                                                <label class="checkbox-inline" style="margin-bottom:18px;">
                                                                    <input type="checkbox" id="{{nAdjustment.IssueDateId}}" ng-model="selectedNetAdjustment" ng-change="onNetChechboxChange(nAdjustment,selectedNetAdjustment)">
                                                                </label>
                                                            </td>
                                                            <td bind-once>{{nAdjustment.AdAdjustmentName}}</td>
                                                            <td bind-once>{{nAdjustment.AdjustmentValue}}<span ng-if="nAdjustment.isPercentage == true"> %</span></td>
                                                            <td bind-once>{{nAdjustment.tempAdjustmentAmount}}</td>
                                                            <td bind-once>{{nAdjustment.tempRunningAmount}}</td>

                                                        </tr>
                                                        <tr ng-if="isShowDefaultNetAdjustmentTable == true">
                                                            <td colspan="11" class="setTextCenter">No Record is Found</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <button type="button" class="blueBtn" style="padding:0px;" id="btnAddAdjustment" ng-click=moveOneNetRecordAbove()>Up</button>
                                        <button type="button" class="blueBtn" style="padding:0px;" id="btnAddAdjustment" ng-click=moveOneNetRecordBelow()>Down</button>
                                        <button type="button" class="blueBtn" style="padding:0px;" id="btnAddAdjustment" ng-click=deleteSelectedNetRecord()>Delete</button>
                                    </div>
                                    <div class="col-md-12">
                                        <div class=""> Gross Amt. </div>
                                        <span class="input-group-addon">${{finalNetAmount}}</span>
                                    </div>
                                </div>
                            </ng-form>

                            <div class="col-md-12" style="text-align:center;">
                                <div class="form-group">
                                    <label class="radio-inline">
                                        <input type="radio" name="ordersAdvertiser" ng-model="OrderType" value="Proposal" ng-change="changeRadioButton(OrderType);">Proposal
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="ordersAgency" ng-model="OrderType" value="Run" ng-change="changeRadioButton(OrderType);">Run
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="ordersAgency" ng-model="OrderType" value="Cancel" ng-change="changeRadioButton(OrderType);">Cancel
                                    </label>
                                    <label class="radio-inline">
                                        <button type="button" class="blueBtn" style="padding:0px;" id="btnOrderType" ng-click=UpdateOrderType(OrderType)>Update</button>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-form>


<!-- Multiple Ad Adjustment Modal-->

<ng-form>
    <div class="modal fade bs-example-modal-lg mampopup" id="multipleAdAdjustmentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="tabContentHeaderTitle form-group form-group10" style="margin-bottom:10px;">
                                    <a href="javascript:void(0);"><h6>AD ADJUSTMENT</h6></a>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <ng-form name="multipleGrossAdAdjustmentModalForm" novalidate>
                                    <div class="col-md-6" style="padding-top:25px;padding-left:0px;">
                                        <div class="col-md-4" style="padding-left:0px;">
                                            <div class=" form-group" ng-class="{error:multipleGrossAdAdjustmentModalForm.adAdjustment.$invalid}">
                                                <label for="AdAdjustment">Ad Adjustment </label>
                                                <div class="clearfix"></div>
                                                <select class="full-width custom-select" ui-select2="adAdjustmentSelect" ng-model="grossAdAdjustment.AdAdjustmentId" style="width: 100%"
                                                        ng-change="onAdjustmentChange()" name="adAdjustment" id="ddlAdAdjustmentM">
                                                    <option value="">Select Ad Adjustment</option>
                                                    <option ng-repeat="items in adAdjustments " value="{{items.AdAdjustmentId}}">{{items.AdAdjustmentName}}</option>
                                                </select>
                                                <div ng-show="multipleGrossAdjustmentshowMsgs || multipleGrossAdAdjustmentModalForm.adAdjustment.$touched && multipleGrossAdAdjustmentModalForm.adAdjustment.$invalid && multipleGrossAdAdjustmentModalForm.adAdjustment.$dirty  ">
                                                    <div style="color:red;" ng-show="multipleGrossAdAdjustmentModalForm.adAdjustment.$error.required">Ad Adjustment is required.</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group" ng-class="{error:multipleGrossAdAdjustmentModalForm.AdAdjustmentValue.$invalid}">
                                                <label for="AdAdjustmentValue">{{amountType}}</label>
                                                <div class="clearfix"></div>
                                                <div class="input-group textbox-width">
                                                    <input allow-decimal-numbers type="text" name="AdAdjustmentValue" class="form-control" id="txtAdAdjustmentValue" ng-model="grossAdAdjustment.AdjustmentValue">
                                                    <div ng-if="isPercentage == true" class="">%</div>
                                                </div>
                                                <div ng-show="multipleGrossAdjustmentshowMsgs || multipleGrossAdAdjustmentModalForm.AdAdjustmentValue.$invalid && multipleGrossAdAdjustmentModalForm.AdAdjustmentValue.$dirty">
                                                    <div style="color:red;" ng-show="multipleGrossAdAdjustmentModalForm.AdAdjustmentValue.$error.required">Value is required.</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1">
                                            <button type="button" class="blueBtn" style="padding:0px;" id="btnAddAdjustment" ng-click=AdMediaOrderdAdjustment(grossAdAdjustment,insertMode)>Add</button>
                                        </div>
                                        <div class="col-md-3">
                                            <div class=""> Cost Amt. </div>
                                            <span class="">${{tempGrossAmount}}</span>
                                        </div>

                                        <div class="col-md-10">
                                            <div class="row">
                                                <div class="table-responsive custom-table">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th>
                                                                    <!--<label class="checkbox-inline" style="margin-bottom:18px;">
                                                                        <input type="checkbox" id="">
                                                                    </label>-->
                                                                </th>
                                                                <th>Name</th>
                                                                <th>Value</th>
                                                                <th>Amount($)</th>
                                                                <th>Running Total($)</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-if="isShowDefaultGrossAdjustmentTable == false" ng-repeat="gAdjustment in grossAdAdjustments | toArray:false | orderBy:'SequenceNumber' ">
                                                                <td>
                                                                    <label class="checkbox-inline" style="margin-bottom:18px;">
                                                                        <input type="checkbox" ng-model="selectedGrossAdjustment" ng-change="onGrossChechboxChange(gAdjustment,selectedGrossAdjustment)">
                                                                    </label>
                                                                </td>
                                                                <td bind-once>{{gAdjustment.AdAdjustmentName}}</td>
                                                                <td bind-once>{{gAdjustment.AdjustmentValue}}<span ng-if="gAdjustment.isPercentage == true"> %</span></td>
                                                                <td bind-once>{{gAdjustment.tempAdjustmentAmount}}</td>
                                                                <td bind-once>{{gAdjustment.tempRunningAmount}}</td>

                                                            </tr>
                                                            <tr ng-if="isShowDefaultGrossAdjustmentTable == true">
                                                                <td colspan="11" class="setTextCenter">No Record is Found</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <button type="button" class="blueBtn" style="padding:0px;" id="btnAddAdjustment" ng-click=moveRecordOneRowAbove()>Up</button>
                                            <button type="button" class="blueBtn" style="padding:0px;" id="btnAddAdjustment" ng-click=moveRecordOneRowBelow()>Down</button>
                                            <button type="button" class="blueBtn" style="padding:0px;" id="btnAddAdjustment" ng-click=deleteSelectedRecord()>Delete</button>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="col-md-6"> Gross Amt. </div>
                                            <span class="">${{finalGrossAmount}}</span>
                                        </div>
                                    </div>
                                </ng-form>

                                <ng-form name="multipleNetAdAdjustmentModalForm" novalidate>
                                    <div class="col-md-6" style="padding-top:25px;padding-left:0px;">
                                        <div class="col-md-4" style="padding-left:0px;">
                                            <div class=" form-group" ng-class="{error:multipleNetAdAdjustmentModalForm.adAdjustment.$invalid}">
                                                <label for="AdAdjustment">Ad Adjustment </label>
                                                <div class="clearfix"></div>
                                                <select class="full-width custom-select" ui-select2="adAdjustmentSelect" ng-model="netAdAdjustment.AdAdjustmentId" style="width: 100%"
                                                        ng-change="onNetAdjustmentChange()" name="adAdjustment" id="ddlNetAdAdjustmentM">
                                                    <option value="">Select Ad Adjustment</option>
                                                    <option ng-repeat="items in adAdjustments " value="{{items.AdAdjustmentId}}">{{items.AdAdjustmentName}}</option>
                                                </select>
                                                <div ng-show="multipleNetAdjustmentshowMsgs || multipleNetAdAdjustmentModalForm.adAdjustment.$touched && multipleNetAdAdjustmentModalForm.adAdjustment.$invalid && multipleNetAdAdjustmentModalForm.adAdjustment.$dirty  ">
                                                    <div style="color:red;" ng-show="multipleNetAdAdjustmentModalForm.adAdjustment.$error.required">Ad Adjustment is required.</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group" ng-class="{error:multipleNetAdAdjustmentModalForm.AdAdjustmentValue.$invalid}">
                                                <label for="AdAdjustmentValue">{{netamountType}}</label>
                                                <div class="clearfix"></div>
                                                <div class="input-group textbox-width">
                                                    <input allow-decimal-numbers type="text" name="AdAdjustmentValue" class="form-control" id="txtAdAdjustmentValue"
                                                           ng-model="netAdAdjustment.AdjustmentValue">
                                                    <div ng-if="netisPercentage == true" class="">%</div>
                                                </div>
                                                <div ng-show="multipleNetAdjustmentshowMsgs || multipleNetAdAdjustmentModalForm.AdAdjustmentValue.$invalid && multipleNetAdAdjustmentModalForm.AdAdjustmentValue.$dirty">
                                                    <div style="color:red;" ng-show="multipleNetAdAdjustmentModalForm.AdAdjustmentValue.$error.required">Value is required.</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1">
                                            <button type="button" class="blueBtn" style="padding:0px;" id="btnNetAddAdjustment" ng-click=AdNetMediaOrderdAdjustment(netAdAdjustment,insertMode)>Add</button>
                                        </div>
                                        <div class="col-md-3">
                                            <div class=""> Cost Amt. </div>
                                            <span class="">${{tempNetAmount}}</span>
                                        </div>

                                        <div class="col-md-10">
                                            <div class="row">
                                                <div class="table-responsive custom-table">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th>
                                                                    <!--<label class="checkbox-inline" style="margin-bottom:18px;">
                                                                        <input type="checkbox" id="">
                                                                    </label>-->
                                                                </th>
                                                                <th>Name</th>
                                                                <th>Value</th>
                                                                <th>Amount($)</th>
                                                                <th>Running Total($)</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-if="isShowDefaultNetAdjustmentTable == false" ng-repeat="nAdjustment in netAdAdjustments | toArray:false || orderBy:'SequenceNumber' ">
                                                                <td>
                                                                    <label class="checkbox-inline" style="margin-bottom:18px;">
                                                                        <input type="checkbox" id="{{nAdjustment.IssueDateId}}" ng-model="selectedNetAdjustment" ng-change="onNetChechboxChange(nAdjustment,selectedNetAdjustment)">
                                                                    </label>
                                                                </td>
                                                                <td bind-once>{{nAdjustment.AdAdjustmentName}}</td>
                                                                <td bind-once>{{nAdjustment.AdjustmentValue}}<span ng-if="nAdjustment.isPercentage == true"> %</span></td>
                                                                <td bind-once>{{nAdjustment.tempAdjustmentAmount}}</td>
                                                                <td bind-once>{{nAdjustment.tempRunningAmount}}</td>

                                                            </tr>
                                                            <tr ng-if="isShowDefaultNetAdjustmentTable == true">
                                                                <td colspan="11" class="setTextCenter">No Record is Found</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <button type="button" class="blueBtn" style="padding:0px;" id="btnAddAdjustment" ng-click=moveOneNetRecordAbove()>Up</button>
                                            <button type="button" class="blueBtn" style="padding:0px;" id="btnAddAdjustment" ng-click=moveOneNetRecordBelow()>Down</button>
                                            <button type="button" class="blueBtn" style="padding:0px;" id="btnAddAdjustment" ng-click=deleteSelectedNetRecord()>Delete</button>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="col-md-6"> Gross Amt. </div>
                                            <span class="">${{finalNetAmount}}</span>
                                        </div>
                                    </div>
                                </ng-form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="blueBtn" data-dismiss="modal" ng-click="CancelMultipleAdAdjustment();">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</ng-form>




