﻿
<style>
    .noclick {
        pointer-events: none;
    }
</style>

<div>
    <div class="tabs-main-container">
        <ul class="nav nav-tabs" id="myTabs" role="tablist">
            <li role="presentation" ng-class="{'active':AdvertisersTab,  'noclick':AdvertisersDisable}"><a ui-sref=".Advertisers" ng-click="setAdvertisersTabActive()" role="tab" data-toggle="tab" aria-controls="dashboard">Advertisers</a></li>
            <li role="presentation" ng-class="{'active':OrdersTab,  'noclick':OrdersDisable}"><a ui-sref=".Orders" ng-click="setOrdersTabActive()" role="tab" data-toggle="tab" aria-controls="dashboard">Orders</a></li>
            <li role="presentation" ng-class="{'active':PostOrdersTab,  'noclick':PostOrdersDisable}"><a ui-sref=".PostOrders" ng-click="setPostOrdersTabActive()" role="tab" data-toggle="tab" aria-controls="dashboard">Post Orders</a></li>
            <li role="presentation" ng-class="{'active':MissingMaterialsTab,  'noclick':MissingMaterialsDisable}"><a ui-sref=".MissingMaterials" ng-click="setMissingMaterialsTabActive()" role="tab" data-toggle="tab" aria-controls="dashboard">Missing Materials</a></li>
            <li role="presentation" class="pull-right text-right"><a href="javascript:" ng-click="redirectToMediaOrder()" role="tab" data-toggle="tab" aria-controls="dashboard">Create Orders</a></li>
        </ul>
        <div class="tab-content">
        <div ui-view></div>
        </div>
    </div>
</div>