﻿
<style>
    .noRecordFound {
        color: #7f8fa4;
        font-size: 13px;
        font-weight: 600;
        white-space: nowrap;
    }

    .setPointer {
        cursor: pointer;
    }

    .customInput {
        border: 0 !important;
        border-bottom: 2px solid #dfe2e5 !important;
        border-radius: 0 !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        padding: 5px 0 !important;
    }

    .select2-chosen {
        color: #323232;
    }
</style>

<!--Advertiser-->
<script type="text/ng-template" id="advertiserPopover">
    <div class="triangle"> </div>
    <div class="ns-popover-tooltip">
        <div class="form-group">
            <button type="button" ng-click="hidePopover();setClearAllSearchFields(columnNames.AdvertiserName);" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class='form-group '>
            <label>Type</label>
            <select class='form-control customInput' ng-model='filter.AdverdtiserType' style='width: 100%;'>
                <option value='Equals'>Equals</option>
                <option value='Contains'>Contains</option>
                <option value='StartsWith'>StartsWith</option>
                <option value='EndsWith'>EndsWith</option>
            </select>
        </div>
        <div class='form-group '>
            <label>Value</label>
            <input type='text' class='form-control customInput' id="advertiserPopoverValue" ng-model='filter.AdverdtiserName'>
        </div>
        <button type='button' class='blueBtn' ng-click='searchbyAdvertiser(filter);'>Apply</button>
        <button type='button' class='resetBtn pull-right' ng-click='clearSearchFields(columnNames.AdvertiserName);'>Clear Filter</button>
    </div>
</script>

<!--Bill To Id-->
<script type="text/ng-template" id="billToIdPopover">
    <div class="triangle"> </div>
    <div class="ns-popover-tooltip">
        <div class="form-group">
            <button type="button" ng-click="hidePopover();setClearAllSearchFields(columnNames.AdvertiserId);" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class='form-group '>
            <label>Value</label>
            <input type='text' class='form-control customInput' id="billToIdPopoverValue" ng-model='filter.AdverdtiserId'>
        </div>
        <button type='button' class='blueBtn' ng-click='searchbyAdvertiserId(filter);'>Apply</button>
        <button type='button' class='resetBtn pull-right' ng-click='clearSearchFields(columnNames.AdvertiserId);'>Clear Filter</button>
    </div>
</script>

<!--Billing Contact-->
<script type="text/ng-template" id="billingContactPopover">
    <div class="triangle"> </div>
    <div class="ns-popover-tooltip">
        <div class="form-group">
            <button type="button" ng-click="hidePopover();setClearAllSearchFields(columnNames.billToContact);" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class='form-group '>
            <label>Type</label>
            <select class='form-control customInput' ng-model='filter.BillingContactType' style='width: 100%;'>
                <option value='Equals'>Equals</option>
                <option value='Contains'>Contains</option>
                <option value='StartsWith'>StartsWith</option>
                <option value='EndsWith'>EndsWith</option>
            </select>
        </div>
        <div class='form-group '>
            <label>Value</label>
            <input type='text' class='form-control customInput' id="billingContactPopoverValue" ng-model='filter.BillingContactName'>
        </div>
        <button type='button' class='blueBtn' ng-click='searchbyBillingContact(filter);'>Apply</button>
        <button type='button' class='resetBtn pull-right' ng-click='clearSearchFields(columnNames.billToContact);'>Clear Filter</button>
    </div>
</script>

<!--Ship To Id-->
<script type="text/ng-template" id="billToContactIdPopover">
    <div class="triangle"> </div>
    <div class="ns-popover-tooltip">
        <div class="form-group">
            <button type="button" ng-click="hidePopover();setClearAllSearchFields(columnNames.ST_ID);" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class='form-group '>
            <label>Value</label>
            <input type='text' class='form-control customInput' id="billToContactIdPopoverValue" ng-model='filter.BillingContactId'>
        </div>
        <button type='button' class='blueBtn' ng-click='searchbyBillingContactId(filter);'>Apply</button>
        <button type='button' class='resetBtn pull-right' ng-click='clearSearchFields(columnNames.ST_ID);'>Clear Filter</button>
    </div>
</script>

<!--Buy Id-->
<script type="text/ng-template" id="buyIdPopover">
    <div class="triangle"> </div>
    <div class="ns-popover-tooltip">
        <div class="form-group">
            <button type="button" ng-click="hidePopover();setClearAllSearchFields(columnNames.BuyId);" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class='form-group '>
            <label>Type</label>
            <select class='form-control customInput' ng-model='filter.BuyIdType' style='width: 100%;'>
                <option value='Equal'>Equals</option>
                <option value='GreaterThan'>GreaterThan</option>
                <option value='LessThan'>LessThan</option>
                <option value='GreaterOrEqual'>GreaterOrEqual</option>
                <option value='LessOrEqual'>LessOrEqual</option>
            </select>
        </div>
        <div class='form-group '>
            <label>Value</label>
            <input type='text' class='form-control customInput' id="buyIdPopoverValue" ng-model='filter.BuyId'>
        </div>
        <button type='button' class='blueBtn' ng-click='searchbyBuyId(filter);'>Apply</button>
        <button type='button' class='resetBtn pull-right' ng-click='clearSearchFields(columnNames.BuyId);'>Clear Filter</button>
    </div>
</script>


<!--Status-->
<script type="text/ng-template" id="statusPopover">
    <div class="triangle"> </div>
    <div class="ns-popover-tooltip">
        <div class="form-group">
            <button type="button" ng-click="hidePopover();setClearAllSearchFields(columnNames.Status);" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class='form-group '>
            <label>Status</label>
            <select class='form-control customInput' ng-model='filter.Status' style='width: 100%;'>
                <option value='Proposal'>Proposal</option>
                <option value='Run'>Run</option>
                <option value='Cancel'>Cancel</option>
            </select>
        </div>
        <button type='button' class='blueBtn' ng-click='searchbyStatus(filter);'>Apply</button>
        <button type='button' class='resetBtn pull-right' ng-click='clearSearchFields(columnNames.Status);'>Clear Filter</button>
    </div>
</script>

<!--Run Date From-->
<script type="text/ng-template" id="fromDatePopover">
    <div class="triangle"> </div>
    <div class="ns-popover-tooltip">
        <div class="form-group">
            <button type="button" ng-click="hidePopover();setClearAllSearchFields(columnNames.FlightStartDate);" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="form-group">
            <label for="">From Date</label>
            <div class="input-group date" data-date-format="mm/dd/yyyy">
                <input type="text" class="form-control datepicker" id="txtfFromDate" name="FromDate" ng-model="filter.fFromDate">
                <div class="input-group-addon">
                    <img ng-src="{{iMISbaseUrl}}/areas/iMISAngular_Orders/image/calendar-icon-bw.png" alt="" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="">To Date</label>
            <div class="input-group date" data-date-format="mm/dd/yyyy">
                <input type="text" class="form-control datepicker" id="txtftoDate" name="toDate" ng-model="filter.fToDate">
                <div class="input-group-addon">
                    <img ng-src="{{iMISbaseUrl}}/areas/iMISAngular_Orders/image/calendar-icon-bw.png" alt="" />
                </div>
            </div>
        </div>
        <button type='button' class='blueBtn' ng-click='searchbyFlightStartDate(filter);'>Apply</button>
        <button type='button' class='resetBtn pull-right' ng-click='clearSearchFields(columnNames.FlightStartDate);'>Clear Filter</button>
    </div>
</script>

<!--Run Date To-->
<script type="text/ng-template" id="toDatePopover">
    <div class="triangle"> </div>
    <div class="ns-popover-tooltip">
        <div class="form-group">
            <button type="button" ng-click="hidePopover();setClearAllSearchFields(columnNames.FlightEndDate);" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="form-group">
            <label for="">From Date</label>
            <div class="input-group date" data-date-format="mm/dd/yyyy">
                <input type="text" class="form-control datepicker" id="txttFromDate" name="FromDate" ng-model="filter.tFromDate">
                <div class="input-group-addon">
                    <img ng-src="{{iMISbaseUrl}}/areas/iMISAngular_Orders/image/calendar-icon-bw.png" alt="" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="">To Date</label>
            <div class="input-group date" data-date-format="mm/dd/yyyy">
                <input type="text" class="form-control datepicker" id="txtttoDate" name="toDate" ng-model="filter.tToDate">
                <div class="input-group-addon">
                    <img ng-src="{{iMISbaseUrl}}/areas/iMISAngular_Orders/image/calendar-icon-bw.png" alt="" />
                </div>
            </div>
        </div>
        <button type='button' class='blueBtn' ng-click='searchbyFlightEndDate(filter);'>Apply</button>
        <button type='button' class='resetBtn pull-right' ng-click='clearSearchFields(columnNames.FlightEndDate);'>Clear Filter</button>
    </div>
</script>

<!--Gross Amount-->
<script type="text/ng-template" id="grossAmountPopover">
    <div class="triangle"> </div>
    <div class="ns-popover-tooltip">
        <div class="form-group">
            <button type="button" ng-click="hidePopover();setClearAllSearchFields(columnNames.GrossCost);" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class='form-group '>
            <label>Type</label>
            <select class='form-control customInput' ng-model='filter.GrossAmountType' style='width: 100%;'>
                <option value='Equal'>Equals</option>
                <option value='GreaterThan'>GreaterThan</option>
                <option value='LessThan'>LessThan</option>
                <option value='GreaterOrEqual'>GreaterOrEqual</option>
                <option value='LessOrEqual'>LessOrEqual</option>
            </select>
        </div>
        <div class='form-group '>
            <label>Gross Amount</label>
            <input type='text' id="grossAmountPopoverGrossAmount" class='form-control customInput' ng-model='filter.GrossAmount'>
        </div>
        <button type='button' class='blueBtn' ng-click='searchbyGrossAmount(filter);'>Apply</button>
        <button type='button' class='resetBtn pull-right' ng-click='clearSearchFields(columnNames.GrossCost);'>Clear Filter</button>
    </div>
</script>

<!--Net Amount-->
<script type="text/ng-template" id="netAmountPopover">
    <div class="triangle"> </div>
    <div class="ns-popover-tooltip">
        <div class="form-group">
            <button type="button" ng-click="hidePopover();setClearAllSearchFields(columnNames.NetCost);" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class='form-group '>
            <label>Type</label>
            <select class='form-control customInput' ng-model='filter.NetAmountType' style='width: 100%;'>
                <option value='Equal'>Equals</option>
                <option value='GreaterThan'>GreaterThan</option>
                <option value='LessThan'>LessThan</option>
                <option value='GreaterOrEqual'>GreaterOrEqual</option>
                <option value='LessOrEqual'>LessOrEqual</option>
            </select>
        </div>
        <div class='form-group '>
            <label>Net Amount</label>
            <input type='text' id="netAmountPopoverNetAmount" class='form-control customInput' ng-model='filter.NetAmount'>
        </div>
        <button type='button' class='blueBtn' ng-click='searchbyNetAmount(filter);'>Apply</button>
        <button type='button' class='resetBtn pull-right' ng-click='clearSearchFields(columnNames.NetCost);'>Clear Filter</button>
    </div>
</script>

<ng-form>
    <div>
        <div class="tab-pane fade in active" role="tabpanel" id="orders" aria-labelledby="orders-tab">
            <div class="">
                <div class="table-responsive custom-table">
                    <table class="table">
                        <thead>
                            <tr>
                                <th id="advertiserPopover">
                                    Advertiser
                                    <a href="javascript:" ns-popover=""
                                       ns-popover-template="advertiserPopover"
                                       ns-popover-trigger="click"
                                       ns-popover-theme="ns-popover-tooltip-theme"
                                       ns-popover-placement="bottom"
                                       ns-popover-timeout="2000"
                                       ns-popover-hide-on-inside-click="false"
                                       ns-popover-hide-on-outside-click="true"
                                       ns-popover-hide-on-button-click="false">
                                        <img src="{{iMISbaseUrl}}Areas/iMISAngular_Orders/image/filter-icon.png" ng-click="setManuallyFocus()" alt="" />
                                    </a>
                                </th>
                                <th>
                                    Bill To Id
                                    <a href="javascript:" ns-popover=""
                                       ns-popover-template="billToIdPopover"
                                       ns-popover-trigger="click"
                                       ns-popover-theme="ns-popover-tooltip-theme"
                                       ns-popover-placement="bottom"
                                       ns-popover-timeout="2000"
                                       ns-popover-hide-on-inside-click="false"
                                       ns-popover-hide-on-outside-click="true"
                                       ns-popover-hide-on-button-click="false">
                                        <img src="{{iMISbaseUrl}}Areas/iMISAngular_Orders/image/filter-icon.png" ng-click="setManuallyFocusToBillId()" alt="" />
                                    </a>
                                </th>
                                <th>
                                    Billing Contact <a href="javascript:" ns-popover=""
                                                       ns-popover-template="billingContactPopover"
                                                       ns-popover-trigger="click"
                                                       ns-popover-theme="ns-popover-tooltip-theme"
                                                       ns-popover-placement="bottom"
                                                       ns-popover-timeout="2000"
                                                       ns-popover-hide-on-inside-click="false"
                                                       ns-popover-hide-on-outside-click="true"
                                                       ns-popover-hide-on-button-click="false">
                                        <img src="{{iMISbaseUrl}}Areas/iMISAngular_Orders/image/filter-icon.png" ng-click="setManuallyFocus()" alt="" />
                                    </a>
                                </th>
                                <th>
                                    Ship To Id <a href="javascript:" ns-popover=""
                                                  ns-popover-template="billToContactIdPopover"
                                                  ns-popover-trigger="click"
                                                  ns-popover-theme="ns-popover-tooltip-theme"
                                                  ns-popover-placement="bottom"
                                                  ns-popover-timeout="2000"
                                                  ns-popover-hide-on-inside-click="false"
                                                  ns-popover-hide-on-outside-click="true"
                                                  ns-popover-hide-on-button-click="false">
                                        <img src="{{iMISbaseUrl}}Areas/iMISAngular_Orders/image/filter-icon.png" ng-click="setManuallyFocus()" alt="" />
                                    </a>
                                </th>

                                <th>
                                    Buy Id <a href="javascript:" ns-popover=""
                                              ns-popover-template="buyIdPopover"
                                              ns-popover-trigger="click"
                                              ns-popover-theme="ns-popover-tooltip-theme"
                                              ns-popover-placement="bottom"
                                              ns-popover-timeout="2000"
                                              ns-popover-hide-on-inside-click="false"
                                              ns-popover-hide-on-outside-click="true"
                                              ns-popover-hide-on-button-click="false">
                                        <img src="{{iMISbaseUrl}}Areas/iMISAngular_Orders/image/filter-icon.png" ng-click="setManuallyFocus()" alt="" />
                                    </a>
                                </th>

                                <th>
                                    Status <a href="javascript:" ns-popover=""
                                              ns-popover-template="statusPopover"
                                              ns-popover-trigger="click"
                                              ns-popover-theme="ns-popover-tooltip-theme"
                                              ns-popover-placement="bottom"
                                              ns-popover-timeout="2000"
                                              ns-popover-hide-on-inside-click="false"
                                              ns-popover-hide-on-outside-click="true"
                                              ns-popover-hide-on-button-click="false">
                                        <img src="{{iMISbaseUrl}}Areas/iMISAngular_Orders/image/filter-icon.png" alt="" />
                                    </a>
                                </th>

                                <th>
                                    Run Date From <a href="javascript:" ns-popover=""
                                                     ns-popover-template="fromDatePopover"
                                                     ns-popover-trigger="click"
                                                     ns-popover-theme="ns-popover-tooltip-theme"
                                                     ns-popover-placement="bottom"
                                                     ns-popover-timeout="2000"
                                                     ns-popover-hide-on-inside-click="false"
                                                     ns-popover-hide-on-outside-click="true"
                                                     ns-popover-hide-on-button-click="false">
                                        <img src="{{iMISbaseUrl}}Areas/iMISAngular_Orders/image/filter-icon.png" ng-click="initDate()" alt="" />
                                    </a>
                                </th>

                                <th>
                                    Run Date To <a href="javascript:" ns-popover=""
                                                   ns-popover-template="toDatePopover"
                                                   ns-popover-trigger="click"
                                                   ns-popover-theme="ns-popover-tooltip-theme"
                                                   ns-popover-placement="bottom"
                                                   ns-popover-timeout="2000"
                                                   ns-popover-hide-on-inside-click="false"
                                                   ns-popover-hide-on-outside-click="true"
                                                   ns-popover-hide-on-button-click="false">
                                        <img src="{{iMISbaseUrl}}Areas/iMISAngular_Orders/image/filter-icon.png" ng-click="initDate()" alt="" />
                                    </a>
                                </th>

                                <th>
                                    Gross Cost <a href="javascript:" ns-popover=""
                                                  ns-popover-template="grossAmountPopover"
                                                  ns-popover-trigger="click"
                                                  ns-popover-theme="ns-popover-tooltip-theme"
                                                  ns-popover-placement="bottom"
                                                  ns-popover-timeout="2000"
                                                  ns-popover-hide-on-inside-click="false"
                                                  ns-popover-hide-on-outside-click="true"
                                                  ns-popover-hide-on-button-click="false">
                                        <img src="{{iMISbaseUrl}}Areas/iMISAngular_Orders/image/filter-icon.png" ng-click="setManuallyFocus()" alt="" />
                                    </a>
                                </th>

                                <th>
                                    Net Cost <a href="javascript:" ns-popover=""
                                                ns-popover-template="netAmountPopover"
                                                ns-popover-trigger="click"
                                                ns-popover-theme="ns-popover-tooltip-theme"
                                                ns-popover-placement="bottom"
                                                ns-popover-timeout="2000"
                                                ns-popover-hide-on-inside-click="false"
                                                ns-popover-hide-on-outside-click="true"
                                                ns-popover-hide-on-button-click="false">
                                        <img src="{{iMISbaseUrl}}Areas/iMISAngular_Orders/image/filter-icon.png" ng-click="setManuallyFocus()" alt="" />
                                    </a>
                                </th>
                                <th>Duplicate<a class="tip" tabindex="0" data-toggle="popover" data-trigger="focus" data-content="All Insertion Order will<br> be copied as well.">(?)</a></th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr ng-if="isShowDefaultTable == false" ng-repeat="order in pagedItems[currentPage] | orderBy:sortingOrder:reverse | toArray:false ">
                                <td>{{order.Advertiser}}</td>
                                <td class="text-right">{{order.AdvertiserId }}</td>
                                <td>{{order.billToContact}}</td>
                                <td class="text-right">{{order.ST_ID}}</td>
                                <td class="text-right">{{order.BuyId}}</td>
                                <td>
                                    <div style="color:#598edc;">Proposal ({{order.OrderStatus[0].Status == "Proposal" ? order.OrderStatus[0].NoOfOrders :  order.OrderStatus[1].Status == "Proposal" ? order.OrderStatus[1].NoOfOrders : order.OrderStatus[2].Status == "Proposal" ? order.OrderStatus[2].NoOfOrders : "0"}})</div>
                                    <div style="color:#53ba85;">Run      ({{order.OrderStatus[0].Status == "Run" ? order.OrderStatus[0].NoOfOrders :  order.OrderStatus[1].Status == "Run" ? order.OrderStatus[1].NoOfOrders : order.OrderStatus[2].Status == "Run" ? order.OrderStatus[2].NoOfOrders : "0"}})</div>
                                    <div style="color:#fe7271;">Cancel   ({{order.OrderStatus[0].Status == "Cancel" ? order.OrderStatus[0].NoOfOrders :  order.OrderStatus[1].Status == "Cancel" ? order.OrderStatus[1].NoOfOrders : order.OrderStatus[2].Status == "Cancel" ? order.OrderStatus[2].NoOfOrders : "0"}})</div>
                                </td>
                                <td>{{order.FlightStartDate | date : "MM/dd/yyyy"}}</td>
                                <td>{{order.FlightEndDate | date : "MM/dd/yyyy"}}</td>
                                <td class="text-right">${{order.GrossCost | number : 2}}</td>
                                <td class="text-right">${{order.NetCost | number : 2}}</td>
                                <td class="text-right">
                                    <a title="duplicate" data-toggle="modal" data-target="#duplicateIOModal" ng-click="duplicateIO(order.BuyId);" href="javascript:" style="width:75px;outline:none">
                                        <img ng-src="{{iMISbaseUrl}}/areas/iMISAngular_Orders/image/copy-icon.png" alt="duplicate" />
                                    </a>
                                </td>
                                <td>
                                    <a ng-click="editOrder(order.BuyId);" href="javascript:" title="Edit" style="width:75px;">
                                        <img ng-src="{{iMISbaseUrl}}/areas/iMISAngular_Orders/image/edit-icon.png" alt="" />
                                    </a>
                                </td>
                            </tr>
                            <tr ng-if="isShowDefaultTable == true">
                                <td colspan="11" class="setTextCenter noRecordFound">No Record is Found</td>
                            </tr>
                            <tr ng-if="isLoading == dataLoading">
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <!--<tr ng-if="dataLoading == true">
                                <td colspan="11" class="setTextCenter noRecordFound"> <span>Loading ... </span></td>
                            </tr>-->
                            <!--<tr ng-if="isLoading == dataLoading">
                                <td>
                                    <div data-loading> </div>
                                </td>
                                <td colspan="11" class="setTextCenter noRecordFound"> <span>Loading ... </span></td>
                            </tr>-->
                        </tbody>

                        <tfoot ng-if="isShowPagination == true">
                            <tr>
                                <td colspan="11" class="text-center">
                                    <ul class="pagination">
                                        <li ng-if="dataLoading == false" ng-class="{disabled: currentPage == 0}">
                                            <a href="javascript:" ng-click="prevPage()">
                                                <img src="{{iMISbaseUrl}}Areas/iMISAngular_Orders/image/pagination-previous.png" alt="" />
                                            </a>
                                        </li>
                                        <li ng-repeat="n in range(pagedItems.length)"
                                            ng-class="{active: n == currentPage}"
                                            ng-click="setPage()">
                                            <a href="javascript:" ng-bind="n + 1">1</a>
                                        </li>
                                        <li ng-if="dataLoading == false" ng-class="{disabled: currentPage == pagedItems.length - 1}">
                                            <a href="javascript:" ng-click="nextPage()">
                                                <img src="{{iMISbaseUrl}}Areas/iMISAngular_Orders/image/pagination-next.png" alt="" />
                                            </a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        </tfoot>

                    </table>
                    <div ng-if="isLoading == dataLoading">
                        <div class="dataLoad">
                            <div data-loading></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

</ng-form>


<ng-form name="DuplicateIOModalForm" novalidate>
    <div class="modal fade bs-example-modal-lg mampopup" id="duplicateIOModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <!--<div data-loading> </div>-->
                    <div class="row">
                        <div class="col-md-12">
                            <!--<div class="row">
                                <div class="col-sm-12" style="text-align:center">
                                    <h3> <b>DUPLICATE ORDER</b></h3>
                                </div>
                            </div>-->
                            <!--<div class="table-responsive custom-table">-->
                            <!--<div class="ClearFix"></div>-->
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="cost-details">
                                        <div class="buy-id pull-left">Advertiser : <span>{{AdvertiserName}}</span></div>
                                        <div class="cost pull-right">
                                            <div class="gross-cost pull-left">Buy ID : <span>{{issueDateWiseOrder[0].BuyId}}</span></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="ClearFix"></div>
                                <div class="col-sm-12">
                                    <table class="table adjustment-table order-duplicate-table" id="dublicateOrderTable">
                                        <thead>
                                            <tr>
                                                <th>
                                                    <input type="checkbox" class="checkall" ng-model="selectedAllDublicateOrders" ng-click="toggleAll()" />&nbsp; Include All
                                                </th>
                                                <th>Media Asset</th>
                                                <th>Issue Date</th>
                                                <th>Detail</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-show="isShowDefaultTable == false" ng-repeat="mediaorder in issueDateWiseOrder | toArray:false ">
                                                <td>
                                                    <input type="checkbox" class="checkthis" id="{{mediaorder.MediaOrderId}}" ng-model="selectedIssueMediaOrder[mediaorder.MediaOrderId]" ng-change="chechboxChange(mediaorder)">
                                                </td>
                                                <td>{{mediaorder.MediaAssetName}}</td>
                                                <td>
                                                    <select class="full-width custom-select" ui-select2="issuedateSelect" ng-model="mediaorder.IssueDateId" data-placeholder="Select IssueDate" style="width: 100%"
                                                            ng-change="chechboxChange(mediaorder)"
                                                            ng-options="items.IssueDateId as items.CoverDate | date : 'MM/dd/yyyy' for items in mediaorder.IssueDates"
                                                            name="IssueDate" id="ddlIssueDate_{{mediaorder.MediaOrderId}}">
                                                        <!--<option value="">Select IssueDate</option>-->
                                                        <!--<option ng-repeat="items in mediaorder.IssueDates " value="{{items.IssueDateId}}">{{items.CoverDate | date : "MM/dd/yyyy"}}</option>-->
                                                    </select>
                                                </td>
                                                <td>
                                                    {{mediaorder.AdTypeName }} | {{mediaorder.AdColorName }} |
                                                    {{mediaorder.AdSizeName }} | {{mediaorder.FrequencyName}}
                                                </td>
                                                <!--<td>
                                                    <a ng-click="editMediaOrderMediaLinesbyMediaOrderId(order.MediaOrderId);" href="javascript:" title="Edit"><img ng-src="{{iMISbaseUrl}}/areas/iMISAngular_Orders/image/edit-icon.png" alt="" /></a>
                                                    <a ng-click="deleteMediaOrderMediaLinesbyMediaOrderId(order);" title="Delete" href="javascript:" style="width:13px;"><img ng-src="{{iMISbaseUrl}}/areas/imisAngular/image/delete-icon.png" alt="" /></a>
                                                </td>-->
                                            </tr>
                                            <tr ng-if="isShowDefaultTable == true">
                                                <td colspan="11" class="setTextCenter">No Record is Found</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-4"></div>
                                <div class="col-md-2 col-sm-2" style="text-align:center">
                                    <button type="button" class="addRept" id="btnCopyBuy" ng-click="addDuplicate();">Copy Buy</button>
                                </div>
                                <div class="col-md-2 col-sm-2" style="text-align:center">
                                    <button type="button" class="addRept" data-dismiss="modal" id="btnCancle">Cancel</button>
                                </div>
                                <div class="col-md-4"></div>
                            </div>
                            <!--</div>-->
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</ng-form>