﻿<style>
    .noRecordFound {
        color: #7f8fa4;
        font-size: 13px;
        font-weight: 600;
        white-space: nowrap;
    }

    .setPointer {
        cursor: pointer;
    }
</style>

<ng-form>
    <div>
        <!--<div class="tab-content" id="myTabContent">-->
        <div class="tab-pane fade in active" role="tabpanel" id="advertisers" aria-labelledby="advertisers-tab">
            <div class="row">
                <div class="col-md-9">
                    <div class="quick-jump">
                        <span class="jump-label">QUICK JUMP : </span>
                        <div class="jump-letters">
                            <a ng-click="filterDataAlphabetsWise('A')" title="Quick jump to last initial A" class="jump-letter" tabindex="0">A</a><a ng-click="filterDataAlphabetsWise('B')" title="Quick jump to last initial B" class="jump-letter" tabindex="0">B</a><a ng-click="filterDataAlphabetsWise('C')" title="Quick jump to last initial C" class="jump-letter" tabindex="0">C</a><a ng-click="filterDataAlphabetsWise('D')" title="Quick jump to last initial D" class="jump-letter" tabindex="0">D</a><a ng-click="filterDataAlphabetsWise('E')" title="Quick jump to last initial E" class="jump-letter" tabindex="0">E</a><a ng-click="filterDataAlphabetsWise('F')" title="Quick jump to last initial F" class="jump-letter" tabindex="0">F</a><a ng-click="filterDataAlphabetsWise('G')" title="Quick jump to last initial G" class="jump-letter" tabindex="0">G</a><a ng-click="filterDataAlphabetsWise('H')" title="Quick jump to last initial H" class="jump-letter" tabindex="0">H</a><a ng-click="filterDataAlphabetsWise('I')" title="Quick jump to last initial I" class="jump-letter" tabindex="0">I</a><a ng-click="filterDataAlphabetsWise('J')" title="Quick jump to last initial J" class="jump-letter" tabindex="0">J</a><a ng-click="filterDataAlphabetsWise('K')" title="Quick jump to last initial K" class="jump-letter" tabindex="0">K</a><a ng-click="filterDataAlphabetsWise('L')" title="Quick jump to last initial L" class="jump-letter" tabindex="0">L</a><a ng-click="filterDataAlphabetsWise('M')" title="Quick jump to last initial M" class="jump-letter" tabindex="0">M</a><a ng-click="filterDataAlphabetsWise('N')" title="Quick jump to last initial N" class="jump-letter" tabindex="0">N</a><a ng-click="filterDataAlphabetsWise('O')" title="Quick jump to last initial O" class="jump-letter" tabindex="0">O</a><a ng-click="filterDataAlphabetsWise('P')" title="Quick jump to last initial P" class="jump-letter" tabindex="0">P</a><a ng-click="filterDataAlphabetsWise('Q')" title="Quick jump to last initial Q" class="jump-letter" tabindex="0">Q</a><a ng-click="filterDataAlphabetsWise('R')" title="Quick jump to last initial R" class="jump-letter" tabindex="0">R</a><a ng-click="filterDataAlphabetsWise('S')" title="Quick jump to last initial S" class="jump-letter" tabindex="0">S</a><a ng-click="filterDataAlphabetsWise('T')" title="Quick jump to last initial T" class="jump-letter" tabindex="0">T</a><a ng-click="filterDataAlphabetsWise('U')" title="Quick jump to last initial U" class="jump-letter" tabindex="0">U</a><a ng-click="filterDataAlphabetsWise('V')" title="Quick jump to last initial V" class="jump-letter" tabindex="0">V</a><a ng-click="filterDataAlphabetsWise('W')" title="Quick jump to last initial W" class="jump-letter" tabindex="0">W</a><a ng-click="filterDataAlphabetsWise('X')" title="Quick jump to last initial X" class="jump-letter" tabindex="0">X</a><a ng-click="filterDataAlphabetsWise('Y')" title="Quick jump to last initial Y" class="jump-letter" tabindex="0">Y</a><a ng-click="filterDataAlphabetsWise('Z')" title="Quick jump to last initial Z" class="jump-letter" tabindex="0">Z</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="search-container">
                        <!--<input name="" placeholder="Search Advertiser" type="text" ng-model="query" ng-change="search()">-->
                        <input name="" placeholder="Search Advertiser" type="text" ng-model="searchText" ng-keypress="onEnterGetAllPartySearchWise(searchText,$event)">
                        <!--<img class="setPointer" src="{{iMISbaseUrl}}Areas/iMISAngular_Orders/image/search-icon.png" alt="" ng-click="getAllPartySearchWise(searchText,$event)">-->
                        <img class="setPointer" src="{{iMISbaseUrl}}Areas/iMISAngular_Orders/image/search-icon.png" alt="" ng-click="onClickGetAllPartySearchWise(searchText)">
                    </div>
                </div>
            </div>
            <hr>
            <div class="advertiserCards">
                <div ng-if="isShowDefaultTable == false">
                    <div class="row">
                        <div class="col-md-4 col-sm-6 col-xs-6" ng-repeat="item in pagedItems[currentPage] | orderBy:sortingOrder:reverse">
                            <div class="advertiserCardsItem">
                                <h4>{{item.OrganizationName}}</h4>
                                <div class="keyContact">
                                    <strong>Billing Contact : </strong> {{item.contactName}}
                                </div>
                                <div class="orderCost">
                                    <a href="javascript:" ng-click="redirectToOrderTabByAdvertiser(item);">{{item.NoOfOrders}} Orders</a>
                                    <span><strong>Gross : </strong>${{item.GrossCost |  number : 2}}</span>
                                    <span><strong>Net : </strong>${{item.NetCost |  number : 2}}</span>
                                </div>
                                <button type="button" class="blueBtn" id="btnCreateNewOrder" ng-click=CreateNewOrder(item)>create new</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <ul class="pagination">
                                <li ng-if="dataLoading == false" ng-class="{disabled: currentPage == 0}">
                                    <a href="javascript:" ng-click="prevPage()">
                                        <img src="{{iMISbaseUrl}}Areas/iMISAngular_Orders/image/pagination-previous.png" alt="" />
                                    </a>
                                </li>
                                <li ng-repeat="n in range(pagedItems.length)"
                                    ng-class="{active: n == currentPage}"
                                    ng-click="setPage()">
                                    <a href="javascript:" ng-bind="n + 1">1</a>
                                </li>
                                <li ng-if="dataLoading == false" ng-class="{disabled: currentPage == pagedItems.length - 1}">
                                    <a href="javascript:" ng-click="nextPage()">
                                        <img src="{{iMISbaseUrl}}Areas/iMISAngular_Orders/image/pagination-next.png" alt="" />
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div ng-if="isShowDefaultTable == true">
                    <div colspan="11" class="setTextCenter noRecordFound"><span> No Record is Found </span></div>
                </div>
                <!--<div ng-if="dataLoading == true">
                    <div colspan="11" class="setTextCenter noRecordFound"> <span>Loading ... </span></div>
                </div>-->
            </div>
            <div ng-if="isLoading == dataLoading">
                <div class="dataLoad">
                    <div data-loading> </div>
                </div>
            </div>

        </div>
    </div>
</ng-form>