﻿<style>
    .select2-choices {
        border-radius: 4px;
    }

    .setTextCenter {
        text-align: center;
    }

    .select2-search-choice {
        border: none !important;
        background: #dfe2e5 !important;
        color: #354052 !important;
        font-weight: 600 !important;
        font-size: 13px !important;
        /*border-radius: 4px !important;*/
        cursor: default !important;
        margin-top: 5px !important;
    }

    .select2-choice {
        display: block !important;
        width: 100% !important;
        height: 34px !important;
        padding: 6px 12px !important;
        font-size: 14px !important;
        line-height: 1.42857143 !important;
        color: #555 !important;
        background-color: #fff !important;
        background-image: none !important;
        /*border: 1px solid #ccc !important;
        border-radius: 4px !important;*/
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
        -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s !important;
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s !important;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s !important;
        border: none !important;
        border-bottom: 2px solid #dfe2e5 !important;
        border-radius: 0 !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        padding-left: 0px !important;
    }

    .select2-arrow {
        background: no-repeat !important;
        border-left: 0px !important;
    }

    .no-click {
        pointer-events: none;
        cursor: default;
    }

    .select2-chosen {
        color: #999999;
    }


    .textbox-width {
        width: 100%;
    }

    /*.bg-white {
        background-color: #fff!important;
        border: 0;
        border-bottom: 2px solid #dfe2e5;
    }*/
</style>

<ng-form name="mediaScheduleForm" novalidate>
    <div class="cost-details">
        <div class="buy-id pull-left">Buy ID : <span>{{mediaSchedule.AdOrderId}}</span></div>
        <div class="cost pull-right">
            <div class="gross-cost pull-left">Gross Cost : $<span>{{GrossCost}}</span></div>
            <div class="net-cost pull-left">Net Cost : $<span>{{NetCost}}</span></div>
        </div>
    </div>

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="orders">
            <div class="main-tab-content">
                <div class="tabContent">
                    <div class="tabContentArea">
                        <div data-loading> </div>
                        <div class="row">
                            <div class="col-md-6 border-r">
                                <!--<div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group" ng-class="{error:mediaScheduleForm.CampaignName.$invalid}">
                                            <label for="CampaignName">Campaign Name<span class="mendatory">*</span></label>
                                            <input type="text" name="CampaignName" class="form-control" id="txtCampaignName" ng-model="mediaSchedule.CampaignName" placeholder="Enter Campaign Name" required="">
                                            <div ng-show="showMsgs || mediaScheduleForm.CampaignName.$touched && mediaScheduleForm.CampaignName.$invalid && mediaScheduleForm.CampaignName.$dirty">
                                                <div style="color:red;" ng-show="mediaScheduleForm.CampaignName.$error.required">Campaign Name is required.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>-->
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group" ng-class="{error:mediaScheduleForm.Media.$invalid}">
                                            <label for="MediaAsset">Media Asset <span class="mendatory">*</span></label>
                                            <div class="clearfix"></div>
                                            <select class="full-width custom-select" ng-model="mediaSchedule.MediaAssetId" ui-select2="MediaAssetSelect" id="ddlMediaAsset" style="width: 100%" data-placeholder="Select MediaAsset"
                                                    ng-change="changeMediaAsset()" ng-options="items.mediaAssetId as items.mediaAssetName for items in mediaAssets" name="Media" required="" ng-disabled="dvIssueDate">
                                                <option value="">Select Media Asset</option>
                                            </select>
                                            <div ng-show="showMsgs || mediaScheduleForm.Media.$touched && mediaScheduleForm.Media.$invalid && mediaScheduleForm.Media.$dirty">
                                                <div style="color:red;" ng-show="mediaScheduleForm.Media.$error.required">Media Asset is required.</div>
                                            </div>
                                        </div>


                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group" ng-class="{error:mediaScheduleForm.RateCard.$invalid}">
                                            <label for="RateCard">Rate Card <span class="mendatory">*</span></label>
                                            <div class="clearfix"></div>
                                            <select class="full-width custom-select" ng-model="mediaSchedule.RateCardId" ui-select2="RateCardSelect" id="ddlRateCard" style="width: 100%" data-placeholder="Select RateCard"
                                                    ng-change="changeRateCard()" ng-options="items.RateCardId as items.rateCardDetail for items in rateCards" required="" name="RateCard">
                                                <option value="">Select Rate Card</option>
                                            </select>
                                            <div ng-show="showMsgs || mediaScheduleForm.RateCard.$touched && mediaScheduleForm.RateCard.$invalid && mediaScheduleForm.RateCard.$dirty">
                                                <div style="color:red;" ng-show="mediaScheduleForm.RateCard.$error.required">Rate Card is required.</div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-4" ng-show="dvAdSize">
                                        <div class="form-group" ng-class="{error:mediaScheduleForm.AdSize.$invalid}">
                                            <label for="AdSize">{{lblAdSize}} <span class="mendatory">*</span></label>
                                            <div class="clearfix"></div>
                                            <select class="full-width custom-select" ng-model="mediaSchedule.AdSizeId" ui-select2="AdSizeSelect" id="ddlAdSize" style="width: 100%" data-placeholder="{{lblAdSize}}"
                                                    ng-options="items.AdSizeId as items.AdSizeName for items in adSizes" ng-change="changeAdSize()" name="AdSize" required="">
                                                <option value="">Select {{lblAdSize}}</option>
                                            </select>
                                            <div ng-show="showMsgs || mediaScheduleForm.AdSize.$touched && mediaScheduleForm.AdSize.$invalid && mediaScheduleForm.AdSize.$dirty">
                                                <div style="color:red;" ng-show="mediaScheduleForm.AdSize.$error.required">Ad Size is required.</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4" ng-show="dvAdColor">
                                        <div class="form-group" ng-class="{error:mediaScheduleForm.AdColor.$invalid}">
                                            <label for="AdColor">Ad Color <span class="mendatory">*</span></label>
                                            <div class="clearfix"></div>
                                            <!--ng-options="items.AdColorId as items.AdColorName for items in adColors"-->
                                            <select class="full-width custom-select" ng-model="mediaSchedule.AdColorId" ui-select2="AdColorSelect" id="ddlAdColor" style="width: 100%" data-placeholder="Select Ad Color"
                                                    ng-options="items.AdColorId as items.AdColorName for items in adColors" ng-change="changeAdColor()" name="AdColor" required="">
                                                <option value="">Select Ad Color</option>
                                                <!--<option ng-repeat="items in adColors track by items.AdColorId" value="{{items.AdColorId}}">{{items.AdColorName}}</option>-->
                                            </select>
                                            <div ng-show="showMsgs || mediaScheduleForm.AdColor.$touched && mediaScheduleForm.AdColor.$invalid && mediaScheduleForm.AdColor.$dirty">
                                                <div style="color:red;" ng-show="mediaScheduleForm.AdColor.$error.required">Ad Color is required.</div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-md-4" ng-show="dvFrequency">
                                        <div class="form-group" ng-class="{error:mediaScheduleForm.frequency.$invalid}">
                                            <label for="frequency">Frequency <span class="mendatory">*</span></label>
                                            <div class="clearfix"></div>
                                            <select class="full-width custom-select" ng-model="mediaSchedule.FrequencyId" ui-select2="frequencySelect" id="ddlfrequency" style="width: 100%" data-placeholder="Select Frequency"
                                                    ng-options="items.FrequencyId as items.FrequencyName for items in frequencies" ng-change="changeFrequency()" name="frequency" required="">
                                                <option value="">Select Frequency</option>
                                            </select>
                                            <div ng-show="showMsgs ||mediaScheduleForm.frequency.$touched && mediaScheduleForm.frequency.$invalid && mediaScheduleForm.frequency.$dirty">
                                                <div style="color:red;" ng-show="mediaScheduleForm.frequency.$error.required">Frequency is required.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4" ng-show="dvNoOfInsert">
                                        <div class="form-group">
                                            <label for="NoOfInsert">No Of Inserts</label>
                                            <div class="clearfix"></div>
                                            <input type="text" allow-decimal-numbers ng-change="changeNoOfInserts()" name="NoOfInsert" class="form-control" id="txtNoOfInserts" ng-model="mediaSchedule.NoOfInserts" placeholder="Enter NoOfInsert">
                                            <!--<div ng-show="showMsgs || mediaScheduleForm.NoOfInsert.$touched && mediaScheduleForm.NoOfInsert.$invalid && mediaScheduleForm.NoOfInsert.$dirty">
                                                <div style="color:red;" ng-show="mediaScheduleForm.NoOfInsert.$error.required">No Of Insert is required.</div>
                                            </div>-->
                                        </div>
                                    </div>
                                    <div class="col-md-4" ng-show="dvImpression">
                                        <div class="form-group">
                                            <label for="Impression">Impression</label>
                                            <div class="clearfix"></div>
                                            <input type="text" allow-decimal-numbers name="Impression" class="form-control" id="txtImpression" ng-model="mediaSchedule.Impression" placeholder="Enter Impression">
                                            <!--<div ng-show="showMsgs || mediaScheduleForm.NoOfInsert.$touched && mediaScheduleForm.NoOfInsert.$invalid && mediaScheduleForm.NoOfInsert.$dirty">
                                                <div style="color:red;" ng-show="mediaScheduleForm.NoOfInsert.$error.required">No Of Insert is required.</div>
                                            </div>-->
                                        </div>
                                    </div>
                                    <div class="col-md-4" ng-show="dvColumn">
                                        <div class="form-group">
                                            <label for="Column">Column </label>
                                            <div class="clearfix"></div>
                                            <input type="text" allow-decimal-numbers ng-change="changeColInch()" name="Column" class="form-control" id="txtColumn" ng-model="mediaSchedule.Column" placeholder="Enter Column">
                                        </div>
                                    </div>
                                    <div class="col-md-4" ng-show="dvInches">
                                        <div class="form-group">
                                            <label for="Inches">Inches</label>
                                            <div class="clearfix"></div>
                                            <input type="text" allow-decimal-numbers-dot ng-change="changeColInch()" name="Inches" class="form-control" id="txtInches" ng-model="mediaSchedule.Inches" placeholder="Enter Inches">
                                        </div>
                                    </div>
                                    <div class="col-md-4" ng-show="dvAdSizeTextbox">
                                        <div class="form-group">
                                            <label for="AdSizeTextbox">Ad Size</label>
                                            <div class="clearfix"></div>
                                            <input type="text" name="AdSizeTextbox" class="form-control" id="txtAdSizeTextbox" ng-model="mediaSchedule.AdSize" placeholder="Enter AdSize" disabled>
                                            <!--<div ng-show="showMsgs || mediaScheduleForm.AdSizeTextbox.$touched && mediaScheduleForm.AdSizeTextbox.$invalid && mediaScheduleForm.AdSizeTextbox.$dirty">
                                                <div style="color:red;" ng-show="mediaScheduleForm.AdSizeTextbox.$error.required">Ad Size is required.</div>
                                            </div>-->
                                        </div>
                                    </div>
                                    <div class="col-md-12" ng-show="dvClassifiedText">
                                        <div class="form-group" ng-class="{error:mediaScheduleForm.ClassifiedText.$invalid}">
                                            <label for="ClassifiedText">Classified Text<span class="mendatory">*</span></label>
                                            <label for="ClassifiedTextNote" class="pull-right">Total Words: {{TotalWords}}</label>
                                            <div class="clearfix"></div>
                                            <textarea type="text" name="ClassifiedText" rows="4" style="resize:none" class="form-control" id="txtClassifiedText" ng-model="mediaSchedule.ClassifiedText" ng-change="changeClassifiedText()" placeholder="Enter Classified Text" ng-required="isRequired"> </textarea>
                                            <label for="ClassifiedTextNote">{{ClassifiedTextNote}}</label>
                                            <div ng-show="showMsgs || mediaScheduleForm.ClassifiedText.$touched && mediaScheduleForm.ClassifiedText.$invalid && mediaScheduleForm.ClassifiedText.$dirty">
                                                <div style="color:red;" ng-show="mediaScheduleForm.ClassifiedText.$error.required">Classified Text is required.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group" ng-class="{error:mediaScheduleForm.RateCardCost.$invalid}">
                                            <label for="RateCardCost">Rate Card Cost<span class="mendatory">*</span> </label>
                                            <div class="clearfix"></div>
                                            <div class="input-group textbox-width left-group">
                                                <div class="input-group-addon ">$</div>
                                                <input allow-decimal-numbers type="text" name="RateCardCost" ng-change="changeRateCardCost()" class="form-control" id="txtRateCardCost" ng-model="mediaSchedule.RateCardCost" placeholder="Rate Card Cost" required="">

                                            </div>
                                        </div>
                                        <div ng-show="showMsgs || mediaScheduleForm.RateCardCost.$touched && mediaScheduleForm.RateCardCost.$invalid && mediaScheduleForm.RateCardCost.$dirty">
                                            <div style="color:red;" ng-show="mediaScheduleForm.RateCardCost.$error.required">Rate Card Cost is required.</div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group" ng-class="{error:mediaScheduleForm.AdCost.$invalid}">
                                            <label for="AdCost">Ad Cost </label>
                                            <div class="clearfix"></div>
                                            <div class="input-group disabled textbox-width left-group">
                                                <div class="input-group-addon">$</div>
                                                <input allow-decimal-numbers type="text" name="AdCost" class="form-control" id="txtAdCost" placeholder="Ad Cost" ng-model="mediaSchedule.AdCost" disabled>
                                            </div>
                                        </div>

                                    </div>
                                    <div>
                                        <input type="hidden" name="Cost" id="txtCost" ng-model="mediaSchedule.BaseCost" hidden>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="">Issue Date <span class="mendatory">*</span></label>
                                            <div class="clearfix"></div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="input-group date" data-date-format="mm/dd/yyyy">
                                                        <input type="text" class="form-control datepicker" id="txtFromDate" name="FromDate" ng-model="mediaSchedule.FromDate" placeholder="Select Date" required ng-disabled="dvIssueDate">
                                                        <div class="input-group-addon">
                                                            <img ng-src="{{iMISbaseUrl}}/areas/iMISAngular_Orders/image/calendar-icon-bw.png" alt="" ng-disabled="dvIssueDate" />
                                                        </div>
                                                        <div ng-show=" showMsgs || mediaScheduleForm.FromDate.$invalid && mediaScheduleForm.FromDate.$dirty">
                                                            <div style="color:red" ng-show="mediaScheduleForm.FromDate.$error.required">From date is required.</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="input-group date" data-date-format="mm/dd/yyyy">
                                                        <input type="text" class="form-control datepicker" id="txtToDate" name="ToDate" ng-model="mediaSchedule.ToDate" placeholder="Select Date" required ng-disabled="dvIssueDate">
                                                        <div class="input-group-addon">
                                                            <img ng-src="{{iMISbaseUrl}}/areas/iMISAngular_Orders/image/calendar-icon-bw.png" alt="" ng-disabled="dvIssueDate" />
                                                        </div>
                                                        <div ng-show="showMsgs || mediaScheduleForm.AdClosingDate.$dirty && mediaScheduleForm.AdClosingDate.$invalid">
                                                            <div style="color:red" ng-show="mediaScheduleForm.ToDate.$error.required">To date is required.</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="clearfix"></div>
                                    <div class="col-md-12">
                                        <div class="issuedates-range">
                                            <div class="row" id="dvGroup">
                                                <!--<div class="col-md-6">
                                                    <label class="checkbox-inline">
                                                        <input type="checkbox" id="inlineCheckbox1" value="option1"> 1/1/2018, January 2018
                                                    </label>
                                                </div>-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group pull-right">
                                    <button type="button" class="blueBtn createBtn" id="btnOrders" ng-click="SaveMediaSchedule(mediaSchedule);">Add To Buy</button>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group pull-right">
                                    <button type="button" class="blueBtn createBtn" ng-click="redirectToMediaOrderAdjustmentTab()">
                                        Next
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</ng-form>
