﻿<style>

</style>

<ng-form>
    <div>
        <div role="tabpanel" class="tab-pane fade in active" id="orders">
            <!--<div class="main-tab-content">
                <div class="tabContent">
                    <div class="tabContentArea" style="padding-top:0px;">-->
            <!--<div data-loading> </div>-->
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="MediaAsset">Media Asset </label>
                        <div class="clearfix"></div>
                        <select class="full-width custom-select" ui-select2="mediaAssetSelect" ng-model="MissingMaterial.MediaAssetId" data-placeholder="Select Media Asset" style="width: 100%"
                                ng-change="onChangeMediaAsset();" name="MediaAsset" id="ddlMediaAsset">
                            <option value="">Select Media Asset</option>
                            <option ng-repeat="items in MediaAssets " value="{{items.mediaAssetId}}">{{items.mediaAssetName}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="IssueDate">Issue Date </label>
                        <div class="clearfix"></div>
                        <select class="full-width custom-select" ng-model="MissingMaterial.IssueDateId" ui-select2="IssueDateSelect" id="ddlIssueDate" style="width: 100%" data-placeholder="Select Issue Date"
                                ng-change="onChangeIssueDate();" name="IssueDate">
                            <option value="">Select Issue Date</option>
                            <option ng-repeat="items in IssueDates " value="{{items.IssueDateId}}">{{items.CoverDate | date : "MM/dd/yyyy"}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6 ">
                    <div class="form-group">
                        <label for="BlankSpace"> &nbsp; </label>
                        <div class="clearfix"></div>
                        <button type="button" ng-click="searchOrdersbyMediaAsset(MissingMaterial)" class="blueBtn createBtn">GO</button>
                    </div>
                </div>
            </div>
            <!--Order data-->
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive custom-table">
                        <table class="table post-orders-table">
                            <thead>
                                <tr>
                                    <!--<th><input type="checkbox" class="checkall" /></th>-->
                                    <th>Advertiser</th>
                                    <th class="text-right">Bill to ID</th>
                                    <th class="text-right">Ship to ID</th>
                                    <th class="text-right">Gross Cost</th>
                                    <th class="text-right">Net Cost</th>
                                    <th>Description</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <!--<tr ng-if="isShowDefaultTable == false" ng-repeat="POrder in MissingMaterials | toArray:false ">-->
                                <tr ng-if="isShowDefaultTable == false" ng-repeat="POrder in pagedItems[currentPage] | orderBy:sortingOrder:reverse | toArray:false ">
                                    <!--<td>
                                        <input type="checkbox" class="checkthis" id="{{adjustment.MediaOrderId}}" ng-model="selectedIssueMediaOrder[adjustment.MediaOrderId]" ng-change="chechboxChange(adjustment)">
                                    </td>-->
                                    <td>{{POrder.AdvertiserName}}</td>
                                    <td class="text-right">{{POrder.BT_ID}}</td>
                                    <td class="text-right">{{POrder.ST_ID}}</td>
                                    <td class="text-right">${{POrder.GrossCost  | number : 2}}</td>
                                    <td class="text-right">${{POrder.NetCost  | number : 2}}</td>
                                    <td>
                                        {{POrder.AdTypeName }} | {{POrder.AdcolorName }} |
                                        {{POrder.AdSizeName }} | {{POrder.FrequencyName}}
                                    </td>
                                    <td class="text-right">
                                        <a ng-click="editOrder(POrder.BuyId);" href="javascript:" title="Edit" style="width:75px;">
                                            <img ng-src="{{iMISbaseUrl}}/areas/iMISAngular_Orders/image/edit-icon.png" alt="" />
                                        </a>
                                        <a ng-click="deleteMediaOrder(POrder.MediaOrderId);" title="Delete" href="javascript:" style="width:13px;">
                                            <img ng-src="{{iMISbaseUrl}}/areas/iMISAngular_Orders/image/delete-icon.png" alt="" />
                                        </a>
                                    </td>
                                </tr>
                                <tr ng-if="isShowDefaultTable == true">
                                    <td colspan="11" class="setTextCenter">No Record is Found</td>
                                </tr>
                                <tr ng-if="isLoading == dataLoading">
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                                <!--<tr ng-if="dataLoading == true">
                                    <td colspan="11" class="settextcenter norecordfound" style="height:70px;"> <span> Loading ... </span></td>
                                </tr>-->
                            </tbody>

                            <tfoot ng-if="isShowPagination == true">
                                <tr>
                                    <td colspan="11" class="text-center">
                                        <ul class="pagination">
                                            <li ng-if="dataLoading == false" ng-class="{disabled: currentPage == 0}">
                                                <a href="javascript:" ng-click="prevPage()">
                                                    <img src="{{iMISbaseUrl}}Areas/iMISAngular_Orders/image/pagination-previous.png" alt="" />
                                                </a>
                                            </li>
                                            <li ng-repeat="n in range(pagedItems.length)"
                                                ng-class="{active: n == currentPage}"
                                                ng-click="setPage()">
                                                <a href="javascript:" ng-bind="n + 1">1</a>
                                            </li>
                                            <li ng-if="dataLoading == false" ng-class="{disabled: currentPage == pagedItems.length - 1}">
                                                <a href="javascript:" ng-click="nextPage()"><img src="{{iMISbaseUrl}}Areas/iMISAngular_Orders/image/pagination-next.png" alt="" /></a>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>

                        <div ng-if="isLoading == dataLoading">
                            <div class="dataLoad">
                                <div data-loading></div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!--</div>
                </div>
            </div>-->
        </div>
    </div>
</ng-form>