﻿
<style>
    .noclick {
        pointer-events: none;
    }
</style>

<div>
    <div class="step-wizard order-management-content">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" ng-class="{'active':OrderTab,  'noclick':OrderDisable}"><a ui-sref=".orders" ng-click="setOrdersTabActive()" aria-controls="order" role="tab" data-toggle="tab">Step 1 : Billing Details</a></li>
            <li role="presentation" ng-class="{'active':MediaScheduleTab,  'noclick':MediaScheduleDisable}"><a ui-sref=".mediaSchedule({AdOrderId: tabOrderId})" ng-click="setMediaScheduleTabActive()" aria-controls="order" role="tab" data-toggle="tab">Step 2 : Media Schedule</a></li>
            <li role="presentation" ng-class="{'active':AdjustmentTab,  'noclick':AdjustmentDisable}"><a ui-sref=".adjustment({AdOrderId: tabOrderId})" ng-click="setAdjustmentTabActive()" aria-controls="order" role="tab" data-toggle="tab">Step 3 : Adjustments</a></li>
            <li role="presentation" ng-class="{'active':ProductionTab,  'noclick':ProductionDisable}"><a ui-sref=".production({AdOrderId: tabOrderId})" ng-click="setProductionTabActive()" aria-controls="order" role="tab" data-toggle="tab">Step 4 : Production Details</a></li>
        </ul>
        <div ui-view></div>
    </div>
</div>