﻿<style>
    .select2-choices {
        border-radius: 4px;
    }

    .setTextCenter {
        text-align: center;
    }

    .select2-search-choice {
        border: none !important;
        background: #dfe2e5 !important;
        color: #354052 !important;
        font-weight: 600 !important;
        font-size: 13px !important;
        /*border-radius: 4px !important;*/
        cursor: default !important;
        margin-top: 5px !important;
    }

    .select2-choice {
        display: block !important;
        width: 100% !important;
        height: 34px !important;
        padding: 6px 12px !important;
        font-size: 14px !important;
        line-height: 1.42857143 !important;
        color: #555 !important;
        background-color: #fff !important;
        background-image: none !important;
        /*border: 1px solid #ccc !important;
        border-radius: 4px !important;*/
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
        -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s !important;
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s !important;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s !important;
        border: none !important;
        border-bottom: 2px solid #dfe2e5 !important;
        border-radius: 0 !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        padding-left: 0px !important;
    }

    .select2-arrow {
        background: no-repeat !important;
        border-left: 0px !important;
    }

    .no-click {
        pointer-events: none;
        cursor: default;
    }

    .select2-chosen {
        color: #999999;
    }
</style>
<ng-form name="ordersForm" novalidate>
    <div class="cost-details">
        <div class="buy-id pull-left">Buy ID : <span>{{order.AdOrderId}}</span></div>
        <div class="cost pull-right">
            <div class="gross-cost pull-left">Gross Cost : $<span>{{orderGrossCost}}</span></div>
            <div class="net-cost pull-left">Net Cost : $<span>{{orderNetCost}}</span></div>
        </div>
    </div>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="orders">
            <div class="main-tab-content">
                <!--<div class="tab-header">
                    <h5>ORDERS</h5>
                </div>-->
                <div class="tabContent">
                    <div class="tabContentArea" style="padding-top:0px;">
                        <div data-loading> </div>
                        <div class="row">
                            <div class="col-md-6  border-r">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="CampaignName">Campaign Name</label>
                                            <input type="text" name="CampaignName" class="form-control" id="txtCampaignName" ng-model="order.CampaignName" placeholder="Enter Campaign Name">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group" ng-class="{error:ordersForm.Adverdtiser.$invalid}">
                                            <a href="javascript:void(0);" class="add-link" data-toggle="modal" ng-click="InitAdvertiserPopup()" data-target="#advertiserModal">
                                                <img ng-src="{{iMISbaseUrl}}/areas/iMISAngular_Orders/image/add-icon.png" alt="" />
                                            </a>
                                            <label for="Advertiser">Advertiser <span class="mendatory">*</span></label>
                                            <div class="clearfix"></div>
                                            <select class="full-width custom-select" ui-select2="advertiserSelect" ng-model="order.Adverdtiser" data-placeholder="Select Adverdtiser" style="width: 100%" required=""
                                                    ng-change="changeAdvertiser();setContactEnableOrDisable(order.Adverdtiser,order.Agency,order.BillTo);" name="Adverdtiser" id="ddlAdverdtiser">
                                                <option value="">Select Adverdtiser</option>
                                                <option ng-repeat="items in advertisers " value="{{items.Id}}">{{items.OrganizationName}}</option>
                                            </select>
                                            <!--<select class="full-width custom-select" ui-select2="advertiserSelect" ng-model="selectedAdverdtiser" data-placeholder="Select Adverdtiser" style="width: 100%" required=""
                                                    ng-change="setContactEnableOrDisable(selectedAdverdtiser,selectedAgency,order.BillTo)" name="Adverdtiser" id="ddlAdverdtiser">
                                                <option value="">Select Adverdtiser</option>
                                                <option ng-repeat="items in advertisers " value="{{items.Id}}">{{items.OrganizationName}}</option>
                                            </select>-->
                                            <div ng-show="showMsgs || ordersForm.Adverdtiser.$touched && ordersForm.Adverdtiser.$invalid && ordersForm.Adverdtiser.$dirty  ">
                                                <div style="color:red;" ng-show="ordersForm.Adverdtiser.$error.required">Adverdtiser is required.</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group" ng-class="{error:ordersForm.Agency.$invalid}">
                                            <a href="javascript:void(0);" class="add-link" ng-click="InitAgencyPopup()" data-toggle="modal" data-target="#agencyModal"><img ng-src="{{iMISbaseUrl}}/areas/iMISAngular_Orders/image/add-icon.png" alt="" /> </a>
                                            <label for="Agency">Agency <span class="mendatory" ng-show="isRequired">*</span></label>
                                            <div class="clearfix"></div>
                                            <select class="full-width custom-select" ng-model="order.Agency" ui-select2="AgencySelect" id="ddlAgency" style="width: 100%" data-placeholder="Select Agency"
                                                    ng-change="changeAgency();setContactEnableOrDisable(order.Adverdtiser,order.Agency,order.BillTo);" name="Agency" ng-required="isRequired">
                                                <option value="">Select Agency</option>
                                                <option ng-repeat="items in agencies " value="{{items.Id}}">{{items.OrganizationName}}</option>
                                            </select>
                                            <!--<select class="full-width custom-select" ng-model="selectedAgency" ui-select2="AgencySelect" id="ddlAgency" style="width: 100%" data-placeholder="Select Agency"
                                                    ng-change="setContactEnableOrDisable(selectedAdverdtiser,selectedAgency,order.BillTo)" name="Agency" required="">
                                                <option value="">Select Agency</option>
                                                <option ng-repeat="items in agencies " value="{{items.Id}}">{{items.OrganizationName}}</option>
                                            </select>-->
                                            <div ng-show="showMsgs || ordersForm.Agency.$touched && ordersForm.Agency.$invalid && ordersForm.Agency.$dirty">
                                                <div style="color:red;" ng-show="ordersForm.Agency.$error.required">Agency is required.</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div><label for="billto">Bill To</label></div>
                                            <label class="radio-inline">
                                                <input type="radio" name="ordersAdvertiser" ng-model="order.BillTo" value="0" ng-change="setContactEnableOrDisable(order.Adverdtiser,order.Agency,order.BillTo);setBillToContact(order.BillTo);">Advertiser
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="ordersAgency" ng-model="order.BillTo" value="1" ng-change="setContactEnableOrDisable(order.Adverdtiser,order.Agency,order.BillTo);setBillToContact(order.BillTo);">Agency
                                            </label>
                                        </div>
                                    </div>
                                    <!--<div class="col-md-6" ng-class="{'no-click':setBillToContactClickable}">-->
                                    <div class="col-md-6">
                                        <div class="form-group" ng-class="{error:ordersForm.BillingContact.$invalid}">
                                            <a href="javascript:void(0);" ng-class="{'add-link':setAddLink,  'no-click':setNoClick}" class="" ng-click="InitContactPopup()" data-toggle="modal" data-target="#contactModal"><img ng-src="{{iMISbaseUrl}}/areas/iMISAngular_Orders/image/add-icon.png" alt="" /> </a>
                                            <label for="BillToContact">Bill To Contact <span class="mendatory">*</span></label>
                                            <div class="clearfix"></div>
                                            <select class="full-width custom-select" ng-model="order.BillingContacts" ui-select2="billToContactSelect" id="ddlContact" style="width: 100%" data-placeholder="Select Billing to Contact"
                                                    ng-change="changeContact()" name="BillingContact" required="">
                                                <option value="">Select Contact</option>
                                                <option ng-repeat="items in billingToContacts " value="{{items.Id}}">{{items.PersonName.FullName}}</option>
                                            </select>
                                            <div ng-show="showMsgs ||ordersForm.BillingContact.$touched && ordersForm.BillingContact.$invalid && ordersForm.BillingContact.$dirty">
                                                <div style="color:red;" ng-show="ordersForm.BillingContact.$error.required">Contact is required.</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="billingAddress">
                                            <strong>Address: </strong><span id="addStreet"></span>
                                            <span style="margin-left:65px">{{partyCity}}<br /></span>
                                            <span style="margin-left:65px">{{partyPostalCode}}<br /></span>
                                            <span style="margin-left:65px">{{partyCountry}}<br /></span>
                                            <hr>
                                            <div class="row">
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <strong>Mobile: </strong> {{partyMobile}}<br>
                                                    <strong>Work: </strong> {{partyWork}}<br>
                                                    <strong>Home: </strong> {{partyHome}}
                                                </div>
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <strong>Memeber Type: </strong>{{partyMemberType}}<br>
                                                    <strong>Email Address: </strong>{{partyEmail}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <ng-form name="ordersFormReps" novalidate>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="form-group" ng-class="{error:ordersFormReps.Reps.$invalid}">
                                                <label for="Reps">Reps <span class="mendatory">*</span></label>
                                                <div class="clearfix"></div>
                                                <select ng-options="items.RepId as items.RepName for items in reps" class="full-width custom-select" ui-select2="RepsSelect" ng-change="ChangeReps()" ng-model="selectedReps" data-placeholder="Select Reps" style="width: 100%" required=""
                                                        name="Reps" id="ddlReps">
                                                    <option value="">Select Reps</option>
                                                </select>
                                                <div ng-show="showRepsMsgs || ordersFormReps.Reps.$touched && ordersFormReps.Reps.$invalid && ordersFormReps.Reps.$dirty  ">
                                                    <div style="color:red;" ng-show="ordersFormReps.Reps.$error.required">Reps is required.</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="form-group" ng-class="{error:ordersFormReps.Territories.$invalid}">
                                                <label for="Territories">Territories <span class="mendatory">*</span></label>
                                                <div class="clearfix"></div>
                                                <select ng-options="items.TerritoryId as items.TerritoryName for items in territories" class="full-width custom-select" ng-model="selectedTerritories" ui-select2="TerritoriesSelect" id="ddlTerritories" style="width: 100%" data-placeholder="Select Territories"
                                                        ng-change="ChangeTerritory()" name="Territories" required="">
                                                    <option value="">Select Territories</option>
                                                </select>
                                                <div ng-show="showRepsMsgs || ordersFormReps.Territories.$touched && ordersFormReps.Territories.$invalid && ordersFormReps.Territories.$dirty">
                                                    <div style="color:red;" ng-show="ordersFormReps.Territories.$error.required">Territories is required.</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2" style="text-align:right;">
                                            <!--<div class="clearfix"></div>--><br />
                                            <button type="button" class="blueBtn" id="btnrepsTerritories" ng-click=AddrepsTerritories(ddlReps,ddlTerritories)>Add</button>
                                        </div>
                                        <br>
                                        <div class="clearfix"></div>
                                        <div class="reptDataBlocks" id="dvGroup">
                                        </div>
                                    </div>
                                </div>
                            </ng-form>
                        </div>
                        <div class="row">
                            <div class="col-md-12" style="text-align:right;">
                                <button type="button" class="blueBtn createBtn" id="btnOrders"
                                        ng-click="SaveOrders(order,dynamicRowData);">
                                    Next
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-form>

<!-- Advertiser Modal-->
<ng-form name="AdvertiserModalForm" novalidate>
    <div class="modal fade bs-example-modal-md mampopup" id="advertiserModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="tabContentHeaderTitle form-group form-group10" style="margin-bottom:10px;">
                                    <a href="javascript:void(0);"><h6>ADD ADVERTISER</h6></a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group form-group10">
                                    <label for="Organization">Account type : Organization</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-group10" ng-class="{error:AdvertiserModalForm.Organization.$invalid }">
                                    <label for="Organization">Advertiser <span class="mendatory">*</span></label>
                                    <span class="input-container">
                                        <input ng-model="advertiser.Organization" name="Organization" type="text" class="form-control" id="txtOrganization" placeholder="Enter Organization" required="">
                                    </span>
                                    <div ng-show="advertiserModalMsgs || AdvertiserModalForm.Organization.$invalid && AdvertiserModalForm.Organization.$dirty  ">
                                        <div style="color:red;" ng-show="AdvertiserModalForm.Organization.$error.required">Organization is required.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-group10" ng-class="{error:AdvertiserModalForm.Email.$invalid }">
                                    <label for="Email">Email Address <span class="mendatory">*</span></label>
                                    <span class="input-container">
                                        <input ng-model="advertiser.Email" name="Email" type="email" class="form-control" id="txtEmail" placeholder="Enter Email Address" required="">
                                        <!--<input ng-model="advertiser.Email" name="Email" type="text" class="form-control" id="txtEmail" placeholder="Enter Email Address" required="">-->
                                    </span>
                                    <div ng-show="advertiserModalMsgs || AdvertiserModalForm.Email.$invalid && AdvertiserModalForm.Email.$dirty ">
                                        <div style="color:red" ng-show="AdvertiserModalForm.Email.$error.required">Email address is required.</div>
                                        <div style="color:red" ng-show="AdvertiserModalForm.Email.$error.email">Not a valid email.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <!--<div class="form-group form-group10" ng-class="{error:AdvertiserModalForm.Address.$invalid }">-->
                                <div class="form-group form-group10">
                                    <label for="Address">Address </label>
                                    <span class="input-container">
                                        <input ng-model="advertiser.Address" name="Address" type="text" class="form-control" id="txtAddress" placeholder="Enter Address">
                                    </span>
                                    <!--<div ng-show="advertiserModalMsgs || AdvertiserModalForm.Address.$invalid && AdvertiserModalForm.Address.$dirty ">
                                        <div style="color:red" ng-show="AdvertiserModalForm.Address.$error.required">Organization is required.</div>
                                    </div>-->
                                </div>
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-md-4">
                                <!--<div class="form-group form-group10" ng-class="{error:AdvertiserModalForm.City.$invalid }">-->
                                <div class="form-group form-group10" ng-class="{error:AdvertiserModalForm.City.$invalid }">
                                    <label for="City" class="">City </label>
                                    <span class="input-container">
                                        <input ng-model="advertiser.City" name="City" type="text" class="form-control" id="txtCity" placeholder="Enter City">
                                    </span>
                                    <!--<div ng-show="advertiserModalMsgs || AdvertiserModalForm.City.$invalid && AdvertiserModalForm.City.$dirty ">
                                        <div style="color:red" ng-show="AdvertiserModalForm.City.$error.required">City is required.</div>
                                    </div>-->
                                </div>
                            </div>
                            <div ng-if="isStatehave == true" class="col-md-4">
                                <!--<div class="form-group form-group10" ng-class="{error:AdvertiserModalForm.State.$invalid}">-->
                                <div class="form-group form-group10" ng-class="{error:AdvertiserModalForm.State.$invalid}">
                                    <label for="State" class="">{{SubEntityNameCaption}} </label>
                                    <div class="clearfix"></div>
                                    <select class="full-width" ui-select2="stateSelect" ng-model="advertiser.State" data-placeholder="Select State"
                                            ng-change="onStateChange_Advertiser()" style="width: 100%;" name="State" id="ddlState">
                                        <option value="">Select State</option>
                                        <option ng-repeat="items in states " value="{{items.Code}}">{{items.Name}}</option>
                                    </select>
                                    <!--<div ng-show="advertiserModalMsgs ||  AdvertiserModalForm.State.$invalid && AdvertiserModalForm.State.$dirty  ">
                                        <div style="color:red;" ng-show="AdvertiserModalForm.State.$error.required">State is required.</div>
                                    </div>-->
                                </div>
                            </div>
                            <div ng-if="isStatehave == false" class="col-md-4">
                                <!--<div class="form-group form-group10" ng-class="{error:AdvertiserModalForm.State.$invalid}">-->
                                <div class="form-group form-group10" ng-class="{error:AdvertiserModalForm.State.$invalid}">
                                    <label for="State" class="">{{SubEntityNameCaption}} </label>
                                    <span class="input-container">
                                        <input ng-model="advertiser.State" name="State" type="text" class="form-control" id="txtState" placeholder="Enter State">
                                    </span>
                                    <!--<div ng-show="advertiserModalMsgs || AdvertiserModalForm.State.$invalid && AdvertiserModalForm.State.$dirty ">
                                        <div style="color:red" ng-show="AdvertiserModalForm.State.$error.required">State is required.</div>
                                    </div>-->
                                </div>
                            </div>
                            <div class="col-md-4">
                                <!--<div class="form-group form-group10" ng-class="{error:AdvertiserModalForm.PostalCode.$invalid }">-->
                                <div class="form-group form-group10" ng-class="{error:AdvertiserModalForm.PostalCode.$invalid }">
                                    <label for="PostalCode" class="">Postal Code </label>
                                    <span class="input-container">
                                        <input ng-model="advertiser.PostalCode" name="PostalCode" type="text" class="form-control" id="txtPostalCode" placeholder="Enter Postal Code">
                                    </span>
                                    <!--<div ng-show="advertiserModalMsgs || AdvertiserModalForm.PostalCode.$invalid && AdvertiserModalForm.PostalCode.$dirty ">
                                        <div style="color:red" ng-show="AdvertiserModalForm.PostalCode.$error.required">Postal Code is required.</div>
                                    </div>-->
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-6">
                                <!--<div class="form-group form-group10" ng-class="{error:AdvertiserModalForm.Country.$invalid}">-->
                                <div class="form-group form-group10" ng-class="{error:AdvertiserModalForm.Country.$invalid}">
                                    <label for="Country" class="">Country </label>
                                    <div class="clearfix"></div>
                                    <select class="full-width" ui-select2="countrySelect" ng-model="advertiser.CountryCode" data-placeholder="Select Country"
                                            ng-change="onCountryChange()" style="width: 100%" name="Country" id="ddlCountry">
                                        <option value="">Select country</option>
                                        <option ng-repeat="items in countries track by items.CountryCode " value="{{items.CountryCode}}">{{items.CountryName}}</option>
                                    </select>
                                    <!--<div ng-show="advertiserModalMsgs || AdvertiserModalForm.Country.$touched && AdvertiserModalForm.Country.$invalid && AdvertiserModalForm.Country.$dirty  ">
                                        <div style="color:red;" ng-show="AdvertiserModalForm.Country.$error.required">Country is required.</div>
                                    </div>-->
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-group10" ng-class="{error:AdvertiserModalForm.MemberType.$invalid}">
                                    <label for="MemberType" class="">Customer Type <span class="mendatory">*</span></label>
                                    <div class="clearfix"></div>
                                    <select class="full-width" ui-select2="memberTypeSelect" ng-model="advertiser.MemberType" data-placeholder="Select Customer Type" required=""
                                            ng-change="onCustomerTypeChange_Advertiser()" style="width: 100%" name="MemberType" id="ddlMembeType">
                                        <option value="">Select Customer Type</option>
                                        <option value="non member">Non Member  </option>
                                        <!--<opt
                                        ion ng-repeat="items in MemberTypes " value="{{items.CountryCode}}">{{items.CountryName}}</option>-->
                                    </select>
                                    <div ng-show="advertiserModalMsgs || AdvertiserModalForm.MemberType.$touched && AdvertiserModalForm.MemberType.$invalid && AdvertiserModalForm.MemberType.$dirty  ">
                                        <div style="color:red;" ng-show="AdvertiserModalForm.MemberType.$error.required">Customer Type is required.</div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group form-group10" ng-class="{error:AdvertiserModalForm.Home.$invalid }">
                                    <label for="Home" class="">Home </label>
                                    <span class="input-container">
                                        <input allow-decimal-numbers ng-model="advertiser.Home" name="Home" type="text" class="form-control" id="txtHome" placeholder="Enter Home No.">
                                    </span>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <!--<div class="form-group form-group10" ng-class="{error:AdvertiserModalForm.Mobile.$invalid }">-->
                                <div class="form-group form-group10" ng-class="{error:AdvertiserModalForm.Mobile.$invalid }">
                                    <label for="Mobile" class="">Mobile </label>
                                    <span class="input-container">
                                        <input allow-decimal-numbers ng-model="advertiser.Mobile" name="Mobile" type="text" class="form-control" id="txtMobile" placeholder="Enter Mobile No.">
                                    </span>
                                    <!--<div ng-show="advertiserModalMsgs || AdvertiserModalForm.Mobile.$invalid && AdvertiserModalForm.Mobile.$dirty ">
                                        <div style="color:red" ng-show="AdvertiserModalForm.Mobile.$error.required">Mobile no is required.</div>
                                    </div>-->
                                </div>
                            </div>
                            <div class="col-md-4">
                                <!--<div class="form-group form-group10" ng-class="{error:AdvertiserModalForm.Work.$invalid }">-->
                                <div class="form-group form-group10" ng-class="{error:AdvertiserModalForm.Work.$invalid }">
                                    <label for="Work" class="">Work </label>
                                    <span class="input-container">
                                        <input allow-decimal-numbers ng-model="advertiser.Work" name="Work" type="text" class="form-control" id="txtWork" placeholder="Enter Work No.">
                                    </span>
                                    <!--<div ng-show="advertiserModalMsgs || AdvertiserModalForm.Work.$invalid && AdvertiserModalForm.Work.$dirty ">
                                        <div style="color:red" ng-show="AdvertiserModalForm.Work.$error.required">Work no is required.</div>
                                    </div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnadvertiser" class="blueBtn" ng-click="SaveAdvertiser(advertiser);">Add Advertiser</button>
                    <button type="button" class="blueBtn" data-dismiss="modal" ng-click="CancelAdvertiser(advertiser);">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</ng-form>
<!-- Agency Modal-->
<ng-form name="AgencyModalForm" novalidate>
    <div class="modal fade bs-example-modal-md mampopup" id="agencyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="tabContentHeaderTitle form-group form-group10" style="margin-bottom:10px;">
                                    <a href="javascript:void(0);"><h6>ADD AGENCY</h6></a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group form-group10">
                                    <label for="Organization">Account type : Organization</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-group10" ng-class="{error:AgencyModalForm.Organization.$invalid }">
                                    <label for="Organization">Agency <span class="mendatory">*</span></label>
                                    <span class="input-container">
                                        <input ng-model="agency.Organization" name="Organization" type="text" class="form-control" id="txtOrganization" placeholder="Enter Agency" required="">
                                    </span>
                                    <div ng-show="agencyModalMsgs || AgencyModalForm.Organization.$invalid && AgencyModalForm.Organization.$dirty ">
                                        <div style="color:red" ng-show="AgencyModalForm.Organization.$error.required">Agency is required.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-group10" ng-class="{error:AgencyModalForm.Email.$invalid }">
                                    <label for="Email" class="">Email Address <span class="mendatory">*</span></label>
                                    <span class="input-container">
                                        <input ng-model="agency.Email" name="Email" type="email" class="form-control" id="txtEmail" placeholder="Enter Email Address" required="">
                                        <!--<input ng-model="agency.Email" name="Email" type="text" class="form-control" id="txtEmail" placeholder="Enter Email Address" required="">-->
                                    </span>
                                    <div ng-show="agencyModalMsgs || AgencyModalForm.Email.$invalid && AgencyModalForm.Email.$dirty ">
                                        <div style="color:red" ng-show="AgencyModalForm.Email.$error.required">Email address is required.</div>
                                        <div style="color:red" ng-show="AgencyModalForm.Email.$error.email">Not a valid email.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group form-group10">
                                    <label for="Address" class="">Address </label>
                                    <span class="input-container">
                                        <input ng-model="agency.Address" name="Address" type="text" class="form-control" id="txtAddress" placeholder="Enter Address">
                                    </span>
                                    <!--<div ng-show="agencyModalMsgs || AgencyModalForm.Address.$invalid && AgencyModalForm.Address.$dirty ">
                                        <div style="color:red" ng-show="AgencyModalForm.Address.$error.required">Organization is required.</div>
                                    </div>-->
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group form-group10">
                                    <label for="City" class="">City </label>
                                    <span class="input-container">
                                        <input ng-model="agency.City" name="City" type="text" class="form-control" id="txtCity" placeholder="Enter City">
                                    </span>
                                    <!--<div ng-show="agencyModalMsgs || AgencyModalForm.City.$invalid && AgencyModalForm.City.$dirty ">
                                        <div style="color:red" ng-show="AgencyModalForm.City.$error.required">City is required.</div>
                                    </div>-->
                                </div>
                            </div>
                            <div ng-if="isStatehave_Agency == true" class="col-md-4">
                                <div class="form-group form-group10">
                                    <label for="State" class="">{{SubEntityNameCaption_Agency}} </label>
                                    <div class="clearfix"></div>
                                    <select class="full-width" ui-select2="stateSelect" ng-model="agency.State" data-placeholder="Select State"
                                            ng-change="onStateChange_Agency()" style="width: 100%" name="State" id="ddlState_Agency">
                                        <option value="">Select State</option>
                                        <option ng-repeat="items in states " value="{{items.Code}}">{{items.Name}}</option>
                                    </select>
                                    <!--<div ng-show="agencyModalMsgs ||  AgencyModalForm.State.$invalid && AgencyModalForm.State.$dirty  ">
                                        <div style="color:red;" ng-show="AgencyModalForm.State.$error.required">State is required.</div>
                                    </div>-->
                                </div>
                            </div>
                            <div ng-if="isStatehave_Agency == false" class="col-md-4">
                                <div class="form-group form-group10">
                                    <label for="State" class="">{{SubEntityNameCaption_Agency}} </label>
                                    <span class="input-container">
                                        <input ng-model="agency.State" name="State" type="text" class="form-control" id="txtState_Agency" placeholder="Enter State">
                                    </span>
                                    <!--<div ng-show="agencyModalMsgs || AgencyModalForm.State.$invalid && AgencyModalForm.State.$dirty ">
                                        <div style="color:red" ng-show="AgencyModalForm.State.$error.required">State is required.</div>
                                    </div>-->
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group form-group10">
                                    <label for="PostalCode" class="">Postal Code </label>
                                    <span class="input-container">
                                        <input ng-model="agency.PostalCode" name="PostalCode" type="text" class="form-control" id="txtPostalCode" placeholder="Enter Postal Code">
                                    </span>
                                    <!--<div ng-show="agencyModalMsgs || AgencyModalForm.PostalCode.$invalid && AgencyModalForm.PostalCode.$dirty ">
                                        <div style="color:red" ng-show="AgencyModalForm.PostalCode.$error.required">Postal Code is required.</div>
                                    </div>-->
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-group10">
                                    <label for="Country" class="">Country </label>
                                    <div class="clearfix"></div>
                                    <select class="full-width" ui-select2="countrySelect" ng-model="agency.CountryCode" data-placeholder="Select Country"
                                            ng-change="onCountryChange_Agency()" style="width: 100%" name="Country" id="ddlCountry_Agency">
                                        <option value="">Select country</option>
                                        <option ng-repeat="items in countries track by items.CountryCode" value="{{items.CountryCode}}">{{items.CountryName}}</option>
                                    </select>
                                    <!--<div ng-show="agencyModalMsgs || AgencyModalForm.Country.$touched && AgencyModalForm.Country.$invalid && AgencyModalForm.Country.$dirty  ">
                                        <div style="color:red;" ng-show="AgencyModalForm.Country.$error.required">Country is required.</div>
                                    </div>-->
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-group10" ng-class="{error:AgencyModalForm.MemberType.$invalid}">
                                    <label for="MemberType" class="">Customer Type <span class="mendatory">*</span></label>
                                    <div class="clearf
                                    <div class=" clearfix"></div>
                                    <select class="full-width" ui-select2="memberTypeSelect" ng-model="agency.MemberType" data-placeholder="Select Customer Type" required=""
                                            ng-change="onCustomerTypeChange_Aency()" style="width: 100%" name="MemberType" id="ddlMembeType_Agency">
                                        <option value="">Select Customer Type</option>
                                        <option value="non member"> Non Member</option>
                                        <option value=" non member">
                                            Non Member
                                        </option>
                                    </select>
                                    <div ng-show="agencyModalMsgs || AgencyModalForm.MemberType.$touched && AgencyModalForm.MemberType.$invalid && AgencyModalForm.MemberType.$dirty  ">
                                        <div style="color:red;" ng-show="AgencyModalForm.MemberType.$error.required">Customer Type is required.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group form-group10">
                                    <label for="Home" class="">Home </label>
                                    <span class="input-container">
                                        <input allow-decimal-numbers ng-model="agency.Home" name="Home" type="text" class="form-control" id="txtHome" placeholder="Enter Home No.">
                                    </span>
                                    <!--<div ng-show="agencyModalMsgs || AgencyModalForm.Home.$invalid && AgencyModalForm.Home.$dirty ">
                                        <div style="color:red" ng-show="AgencyModalForm.Home.$error.required">Home no is required.</div>
                                    </div>-->
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group form-group10">
                                    <label for="Mobile" class="">Mobile </label>
                                    <span class="input-container">
                                        <input allow-decimal-numbers ng-model="agency.Mobile" name="Mobile" type="text" class="form-control" id="txtMobile" placeholder="Enter Mobile No.">
                                    </span>
                                    <!--<div ng-show="agencyModalMsgs || AgencyModalForm.Mobile.$invalid && AgencyModalForm.Mobile.$dirty ">
                                        <div style="color:red" ng-show="AgencyModalForm.Mobile.$error.required">Mobile no is required.</div>
                                    </div>-->
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group form-group10">
                                    <label for="Work" class="">Work </label>
                                    <span class="input-container">
                                        <input allow-decimal-numbers ng-model="agency.Work" name="Work" type="text" class="form-control" id="txtWork" placeholder="Enter Work No.">
                                    </span>
                                    <!--<div ng-show="agencyModalMsgs || AgencyModalForm.Work.$invalid && AgencyModalForm.Work.$dirty ">
                                        <div style="color:red" ng-show="AgencyModalForm.Work.$error.required">Work no is required.</div>
                                    </div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnagency" class="blueBtn" ng-click="SaveAgency(agency);">Add Agency</button>
                    <button type="button" class="blueBtn" data-dismiss="modal" ng-click="CancelAgency(agency);">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</ng-form>

<!-- Contact Modal-->
<ng-form name="ContactModalForm" novalidate>
    <div class="modal fade bs-example-modal-md mampopup" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="tabContentHeaderTitle form-group form-group10" style="margin-bottom:10px;">
                                <a href="javascript:void(0);"><h6>ADD BILLING CONTACT</h6></a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group form-group10">
                                <label for="accountType">AccountType: Individual</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group form-group10" ng-class="{error:ordersForm.Organisation.$invalid}">
                                <div> <label for="organisation">Organisation Name: </label> <label>{{selectedPartyOrganisationName}}</label></div>
                                <div>
                                    <span style="color:#999999;">
                                        {{selectedPartyOrganisationAddress}}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <label class="checkbox-inline form-group">
                                <input type="checkbox" name="sameAaAbove" ng-model="contactSameAaAbove" value="1" ng-change="setSameAsAbove(contactSameAaAbove)">
                                Contact address same as above
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group form-group10" ng-class="{error:ContactModalForm.NamePrefix.$invalid}">
                                <label for="NamePrefix" class="">Prefix <span class="mendatory">*</span></label>
                                <div class="clearfix"></div>
                                <select class="full-width" ui-select2="NamePrefixSelect" ng-model="selectedNamePrefixValue" data-placeholder="Select NamePrefix" required=""
                                        ng-change="ChangeNamePrefix()" style="width: 100%" name="NamePrefix" id="ddlNamePrefix">
                                    <option value="">Select Prefix</option>
                                    <option value="1">Mr.</option>
                                    <option value="2">Mrs.</option>
                                    <option value="3">Miss.</option>
                                    <option value="4">Ms.</option>
                                    <option value="5">Dr.</option>
                                    <option value="6">Pastor.</option>
                                    <option value="7">Hon.</option>
                                    <option value="8">Lt Col.</option>
                                    <option value="9">Rev.</option>
                                </select>
                                <div ng-show="contactModalMsgs || ContactModalForm.NamePrefix.$touched && ContactModalForm.NamePrefix.$invalid && ContactModalForm.NamePrefix.$dirty">
                                    <div style="color:red;" ng-show="ContactModalForm.NamePrefix.$error.required">NamePrefix is required.</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group form-group10" ng-class="{error:ContactModalForm.FirstName.$invalid}">
                                <label for="FirstName" class="">First Name <span class="mendatory">*</span></label>
                                <input ng-model="contact.FirstName" name="FirstName" type="text" class="form-control" id="txtFirstName" placeholder="Enter First Name" required="">
                                <div ng-show="contactModalMsgs || ContactModalForm.FirstName.$invalid && ContactModalForm.FirstName.$dirty  ">
                                    <div style="color:red;" ng-show="ContactModalForm.FirstName.$error.required">First Name is required.</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group form-group10" ng-class="{error:ContactModalForm.MiddleName.$invalid}">
                                <label for="MiddleName">Middle Name</label>
                                <input ng-model="contact.MiddleName" name="MiddleName" type="text" class="form-control" id="txtMiddleName" placeholder="Enter Middle Name">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group form-group10" ng-class="{error:ContactModalForm.LastName.$invalid}">
                                <label for="LastName" class="">Last Name <span class="mendatory">*</span></label>
                                <input ng-model="contact.LastName" name="LastName" type="text" class="form-control" id="txtLastName" placeholder="Enter Last Name" required="">
                                <div ng-show="contactModalMsgs || ContactModalForm.LastName.$invalid && ContactModalForm.LastName.$dirty  ">
                                    <div style="color:red;" ng-show="ContactModalForm.LastName.$error.required">Last Name is required.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--<div class="row">
                        <div class="col-md-6">
                            <div class="form-group form-group10" ng-class="{error:ContactModalForm.MemberType.$invalid}">
                                <label for="MemberType" class="">Customer Type <span class="mendatory">*</span></label>
                                <div class="clearfix"></div>
                                <select class="full-width" ng-model="selectedMemberTypeValue" ui-select2="MemberTypeSelect" id="ddlMemberType" style="width: 100%" placeholder="Select Customer Type"
                                        name="MemberType" required="">
                                    <option value="">Select Customer Type</option>
                                    <option value="Non Member"> Non Member</option>
                                </select>
                                <div ng-show="contactModalMsgs || ContactModalForm.MemberType.$touched && ContactModalForm.MemberType.$invalid && ContactModalForm.MemberType.$dirty  ">
                                    <div style="color:red;" ng-show="ContactModalForm.MemberType.$error.required">Customer Type is required.</div>
                                </div>
                            </div>
                        </div>
                    </div>-->
                    <!--<div ng-hide="contactSameAaAbove">-->
                    <div class="row" ng-hide="contactSameAaAbove">
                        <div class="col-md-12">
                            <div class="form-group form-group10">
                                <label for="Address" class="">Address </label>
                                <input ng-model="contact.Address" name="Address" type="text" class="form-control" id="Text1" placeholder="Enter Address">
                                <!--<div ng-show="contactModalMsgs || ContactModalForm.Address.$invalid && ContactModalForm.Address.$dirty  ">
                                    <div style="color:red;" ng-show="ContactModalForm.Address.$error.required">Address is required.</div>
                                </div>-->
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-hide="contactSameAaAbove">
                        <div class="col-md-4">
                            <div class="form-group form-group10">
                                <label for="City" class="">City </label>
                                <div class="clearfix"></div>
                                <input ng-model="contact.City" name="City" type="text" class="form-control" id="Text3" placeholder="Enter City">
                                <!--<div ng-show="contactModalMsgs ||ContactModalForm.City.$touched && ContactModalForm.City.$invalid && ContactModalForm.City.$dirty">
                                    <div style="color:red;" ng-show="ContactModalForm.City.$error.required">City is required.</div>
                                </div>-->
                            </div>
                        </div>
                        <div ng-if="isStatehave_Contact == true" class="col-md-4">
                            <div class="form-group form-group10">
                                <label for="State" class="">{{SubEntityNameCaption_Contact}} </label>
                                <div class="clearfix"></div>
                                <select class="full-width" ui-select2="stateSelect" ng-model="contact.State" data-placeholder="Select State"
                                        ng-change="onStateChange_Contacts()" style="width: 100%" name="State" id="ddlState_Contact">
                                    <option value="">Select State</option>
                                    <option ng-repeat="items in states" value="{{items.Code}}">{{items.Name}}</option>
                                </select>
                                <!--<div ng-show="contactModalMsgs ||  ContactModalForm.State.$invalid && ContactModalForm.State.$dirty  ">
                                    <div style="color:red;" ng-show="ContactModalForm.State.$error.required">State is required.</div>
                                </div>-->
                            </div>
                        </div>
                        <div ng-if="isStatehave_Contact == false" class="col-md-4">
                            <div class="form-group form-group10">
                                <label for="State" class="">{{SubEntityNameCaption_Contact}} </label>
                                <span class="input-container">
                                    <input ng-model="contact.State" name="State" type="text" class="form-control" id="Text2" placeholder="Enter State">
                                </span>
                                <!--<div ng-show="contactModalMsgs || ContactModalForm.State.$invalid && ContactModalForm.State.$dirty ">
                                    <div style="color:red" ng-show="ContactModalForm.State.$error.required">State is required.</div>
                                </div>-->
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group form-group10">
                                <label for="PinCode" class="">Postal Code </label>
                                <div class="clearfix"></div>
                                <input ng-model="contact.PinCode" allow-decimal-numbers name="PinCode" type="text" class="form-control" id="txtPinCode" placeholder="Enter Postal Code">
                                <!--<div ng-show="contactModalMsgs ||ContactModalForm.PinCode.$touched && ContactModalForm.PinCode.$invalid && ContactModalForm.PinCode.$dirty">
                                    <div style="color:red;" ng-show="ContactModalForm.PinCode.$error.required">Pin Code is required.</div>
                                </div>-->
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6" ng-hide="contactSameAaAbove">
                            <div class="form-group form-group10">
                                <label for="Country" class="">Country </label>
                                <div class="clearfix"></div>
                                <select class="full-width" ui-select2="countrySelect" ng-model="selectedCountryValue" data-placeholder="Select Country"
                                        ng-change="ChangeCountry_Contacts()" style="width: 100%" name="Country" id="ddlCountry_Contact">
                                    <option value="">Select country</option>
                                    <option ng-repeat="items in countries track by items.CountryCode" value="{{items.CountryCode}}">{{items.CountryName}}</option>
                                </select>
                                <!--<div ng-show="contactModalMsgs || ContactModalForm.Country.$touched && ContactModalForm.Country.$invalid && ContactModalForm.Country.$dirty">
                                    <div style="color:red;" ng-show="ContactModalForm.Country.$error.required">Country is required.</div>
                                </div>-->
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-group10" ng-class="{error:ContactModalForm.MemberType.$invalid}">
                                <label for="MemberType" class="">Customer Type <span class="mendatory">*</span></label>
                                <div class="clearfix"></div>
                                <select class="full-width" ng-model="selectedMemberTypeValue" ui-select2="MemberTypeSelect" id="ddlMembeType_Contact" style="width: 100%" placeholder="Select Customer Type"
                                        ng-change="onCustomerTypeChange_Contact()" name="MemberType" required="">
                                    <option value="">Select Customer Type</option>
                                    <option value="Non Member"> Non Member</option>
                                </select>
                                <div ng-show="contactModalMsgs || ContactModalForm.MemberType.$touched && ContactModalForm.MemberType.$invalid && ContactModalForm.MemberType.$dirty  ">
                                    <div style="color:red;" ng-show="ContactModalForm.MemberType.$error.required">Customer Type is required.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-hide="contactSameAaAbove">
                        <div class="col-md-4">
                            <div class="form-group form-group10">
                                <label for="Home" class="">Home </label>
                                <div class="clearfix"></div>
                                <input ng-model="contact.Home" allow-decimal-numbers name="Home" type="text" class="form-control" id="Text6" placeholder="Enter Home">
                                <!--<div ng-show="contactModalMsgs ||ContactModalForm.Home.$touched && ContactModalForm.Home.$invalid && ContactModalForm.Home.$dirty">
                                    <div style="color:red;" ng-show="ContactModalForm.Home.$error.required">Home is required.</div>
                                </div>-->
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group form-group10">
                                <label for="Mobile" class="">Mobile </label>
                                <div class="clearfix"></div>
                                <input ng-model="contact.Mobile" allow-decimal-numbers name="Mobile" type="text" class="form-control" id="Text4" placeholder="Enter Mobile">
                                <!--<div ng-show="contactModalMsgs ||ContactModalForm.Mobile.$touched && ContactModalForm.Mobile.$invalid && ContactModalForm.Mobile.$dirty">
                                    <div style="color:red;" ng-show="ContactModalForm.Mobile.$error.required">Mobile is required.</div>
                                </div>-->
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group form-group10">
                                <label for="Work" class="">Work </label>
                                <div class="clearfix"></div>
                                <input ng-model="contact.Work" allow-decimal-numbers name="Work" type="text" class="form-control" id="Text5" placeholder="Enter Work">
                                <!--<div ng-show="contactModalMsgs ||ContactModalForm.Work.$touched && ContactModalForm.Work.$invalid && ContactModalForm.Work.$dirty">
                                    <div style="color:red;" ng-show="ContactModalForm.Work.$error.required">Work is required.</div>
                                </div>-->
                            </div>
                        </div>
                    </div>
                    <!--</div>-->
                </div>
                <div class="modal-footer">
                    <button type="button" id="btncontact" class="blueBtn" ng-click="SaveContact(contact);">Add Contact</button>
                    <button type="button" class="blueBtn" data-dismiss="modal" ng-click="CancelContact(contact);">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</ng-form>
