﻿<style>

</style>

<ng-form>
    <div>
        <div role="tabpanel" class="tab-pane fade in active" id="orders">
            <!--<div class="main-tab-content">
                <div class="tabContent">
                    <div class="tabContentArea" style="padding-top:0px;">-->

            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="MediaAsset">Media Asset </label>
                        <div class="clearfix"></div>
                        <select class="full-width custom-select" ui-select2="mediaAssetSelect" ng-model="PostOrder.MediaAssetId" data-placeholder="Select Media Asset" style="width: 100%"
                                ng-change="onChangeMediaAsset();" name="MediaAsset" id="ddlMediaAsset">
                            <option value="">Select Media Asset</option>
                            <option ng-repeat="items in MediaAssets " value="{{items.mediaAssetId}}">{{items.mediaAssetName}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="IssueDate">Issue Date </label>
                        <div class="clearfix"></div>
                        <select class="full-width custom-select" ng-model="PostOrder.IssueDateId" ui-select2="IssueDateSelect" id="ddlIssueDate" style="width: 100%" data-placeholder="Select Issue Date"
                                ng-change="onChangeIssueDate();" name="IssueDate">
                            <option value="">Select Issue Date</option>
                            <option ng-repeat="items in IssueDates " value="{{items.IssueDateId}}">{{items.CoverDate | date : "MM/dd/yyyy"}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="AdType">Ad Type </label>
                        <div class="clearfix"></div>
                        <select class="full-width custom-select" ng-model="PostOrder.AdTypeId" ui-select2="AdTypeSelect" id="ddlAdType" style="width: 100%" data-placeholder="Select Ad Type"
                                ng-change="onChangeAdType()" name="AdType">
                            <option value="">Select Ad Type</option>
                            <option ng-repeat="items in AdTypes" value="{{items.AdTypeId}}">{{items.AdTypeName}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="InvoiceDate">Advertiser </label>
                        <div class="clearfix"></div>
                        <select class="full-width custom-select" ng-model="PostOrder.AdvertiserId" ui-select2="AdvertiserSelect" id="ddlAdvertiser" style="width: 100%" data-placeholder="Select Advertiser"
                                ng-change="onChangeAdvertiser()" name="Advertiser">
                            <option value="">Select Advertiser</option>
                            <option ng-repeat="items in POadvertisers " value="{{items.Id}}">{{items.OrganizationName}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-12 text-right">
                    <div class="form-group">
                        <button type="button" ng-click="searchOrdersbyMediaAsset(PostOrder)" class="blueBtn createBtn">GO</button>
                    </div>
                </div>
            </div>

            <!--Order data-->
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive custom-table">
                        <table class="table post-orders-table" id="postOrderTable">
                            <thead>
                                <tr>
                                    <th><input type="checkbox" class="checkall" ng-model="selectedAllPostOrders" ng-click="toggleAll()" /></th>
                                    <th>Advertiser</th>
                                    <th class="text-right">Bill to ID</th>
                                    <th class="text-right">Ship to ID</th>
                                    <th class="text-right">Gross Cost</th>
                                    <th class="text-right">Net Cost</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!--<tr ng-if="isShowDefaultTable == false" ng-repeat="POrder in PostOrders | toArray:false ">-->
                                <tr ng-if="isShowDefaultTable == false" ng-repeat="POrder in pagedItems[currentPage] | orderBy:sortingOrder:reverse | toArray:false ">
                                    <td>
                                        <input type="checkbox" class="checkthis" id="{{POrder.MediaOrderId}}" ng-model="selectedPostOrder[POrder.MediaOrderId]" ng-change="PostOrderCheckboxChange(POrder.MediaOrderId)">
                                    </td>
                                    <td>{{POrder.AdvertiserName}}</td>
                                    <td class="text-right">{{POrder.BT_ID}}</td>
                                    <td class="text-right">{{POrder.ST_ID}}</td>
                                    <td class="text-right">${{POrder.GrossCost  | number : 2}}</td>
                                    <td class="text-right">${{POrder.NetCost  | number : 2}}</td>
                                    <td>
                                        {{POrder.AdTypeName }} | {{POrder.AdcolorName }} |
                                        {{POrder.AdSizeName }} | {{POrder.FrequencyName}}
                                    </td>
                                </tr>
                                <tr ng-if="isShowDefaultTable == true">
                                    <td colspan="11" class="setTextCenter">No Record is Found</td>
                                </tr>
                                <tr ng-if="isLoading == dataLoading">
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                                <!--<tr ng-if="isLoading == dataLoading">
                                    <td>
                                        <div data-loading> </div>
                                    </td>
                                    <td colspan="11" class="setTextCenter noRecordFound"> <span>Loading ... </span></td>
                                </tr>-->
                                <!--<tr ng-if="dataLoading == true">
                                    <td colspan="11" class="setTextCenter noRecordFound"> <span>Loading ... </span></td>
                                </tr>-->

                            </tbody>

                            <tfoot ng-if="isShowPagination == true">
                                <tr>
                                    <td colspan="11" class="text-center">
                                        <ul class="pagination">
                                            <li ng-if="dataLoading == false" ng-class="{disabled: currentPage == 0}">
                                                <a href="javascript:" ng-click="prevPage()">
                                                    <img src="{{iMISbaseUrl}}Areas/iMISAngular_Orders/image/pagination-previous.png" alt="" />
                                                </a>
                                            </li>
                                            <li ng-repeat="n in range(pagedItems.length)"
                                                ng-class="{active: n == currentPage}"
                                                ng-click="setPage()">
                                                <a href="javascript:" ng-bind="n + 1">1</a>
                                            </li>
                                            <li ng-if="dataLoading == false" ng-class="{disabled: currentPage == pagedItems.length - 1}">
                                                <a href="javascript:" ng-click="nextPage()"><img src="{{iMISbaseUrl}}Areas/iMISAngular_Orders/image/pagination-next.png" alt="" /></a>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>

                        <div ng-if="isLoading == dataLoading">
                            <div class="dataLoad">
                                <div data-loading></div>
                            </div>
                        </div>

                    </div>
                </div>
            </div><br><br>

            <div class="row">
                <div class="col-md-9">
                    <div class="form-group ">

                        <label for="">Invoice Date</label>
                        <div class="clearfix"></div>
                        <label class="radio-inline" style="padding-left: 27px; float: left;">
                            <input type="radio" name="inlineRadioOptions" id="billto1" value="option1" ng-click="setInvoiceDateShowOrHide(false);"> Issue Date
                        </label>
                        <label class="radio-inline" style="padding-left: 27px; float: left;">
                            <input type="radio" name="inlineRadioOptions" id="billto2" value="option2" ng-click="setInvoiceDateShowOrHide(false);"> Today
                        </label>
                        <label class="radio-inline" style="padding-left: 27px; float: left;">
                            <input type="radio" name="inlineRadioOptions" id="billto3" value="option3" ng-click="setInvoiceDateShowOrHide(true);"> Other
                        </label>

                        <div class="col-md-4 " ng-show="isShowInvoiceDate == true">
                            <div class="form-group">
                                <div class="input-group date" data-date-format="mm/dd/yyyy">
                                    <input type="text" class="form-control datepicker customInput" id="txtInvoiceDate" name="InvoiceDate" ng-model="PostOrder.InvoiceDate" placeholder="Select Invoice Date">
                                    <div class="input-group-addon">
                                        <img id="calendarIconBw" ng-src="{{iMISbaseUrl}}/areas/imisAngular/image/calendar-icon-bw.png" alt="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 text-right">
                    <div class="form-group">
                        <button type="button" class="blueBtn createBtn">Post Orders</button>
                    </div>
                </div>
            </div>

            <!--</div>
                </div>
            </div>-->
        </div>
    </div>
</ng-form>