﻿<style>
    .select2-choices {
        border-radius: 4px;
    }

    .setTextCenter {
        text-align: center;
    }

    .select2-search-choice {
        border: none !important;
        background: #dfe2e5 !important;
        color: #354052 !important;
        font-weight: 600 !important;
        font-size: 13px !important;
        /*border-radius: 4px !important;*/
        cursor: default !important;
        margin-top: 5px !important;
    }

    .select2-choice {
        display: block !important;
        width: 100% !important;
        height: 34px !important;
        padding: 6px 12px !important;
        font-size: 14px !important;
        line-height: 1.42857143 !important;
        color: #555 !important;
        background-color: #fff !important;
        background-image: none !important;
        /*border: 1px solid #ccc !important;
        border-radius: 4px !important;*/
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
        -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s !important;
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s !important;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s !important;
        border: none !important;
        border-bottom: 2px solid #dfe2e5 !important;
        border-radius: 0 !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        padding-left: 0px !important;
    }

    .select2-arrow {
        background: no-repeat !important;
        border-left: 0px !important;
    }

    .no-click {
        pointer-events: none;
        cursor: default;
    }

    .select2-chosen {
        color: #999999;
    }


    .textbox-width {
        width: 100%;
    }
</style>

<ng-form name="productionForm" novalidate>
    <div class="cost-details">
        <div class="buy-id pull-left">Buy ID : <span>{{production.BuyId}}</span></div>
        <div class="cost pull-right">
            <div class="gross-cost pull-left">Gross Cost : $<span>{{GrossCost}}</span></div>
            <div class="net-cost pull-left">Net Cost : $<span>{{GrossCost}}</span></div>

            <!--<div class="gross-cost pull-left"><label for="GrossCost"><span>Gross Cost : ${{GrossCost}}</span></label></div>
            <div class="net-cost pull-left"><label for="NetCost"><span>Net Cost : ${{GrossCost}} </span></label></div>-->
        </div>
    </div>

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="production">
            <div class="main-tab-content">
                <div class="tabContent" style="padding:15px;">
                    <div class="tabContentArea">
                        <div data-loading> </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive custom-table production-detail-table">
                                    <table class="table" id="adjustment-table">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>Media Asset</th>
                                                <th>Issue Date</th>
                                                <th>Order Status</th>
                                                <th>Ad Size</th>
                                                <th>Gross Cost</th>
                                                <th>Net Cost</th>
                                                <th>Ad Color</th>
                                                <th>Billing Method</th>
                                                <th>Impression</th>
                                                <th>Frequency</th>
                                                <th>Headline</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="production in issueDateWiseAdjustment">
                                                <td>
                                                    <label class="checkbox-inline" style="margin-bottom:18px;">
                                                        <input type="checkbox" class="checkthis" id="{{production.MediaOrderId}}" ng-model="selectedIssueMediaOrder[production.MediaOrderId]" ng-change="checkboxChange(production)">
                                                    </label>
                                                </td>
                                                <td>{{production.MediaAssetName}}</td>
                                                <td>{{production.IssueDate | date : "MM/dd/yyyy"}}</td>
                                                <td>{{production.OrderStatus}}</td>
                                                <td>{{production.AdSizeName}}</td>
                                                <td>{{production.GrossCost}}</td>
                                                <td>{{production.NetCost}}</td>
                                                <td>{{production.AdColorName}}</td>
                                                <td>{{production.MediaBillingMathodeName}}</td>
                                                <td>{{production.Impressions}}</td>
                                                <td>{{production.FrequencyName}}</td>
                                                <td>{{production.HeadLine}}</td>
                                                <td>
                                                    <a ng-click="editMediaOrderMediaLinesbyMediaOrderId(production.MediaOrderId);" title="Edit" href="javascript:"><img ng-src="{{iMISbaseUrl}}/areas/iMISAngular_Orders/image/edit-icon.png" alt="" /></a>
                                                    <a ng-click="deleteMediaOrderMediaLinesbyMediaOrderId(production);" title="Delete" href="javascript:" style="width:13px;"><img ng-src="{{iMISbaseUrl}}/areas/iMISAngular_Orders/image/delete-icon.png" alt="" /></a>
                                                </td>
                                            </tr>
                                            <tr ng-if="isShowDefaultTable == true">
                                                <td colspan="11" class="setTextCenter">No Record is Found</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div> <br>
                        <div class="row">
                            <div class="col-md-8 border-r">
                                <div class="row">
                                    <div class="col-md-6 border-r">
                                        <div class="form-group" style="margin-bottom: 5px;">
                                            <label class="radio-inline">
                                                <input type="radio" name="pd1" id="rdoNew" value="1" ng-model="production.NewPickupInd" ng-click="setEnableOrDisable(production.NewPickupInd)"> New
                                            </label>
                                        </div>
                                        <div class="col-md-12">
                                            <label class="radio-inline">
                                                <input type="radio" name="pd2" id="rdoCreate" value="1" ng-model="production.CreateExpectedInd" ng-disabled="dvNew"> We Create
                                            </label>
                                        </div>
                                        <div class="col-md-6">
                                            <label class="radio-inline">
                                                <input type="radio" name="pd2" id="rdoExpected" value="0" ng-model="production.CreateExpectedInd" ng-disabled="dvNew"> Expected
                                            </label>
                                        </div>
                                        <div class="col-md-6">
                                            <label class="checkbox-inline">
                                                <input type="checkbox" ng-model="production.OnHandInd" ng-disabled="dvNew">
                                                On Hand
                                            </label>
                                        </div>
                                        <div class="expextedFields">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="">On :</label>
                                                    <div class="input-group date" data-date-format="mm/dd/yyyy">
                                                        <input type="text" class="form-control datepicker" id="txtOnDate" name="OnDate" ng-model="production.MaterialExpectedDate" placeholder="Expected Date" ng-disabled="dvNew">
                                                        <div class="input-group-addon">
                                                            <img ng-src="{{iMISbaseUrl}}/areas/iMISAngular_Orders/image/calendar-icon-bw.png" alt="" />
                                                        </div>
                                                    </div>
                                                    <!--<label for="">On :</label>
                                                    <div class="input-group date" data-date-format="mm/dd/yyyy">
                                                        <input type="text" class="form-control" placeholder="Select Expected Date">
                                                        <div class="input-group-addon">
                                                            <img ng-src="{{iMISbaseUrl}}/areas/iMISAngular_Orders/image/calendar-icon-bw.png" alt="" />
                                                        </div>
                                                    </div>-->
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="">Tracking# :</label>
                                                    <input type="text" allow-decimal-numbers class="form-control" id="" ng-model="production.TrackingNumber" placeholder="Enter Tracking#" ng-disabled="dvNew">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="radio-inline">
                                                <!--<input type="radio" name="pd1" id="" value="option2" > Pick-Up-->
                                                <input type="radio" name="pd1" id="rdoPickup" value="0" ng-model="production.NewPickupInd" ng-click="setEnableOrDisable(production.NewPickupInd)"> Pick-Up
                                            </label>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group" style="margin-bottom: 15px;">
                                                <label class="checkbox-inline">
                                                    <input type="checkbox" ng-model="production.ChangesInd" ng-disabled="dvPickup">
                                                    Changes
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group" style="margin-bottom: 5px;">
                                                <label for="">From</label>
                                                <div class="clearfix"></div>
                                                <select class="full-width custom-select" ui-select2="FromSelect" ng-model="production.PickupMediaOrderId" ng-change="changeddlFrom()" id="ddlFrom" style="width: 100%" placeholder="Media Asset, Issue Date,Pg#" ng-disabled="dvPickup">
                                                    <option value="">Media Asset | Issue Date | Pg#</option>
                                                    <option ng-repeat="items in mediaAssets" value="{{items.MediaOrderId}}">{{items.MediaAssetIssueDate}}</option>

                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr style="margin:10px 0;">
                                <div class="col-md-12">
                                    <div class="form-group" style="margin-bottom: 5px;">
                                        <label for="" style="padding-right: 15px;">Contact : </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="c1" id="billto1" ng-click="setBillToContact(production.AdvertiserAgencyInd)" ng-model="production.AdvertiserAgencyInd" value="1"> Advertiser
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="c1" id="billto2" ng-click="setBillToContact(production.AdvertiserAgencyInd)" ng-model="production.AdvertiserAgencyInd" value="0"> Agency
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group" style="margin-bottom: 10px;">
                                        <div class="clearfix"></div>
                                        <select class="full-width custom-select" ng-options="items.Id as items.PersonName.FullName for items in billingToContacts"
                                                ng-model="production.MaterialContactId" ui-select2="ContactSelect" ng-change="changeddlContact()"
                                                id="ddlContact" style="width: 100%" data-placeholder="Select Contact" name="Contact">
                                            <option value="">Select Contact</option>
                                        </select>
                                        <!--<select class="full-width custom-select" ui-select2="ContactSelect" ng-model="production.MaterialContactId"
                                                data-placeholder="Select Contact" style="width: 100%"
                                                ng-change="changeddlContact()" name="Contact" id="ddlContact">
                                            <option value="">Select Contact</option>
                                            <option ng-repeat="items in billingToContacts" value="{{items.Id}}">{{items.PersonName.FullName}}</option>
                                        </select>-->
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group adStatus">
                                        <label for="">Status :</label>
                                        <div>
                                            <select class="full-width custom-select" ng-options="items.ProductionStatusId as items.ProductionStatusName for items in productionStatus" ng-model="production.ProductionStatusId" ui-select2="StatusSelect" ng-change="changeddlStatus()" id="ddlStatus" style="width: 100%" data-placeholder="Select Status"
                                                    name="Status">
                                                <option value="">Select Status</option>
                                                <!--<option ng-repeat="items in productionStatus" value="{{items.ProductionStatusId}}">{{items.ProductionStatusName}}</option>-->
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <!--<div class="col-md-6">
                                    <div class="form-group custom-uploader">
                                        <label for="">Orig. File :</label>
                                        <div class="input-group">
                                            <input type="text" name="filename" ng-model="production.OriginalFile" class=" form-control" placeholder="No file selected" readonly>
                                            <span class="input-group-btn">
                                                <div class="btn btn-default  custom-file-uploader">
                                                    <input type="file" name="file" onchange="this.form.filename.value = this.files[0].name" />
                                                    <img ng-src="{{iMISbaseUrl}}/areas/iMISAngular_Orders/image/browse-file.png" alt="">
                                                </div>
                                                <div class="btn btn-default  custom-file-uploader">
                                                    <img ng-src="{{iMISbaseUrl}}/areas/iMISAngular_Orders/image/view-file.png" alt="">
                                                </div>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group custom-uploader">
                                        <label for="">Proof File :</label>
                                        <div class="input-group">
                                            <input type="text" name="filename" class="form-control" ng-model="production.ProofFile" placeholder=" no file selected" readonly>
                                            <span class="input-group-btn">
                                                <div class="btn btn-default  custom-file-uploader">
                                                    <input type="file" name="file" onchange="this.form.filename.value = this.files[0].name" />
                                                    <img ng-src="{{iMISbaseUrl}}/areas/iMISAngular_Orders/image/browse-file.png" alt="">
                                                </div>
                                                <div class="btn btn-default  custom-file-uploader">
                                                    <img ng-src="{{iMISbaseUrl}}/areas/iMISAngular_Orders/image/view-file.png" alt="">
                                                </div>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group custom-uploader">
                                        <label for="">Final File :</label>
                                        <div class="input-group">
                                            <input type="text" name="filename" class="form-control" ng-model="production.FinalFile" placeholder="No file selected" readonly>
                                            <span class="input-group-btn">
                                                <div class="btn btn-default  custom-file-uploader">
                                                    <input type="file" name="file" onchange="this.form.filename.value = this.files[0].name" />
                                                    <img ng-src="{{iMISbaseUrl}}/areas/iMISAngular_Orders/image/browse-file.png" alt="">
                                                </div>
                                                <div class="btn btn-default  custom-file-uploader">
                                                    <img ng-src="{{iMISbaseUrl}}/areas/iMISAngular_Orders/image/view-file.png" alt="">
                                                </div>
                                            </span>
                                        </div>
                                    </div>
                                </div>-->
                                <div class="col-md-6">
                                    <div class="form-group custom-uploader" style="margin-bottom: 10px;">
                                        <label for="">Orig. File :</label>
                                        <div class="input-group">
                                            <input type="text" name="filename" class="form-control" placeholder="No file selected" ng-model="production.OrigFileName" readonly>
                                            <span class="input-group-btn">
                                                <span class="btn btn-default  custom-file-uploader">
                                                    <input id="originalfile-upload" class="production-Logo" type="file" onchange="angular.element(this).scope().uploadImage()" />
                                                    <!--<input type="file" name="file" onchange="this.form.filename.value = this.files[0].name" />-->
                                                    <img ng-src="{{iMISbaseUrl}}/areas/iMISAngular_Orders/image/browse-file.png" alt="">
                                                </span>
                                                <span class=" custom-file-uploader docs-buttons-originalFile  " role="group">
                                                    <div class="btn-group d-flex" role="group">
                                                        <button type="button" id="originalImageButton" class="btn btn-primary" data-enable="modal" data-method="show" title="Show the viewer">
                                                            <img ng-src="{{iMISbaseUrl}}/areas/iMISAngular_Orders/image/view-file.png">
                                                        </button>
                                                    </div>
                                                </span>
                                                <div class="docs-pictures-originalFile clearfix" style="display:none;">
                                                    <span><img data-original="{{originalFileImageSrc}}" src="{{originalFileImageSrc}}" alt="No Image"></span>
                                                </div>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group custom-uploader" style="margin-bottom: 10px;">
                                        <label for="">Proof File :</label>
                                        <div class="input-group">
                                            <input type="text" name="filename" class="form-control" placeholder="No file selected" ng-model="production.ProofFileName" readonly>
                                            <span class="input-group-btn">
                                                <span class="btn btn-default  custom-file-uploader">
                                                    <input id="prooffile-upload" class="production-Logo" type="file" onchange="angular.element(this).scope().uploadImageforProof()" />
                                                    <!--<input type="file" name="file" onchange="this.form.filename.value = this.files[0].name" />-->
                                                    <img ng-src="{{iMISbaseUrl}}/areas/iMISAngular_Orders/image/browse-file.png" alt="">
                                                </span>
                                                <span class="custom-file-uploader docs-buttons-proofFile ">
                                                    <div class="btn-group d-flex" role="group">
                                                        <button type="button" id="proofImageButton" class="btn btn-primary" data-enable="modal" data-method="show" title="Show the viewer">
                                                            <img ng-src="{{iMISbaseUrl}}/areas/iMISAngular_Orders/image/view-file.png">
                                                        </button>
                                                    </div>
                                                </span>
                                                <div class="docs-pictures-proofFile clearfix" style="display:none;">
                                                    <span><img data-original="{{proofFileImageSrc}}" src="{{proofFileImageSrc}}" alt="No Image"></span>
                                                </div>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group custom-uploader" style="margin-bottom: 10px;">
                                        <label for="">Final File :</label>
                                        <div class="input-group">
                                            <input type="text" name="filename" class="form-control" placeholder="No file selected" ng-model="production.FinalFileName" readonly>
                                            <span class="input-group-btn">
                                                <span class="btn btn-default  custom-file-uploader">
                                                    <input id="finalfile-upload" class="production-Logo" type="file" onchange="angular.element(this).scope().uploadImageforfinal()" />
                                                    <!--<input type="file" name="file" onchange="this.form.filename.value = this.files[0].name" />-->
                                                    <img ng-src="{{iMISbaseUrl}}/areas/iMISAngular_Orders/image/browse-file.png" alt="">
                                                </span>
                                                <span class="custom-file-uploader docs-buttons-finalFile ">
                                                    <div class="btn-group d-flex" role="group">
                                                        <button type="button" id="finalImageButton" class="btn btn-primary" data-enable="modal" data-method="show" title="Show the viewer">
                                                            <img ng-src="{{iMISbaseUrl}}/areas/iMISAngular_Orders/image/view-file.png">
                                                        </button>
                                                    </div>
                                                </span>
                                                <div class="docs-pictures-finalFile clearfix" style="display:none;">
                                                    <span><img data-original="{{finalFileImageSrc}}" src="{{finalFileImageSrc}}" alt="No Image"></span>
                                                </div>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <!---->
                                    <div class="form-group custom-uploader" ng-class="{error:productionForm.webAdUrl.$invalid }" style="margin-bottom: 10px;">
                                        <label for="">Web Ad URL :</label>
                                        <div class="input-group">
                                            <input type="url" name="webAdUrl" class="form-control" ng-model="production.WebAdUrl" placeholder="Paste Link">
                                            <span class="input-group-btn">
                                                <a href="{{production.WebAdUrl}}" target="_blank">
                                                    <div class="btn btn-default open-link custom-file-uploader">
                                                        <img ng-src="{{iMISbaseUrl}}/areas/iMISAngular_Orders/image/open-link.png" alt="">
                                                    </div>
                                                </a>
                                            </span>

                                        </div>
                                        <div style="color:red" ng-show="productionForm.webAdUrl.$error.url">Invalid URL.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 paddl-30">
                                <!--<div class="tearSheet">-->
                                <div class="form-group" style="margin-bottom: 10px;">
                                    <label for="">Head Line :</label>
                                    <input type="text" class="form-control" id="txtHeadLine" ng-model="production.HeadLine" placeholder="Enter Head Line">
                                </div>
                                <div class="form-group" style="margin-bottom: 10px;">
                                    <label for="">Tear Sheet :</label>
                                    <input type="text" class="form-control" allow-decimal-numbers id="txtTearSheet" ng-model="production.TearSheets" placeholder="Enter Tear Sheet">
                                </div>
                                <div class="form-group" style="margin-bottom: 10px;">
                                    <label for="">Pg# :</label>
                                    <input type="text" class="form-control" allow-decimal-numbers id="txtPgNo" ng-model="production.PageNumber" placeholder="Enter Page#">
                                </div>
                                <div class="form-group" style="margin-bottom: 10px;">
                                    <label for="">Separation</label>
                                    <div class="clearfix"></div>
                                    <select class="full-width custom-select" ng-model="production.SeparationId" ng-options="items.SeparationId as items.SeparationName for items in separations"
                                            ui-select2="SeparationSelect" ng-change="changeddlSeparation()" id="ddlSeparation" style="width: 100%" data-placeholder="Select Separation"
                                            name="Separation">
                                        <option value="">Select Separation</option>
                                        <!--<option ng-repeat="items in separations " value="{{items.SeparationId}}">{{items.SeparationName}}</option>-->
                                    </select>
                                </div>
                                <div class="form-group" style="margin-bottom: 10px;">
                                    <label for="">Position</label>
                                    <div class="clearfix"></div>
                                    <select class="full-width custom-select" ng-options="items.PositionId as items.PositionName for items in positions"
                                            ng-model="production.PositionId" ui-select2="PositionSelect" ng-change="changeddlPosition()" id="ddlPosition" style="width: 100%" data-placeholder="Select Position"
                                            name="Position">
                                        <option value="">Select Position</option>
                                        <!--<option ng-repeat="items in positions " value="{{items.PositionId}}">{{items.PositionName}}</option>-->
                                    </select>
                                </div>
                                <div class="form-group" style="margin-bottom: 10px;">
                                    <label for="">Comments</label>
                                    <div class="clearfix"></div>
                                    <textarea class="form-control" rows="3" ng-model="production.ProductionComment" placeholder="Write Your Comments"></textarea>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group pull-left">
                                    <button type="button" class="blueBtn createBtn" ng-click="Save(production);">{{buttonText}}</button>
                                </div>
                                <div class="form-group pull-right">
                                    <button type="button" class="blueBtn createBtn">Finish</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</ng-form>
