﻿
<style>
    .setImageIcon {
        height: 15px;
        width: 15px;
    }

    .input-container {
        position: relative;
    }

        .input-container:after {
            position: absolute;
            right: 0px;
            top: 0px;
            content: '%';
        }

    .settextcenter {
        text-align: center;
    }

    .customInputText {
        border: 0 !important;
        border-bottom: 2px solid #dfe2e5 !important;
        border-radius: 0 !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        padding: 5px 0 !important;
    }
</style>

<ng-form name="salesRepsCommissionForm" novalidate style="height: auto; width: auto; overflow: auto; margin-bottom:0;">
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="media-assets">
            <div class="main-tab-content">
                <div class="tab-header">
                    <h5>Sales Reps Commission</h5>
                </div>
                <div class="tabContent">
                    <div class="tabContentHeader">
                        <div class="tabContentHeaderTitle">
                            <a ng-click="AddIssueDate();"><h6>Sales Reps Commission</h6></a>
                        </div>
                        <div class="search-container">
                            <input type="text" name="" placeholder="Search Sales Reps Commission" ng-model="SearchRepsTerritory" />
                            <img ng-src="{{baseUrl}}/areas/iMISAngular_Reps/image/search-icon.png" alt="" />
                        </div>
                    </div>
                    <div class="tabContentArea">
                        <div class="row">
                            <div class="col-md-4">

                                <div class="form-group" ng-class="{error:salesRepsCommissionForm.productCode.$invalid}">
                                    <label for="Reps" class="asteriskRequired">Reps</label>
                                    <a href="javascript:void(0);" title="Add New Reps" class="add-link" data-toggle="modal" ng-click="InitRepsPopup()" data-target="#repsModal">
                                        <img ng-src="{{baseUrl}}/areas/iMISAngular/image/add-icon.png" alt="" />
                                    </a>
                                    <div class="clearfix"></div>
                                    <!--<select ng-options="items.RepId as items.RepName for items in reps" ng-model="repsTerritory.RepId"
                                            class="form-control custom-select" name="reps" id="productcode" style="width: 100%" placeholder="Select Reps" required="">
                                        <option value="">Select Reps</option>
                                    </select>-->
                                    <select ng-model="repsTerritory.RepId" ui-select2="repsSelect2" ng-change="onRepsChange()"
                                            class="full-width" name="reps" id="ddlReps" style="width: 100%" placeholder="Select Reps" required="">
                                        <option value="">Select Reps</option>
                                        <option ng-repeat="items in reps " value="{{items.RepId}}">{{items.RepName}}</option>
                                    </select>
                                    <div ng-show="showMsgs || salesRepsCommissionForm.reps.$touched && salesRepsCommissionForm.reps.$invalid && salesRepsCommissionForm.reps.$dirty  ">
                                        <div style="color:red;" ng-show="salesRepsCommissionForm.reps.$error.required">Reps is required.</div>
                                    </div>
                                </div>

                                <div class="form-group" ng-class="{error:salesRepsCommissionForm.territory.$invalid}">
                                    <label for="Territory" class="asteriskRequired">Territories </label>
                                    <a href="javascript:void(0);" title="Add territory Reps" class="add-link" data-toggle="modal" ng-click="InitTerritoryPopup()" data-target="#TerritoryModal">
                                        <img ng-src="{{baseUrl}}/areas/iMISAngular/image/add-icon.png" alt="" />
                                    </a>
                                    <div class="clearfix"></div>
                                    <!--<select ng-options="items.TerritoryId as items.TerritoryName for items in territories" ng-model="repsTerritory.TerritoryId"
                                            class="form-control custom-select" name="territory" id="productcode" style="width: 100%" placeholder="Select Territory Code" required="">
                                        <option value="">Select Product Code</option>
                                    </select>-->
                                    <select ng-model="repsTerritory.TerritoryId" ui-select2="territorySelect2" ng-change="onTerritoryChange()"
                                            class="full-width" name="territory" id="ddlTerritory" style="width: 100%" placeholder="Select Territory Code" required="">
                                        <option value="">Select Territory</option>
                                        <option ng-repeat="items in territories " value="{{items.TerritoryId}}">{{items.TerritoryName}}</option>
                                    </select>
                                    <div ng-show="showMsgs || salesRepsCommissionForm.territory.$touched && salesRepsCommissionForm.territory.$invalid && salesRepsCommissionForm.territory.$dirty  ">
                                        <div style="color:red;" ng-show="salesRepsCommissionForm.territory.$error.required">Territory is required.</div>
                                    </div>
                                </div>

                                <div class="form-group" ng-class="{error:salesRepsCommissionForm.commission.$invalid }">
                                    <label for="Commission" class="asteriskRequired">Commission</label>
                                    <span class="input-container">
                                        <input allow-decimal-numbers ng-model="repsTerritory.Commission" name="commission" type="text" class="form-control customInputText" id="commission" placeholder="Enter commission" required="">
                                    </span>
                                    <div ng-show="showMsgs || salesRepsCommissionForm.commission.$invalid && salesRepsCommissionForm.commission.$dirty ">
                                        <div style="color:red" ng-show="salesRepsCommissionForm.commission.$error.required">Adjustment Name is required.</div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <button type="button" class="blueBtn createBtn" id="btnRepsTerritory" ng-click="SaveRepsTerritory(repsTerritory);">Create</button>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="table-responsive custom-table">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Rep</th>
                                                <th>Territory</th>
                                                <th>Commission</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-if="isShowDefaultTable == false" ng-repeat="rep in repsTerritories | toArray:false | filter:SearchRepsTerritory ">
                                                <td bind-once>{{rep.RepName}}</td>
                                                <td bind-once>{{rep.TerritoryName}}</td>
                                                <td bind-once>{{rep.Commission}}</td>
                                                <td>
                                                    <a ng-click="EditRepsTerritory(rep);" title="Edit" href="javascript:"><img ng-src="{{baseUrl}}/areas/iMISAngular_Reps/image/edit-icon.png" alt="edit" /></a>
                                                    <a ng-click="DeleteRepsTerritory(rep);" title="Delete" href="javascript:"><img ng-src="{{baseUrl}}/areas/iMISAngular_Reps/image/delete-icon.png" alt="delete" /></a>
                                                </td>
                                            </tr>
                                            <tr ng-if="isShowDefaultTable == true">
                                                <td colspan="4" class="settextcenter">no record is found</td>
                                            </tr>
                                            <tr ng-if="isLoading == dataLoading">
                                                <td>&nbsp;</td>
                                                <td>&nbsp;</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div ng-if="isLoading == dataLoading">
                                        <div class="dataLoad">
                                            <div data-loading></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-form>


<!--Reps Modal Html-->
<ng-form name="repsModalForm" novalidate>
    <div>
        <div class="modal fade bs-example-modal-sm mampopup in" id="repsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">

                    <div class="modal-body">
                        <div class="form-group" ng-class="{error:repsModalForm.repName.$invalid}">
                            <label for="repName" class="asteriskRequired">Name</label>
                            <input ng-model="rep.RepName" name="repName" type="text" class="form-control" id="repName" placeholder="Enter rep Name" required="">
                            <div ng-show="repsModalMsgs || repsModalForm.repName.$invalid && repsModalForm.repName.$dirty  ">
                                <div style="color:red;" ng-show="repsModalForm.repName.$error.required">Rep Name is required.</div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="btnreps" class="blueBtn" ng-click="SaveReps(rep);">Create </button>
                        <button type="button" class="blueBtn" data-dismiss="modal" ng-click="CancelReps(rep);">Cancel</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</ng-form>

<!--Territory Modal Html-->
<ng-form name="TerritoryModalForm" novalidate>
    <div>
        <div class="modal fade bs-example-modal-sm mampopup in" id="TerritoryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="form-group" ng-class="{error:TerritoryModalForm.TerritoryName.$invalid}">
                            <label for="TerritoryName" class="asteriskRequired">Name</label>
                            <input ng-model="Territory.TerritoryName" name="TerritoryName" type="text" class="form-control" id="TerritoryName" placeholder="Enter Territory Name" required="">
                            <div ng-show="TerritoryModalMsgs || TerritoryModalForm.TerritoryName.$invalid && TerritoryModalForm.TerritoryName.$dirty  ">
                                <div style="color:red;" ng-show="TerritoryModalForm.TerritoryName.$error.required">Territory Name is required.</div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="btnTerritory" class="blueBtn" ng-click="SaveTerritory(Territory);">Create </button>
                        <button type="button" class="blueBtn" data-dismiss="modal" ng-click="CancelTerritory(Territory);">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-form>

