﻿



<ng-form>
    <div>
        <div class="tab-pane fade in active" role="tabpanel" id="orders" aria-labelledby="orders-tab">
            <div class="table-responsive custom-table">
                <table class="table" id="adjustment-table">
                    <thead>
                        <tr>
                            <th>Advertiser</th>
                            <th>No Of Orders</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="advertiser in advrertiserData">
                            <td>{{advertiser.AdvertiserName}}</td>
                            <td>{{advertiser.NoOfOrders}}</td>
                            <td>${{advertiser.NetCostAmount  | number : 2}}</td>
                        </tr>
                        <tr ng-if="isShowDefaultTable == true">
                            <td colspan="11" class="setTextCenter">No Record is Found</td>
                        </tr>
                    </tbody>
                    <tfoot ng-if="isShowPagination == true">
                        <tr>
                            <td colspan="11" class="text-center">
                                <ul class="pagination">
                                    <li ng-if="dataLoading == false" ng-class="{disabled: currentPage == 0}">
                                        <a href="javascript:" ng-click="prevPage()">
                                            <img src="{{iMISbaseUrl}}Areas/iMISAngular_Dashboard/image/pagination-previous.png" alt="" />
                                        </a>
                                    </li>
                                    <li ng-repeat="n in range(pagedItems.length)"
                                        ng-class="{active: n == currentPage}"
                                        ng-click="setPage()">
                                        <a href="javascript:" ng-bind="n + 1">1</a>
                                    </li>
                                    <li ng-if="dataLoading == false" ng-class="{disabled: currentPage == pagedItems.length - 1}">
                                        <a href="javascript:" ng-click="nextPage()"><img src="{{iMISbaseUrl}}Areas/iMISAngular_Dashboard/image/pagination-next.png" alt="" /></a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</ng-form>

