﻿
<style>
    .c3-axis-y text {
        font-size: 15px;
    }

    .c3-axis-x text {
        font-size: 15px;
    }
</style>
<div>
    <div class="row">
        <div data-loading></div>
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-3">
                    <div class="tile-progress tile-cyan">
                        <div class="tile-header">
                            <h3>Media product revenue</h3>
                        </div>
                        <div class="tile-footer">
                            <h4>
                                <span class="pct-counter">${{TotalNetAmount.CurrentYear | number : 2}}</span>
                            </h4>
                        </div>
                        <div class="tile-progressbar">
                            <span data-fill="{{TotalNetAmount.CurrentYear}}%" style="width: {{TotalNetAmount.CurrentYear}}%;"></span>
                        </div>
                        <div class="tile-footer">
                            <span>Last year's total : {{TotalNetAmount.PreviousYear | number : 2}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="tile-progress tile-green">
                        <div class="tile-header">
                            <h3>Media orders</h3>
                        </div>
                        <div class="tile-footer">
                            <h4>
                                <span class="pct-counter">{{InserationOrderCount.CurrentYear}} </span>
                            </h4>
                        </div>
                        <div class="tile-progressbar">
                            <span data-fill="{{InserationOrderCount.CurrentYear}}%" style="width: {{InserationOrderCount.CurrentYear}}%;"></span>
                        </div>
                        <div class="tile-footer">
                            <span>Last year's count : {{InserationOrderCount.PreviousYear}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="tile-progress tile-orange">
                        <div class="tile-header">
                            <h3>Media asset sold</h3>
                        </div>
                        <div class="tile-footer">
                            <h4>
                                <span class="pct-counter">{{MediaAssetUsedInOrder.CurrentYear}}</span>
                            </h4>
                        </div>
                        <div class="tile-progressbar">
                            <span data-fill="{{MediaAssetUsedInOrder.CurrentYear}}%" style="width: {{MediaAssetUsedInOrder.CurrentYear}}%;"></span>
                        </div>
                        <div class="tile-footer">
                            <span>Last year's count : {{MediaAssetUsedInOrder.PreviousYear}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="tile-progress tile-purple">
                        <div class="tile-header">
                            <h3>Unique customers</h3>
                        </div>
                        <div class="tile-footer">
                            <h4>
                                <span class="pct-counter">{{AdvertiserUsedInOrder.CurrentYear}}</span>
                            </h4>
                        </div>
                        <div class="tile-progressbar">
                            <span data-fill="{{AdvertiserUsedInOrder.CurrentYear}}%" style="width:{{AdvertiserUsedInOrder.CurrentYear}}%;"></span>
                        </div>
                        <div class="tile-footer">
                            <span>Last year's count : {{AdvertiserUsedInOrder.PreviousYear}}</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="chart-container">
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="chart-title">Orders status</h4>
                        <div class="chart-holder">
                            <div id="Piechart"></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h4 class="chart-title">Orders in running state</h4>
                        <div class="chart-holder">
                            <div id="Barchart"></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h4 class="chart-title">Orders in running state</h4>
                        <div class="chart-holder">
                            <div id="RevenueBarchart"></div>
                        </div>
                    </div>
                </div>
            </div>

            <!--<div class="row">
                <div class="col-md-12">-->
            <div class="tabs-main-container">
                <ul class="nav nav-tabs" id="myTabs" role="tablist">
                    <li role="presentation" ng-class="{'active':AdvertiserTab,  'noclick':AdvertiserDisable}"><a ui-sref=".Advertiser" ng-click="setAdvertisersTabActive()" role="tab" data-toggle="tab" aria-controls="dashboard">Top Advertisers</a></li>
                    <li role="presentation" ng-class="{'active':MediaAssetTab,  'noclick':MediaAssetDisable}"><a ui-sref=".MediaAsset" ng-click="setMediaAssetsTabActive()" role="tab" data-toggle="tab" aria-controls="dashboard">Top Media Assets</a></li>
                    <li role="presentation" ng-class="{'active':ProposalOrderTab,  'noclick':ProposalOrderDisable}"><a ui-sref=".ProposalOrder" ng-click="setProposalOrderTabActive()" role="tab" data-toggle="tab" aria-controls="dashboard">Proposals</a></li>
                </ul>
                <div class="tab-content">
                    <div ui-view></div>
                </div>
            </div>
            <!--</div>
            </div>-->
        </div>
    </div>
</div>
