﻿



<ng-form>
    <div>

        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="MediaAsset">Media Asset </label>
                    <div class="clearfix"></div>
                    <select class="full-width custom-select" ui-select2="mediaAssetSelect" ng-model="proposalOrder.MediaAssetId" data-placeholder="Select Media Asset" style="width: 100%"
                            ng-change="onChangeMediaAsset();" name="MediaAsset" id="ddlMediaAsset">
                        <option value="">Select Media Asset</option>
                        <option ng-repeat="items in MediaAssets " value="{{items.mediaAssetId}}">{{items.mediaAssetName}}</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="IssueDate">Issue Date </label>
                    <div class="clearfix"></div>
                    <select class="full-width custom-select" ng-model="proposalOrder.IssueDateId" ui-select2="IssueDateSelect" id="ddlIssueDate" style="width: 100%" data-placeholder="Select Issue Date"
                            ng-change="onChangeIssueDate();" name="IssueDate">
                        <option value="">Select Issue Date</option>
                        <option ng-repeat="items in IssueDates " value="{{items.IssueDateId}}">{{items.CoverDate | date : "MM/dd/yyyy"}}</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6 ">
                <div class="form-group">
                    <label for="BlankSpace"> &nbsp; </label>
                    <div class="clearfix"></div>
                    <button type="button" ng-click="searchOrdersbyProposalStatus()" class="blueBtn createBtn">GO</button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="tab-pane fade in active" role="tabpanel" id="orders" aria-labelledby="orders-tab">
                <div class="table-responsive custom-table">
                    <table class="table" id="adjustment-table">
                        <thead>
                            <tr>
                                <th>Buy Id</th>
                                <th>Advertiser</th>
                                <th>Billing Contact</th>
                                <th>Status </th>
                                <th>Gross Cost</th>
                                <th>Net Cost</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-if="isShowDefaultTable == false" ng-repeat="POrder in pagedItems[currentPage] | orderBy:sortingOrder:reverse  ">
                                <td>{{POrder.BuyId}}</td>
                                <td>{{POrder.AdvertiserName}}</td>
                                <td>{{POrder.billToContactName}}</td>
                                <td>{{POrder.OrderStatus}}</td>
                                <td>{{POrder.GrossCost | number : 2}}</td>
                                <td>${{POrder.NetCost  | number : 2}}</td>
                            </tr>
                            <tr ng-if="isShowDefaultTable == true">
                                <td colspan="11" class="setTextCenter">No Record is Found</td>
                            </tr>
                        </tbody>
                        <tfoot ng-if="isShowPagination == true">
                            <tr>
                                <td colspan="11" class="text-center">
                                    <ul class="pagination">
                                        <li ng-if="dataLoading == false" ng-class="{disabled: currentPage == 0}">
                                            <a href="javascript:" ng-click="prevPage()">
                                                <img src="{{iMISbaseUrl}}Areas/iMISAngular_Dashboard/image/pagination-previous.png" alt="" />
                                            </a>
                                        </li>
                                        <li ng-repeat="n in range(pagedItems.length)"
                                            ng-class="{active: n == currentPage}"
                                            ng-click="setPage()">
                                            <a href="javascript:" ng-bind="n + 1">1</a>
                                        </li>
                                        <li ng-if="dataLoading == false" ng-class="{disabled: currentPage == pagedItems.length - 1}">
                                            <a href="javascript:" ng-click="nextPage()"><img src="{{iMISbaseUrl}}Areas/iMISAngular_Dashboard/image/pagination-next.png" alt="" /></a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</ng-form>

