<html id="MainHtml" lang="en" class="html-main t-chrome t-chrome62">
<head>
    <title>
        Production Management
    </title>

    <!--CSS-->
    <link href="~/Areas/iMISAngular_Production/Content/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <link href="~/Areas/iMISAngular_Production/Content/mam---style.css" rel="stylesheet" />
    <link href="~/Areas/iMISAngular_Production/Content/select2.css" type="text/css" rel="stylesheet" />
    <link href="~/Areas/iMISAngular_Production/Content/angular-toastr.min.css" rel="stylesheet" />
    <link href="~/Areas/iMISAngular_Production/Content/CommonCSS.css" rel="stylesheet" />

    <!--JS-->
    <link href="https://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" type="text/css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.3/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular-sanitize.js"></script>
    <script src="https://code.jquery.com/ui/1.10.2/jquery-ui.min.js"></script>
    <script src="~/Areas/iMISAngular_Production/Scripts/toArrayFilter.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular-messages.js"></script>
    <script src="~/Areas/iMISAngular_Production/Scripts/select2.min.js"></script>
    <script src="~/Areas/iMISAngular_Production/Scripts/bootstrap.tooltip-popover.js"></script>
    <script src="~/Areas/iMISAngular_Production/Scripts/select2.js"></script>
    <script src="~/Areas/iMISAngular_Production/Scripts/AngularPlugins/select2.js"></script>
    <script src="~/Areas/iMISAngular_Production/Scripts/AngularPlugins/angular-toastr.tpls.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>

    <!--Main JS-->
    <script src="~/Areas/iMISAngular_Production/index.js"></script>
    <!--Angular Directive-->
    <script src="~/Areas/iMISAngular_Production/app/resource/directive/DecimalNumberOnly.js"></script>
    <script src="~/Areas/iMISAngular_Production/app/resource/directive/Loader.js"></script>
    <!--Angular Controller-->
    <script src="~/Areas/iMISAngular_Production/app/resource/controller/ProductionManagementController.js"></script>
    <!--Angular Factory-->
    <script src="~/Areas/iMISAngular_Production/app/resource/handleExceptionFactory.js"></script>
    <script src="~/Areas/iMISAngular_Production/app/resource/positionFactory.js"></script>
    <script src="~/Areas/iMISAngular_Production/app/resource/separationFactory.js"></script>
    <script src="~/Areas/iMISAngular_Production/app/resource/productionStatusFactory.js"></script>
    <script src="~/Areas/iMISAngular_Production/app/resource/productionStagesFactory.js"></script>
    <style>
        .ui-state-hover {
            height: 1.9em !important;
        }
    </style>
    <base href="/">
</head>

<body class=" body-main sidebar-fixed">
    <div ng-app="mediaAssetsApp" ng-cloak>
        <div class="row">
            <div class="col-sm-12">
                <div class="">
                    <ng-include src="' '+iMISbaseUrl+'Areas/iMISAngular_Production/include.html'" ng-if="flag"></ng-include>
                </div>
            </div>
        </div>
    </div>
</body>
</html>