<html id="MainHtml" lang="en" class="html-main t-chrome t-chrome62">
<head>
    <title>
        Sales Reps
    </title>


    <!--CSS-->
    <link href="~/Areas/iMISAngular_Reps/Content/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <link href="~/Areas/iMISAngular_Reps/Content/mam---style.css" rel="stylesheet" />
    <link href="~/Areas/iMISAngular_Reps/Content/select2.css" type="text/css" rel="stylesheet" />
    <link href="~/Areas/iMISAngular_Reps/Content/angular-toastr.min.css" rel="stylesheet" />
    <link href="~/Areas/iMISAngular_Reps/Content/CommonCSS.css" rel="stylesheet" />

    <!--JS-->
    <link href="https://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" type="text/css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.3/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular-sanitize.js"></script>
    <script src="https://code.jquery.com/ui/1.10.2/jquery-ui.min.js"></script>
    <script src="~/Areas/iMISAngular_Reps/Scripts/toArrayFilter.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular-messages.js"></script>
    <script src="~/Areas/iMISAngular_Reps/Scripts/select2.min.js"></script>
    <script src="~/Areas/iMISAngular_Reps/Scripts/bootstrap.tooltip-popover.js"></script>
    <script src="~/Areas/iMISAngular_Reps/Scripts/select2.js"></script>
    <script src="~/Areas/iMISAngular_Reps/Scripts/AngularPlugins/select2.js"></script>
    <script src="~/Areas/iMISAngular_Reps/Scripts/AngularPlugins/angular-toastr.tpls.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>

    <!--Main JS-->
    <script src="~/Areas/iMISAngular_Reps/index.js"></script>
    <!--Angular Directive-->
    <script src="~/Areas/iMISAngular_Reps/app/resource/directive/DecimalNumberOnly.js"></script>
    <script src="~/Areas/iMISAngular_Reps/app/resource/directive/Loader.js"></script>
    <!--Angular Controller-->
    <script src="~/Areas/iMISAngular_Reps/app/resource/controller/RepTerritoriesController.js"></script>
    <!--Angular Factory-->
    <script src="~/Areas/iMISAngular_Reps/app/resource/handleExceptionFactory.js"></script>
    <script src="~/Areas/iMISAngular_Reps/app/resource/RepsFactory.js"></script>
    <script src="~/Areas/iMISAngular_Reps/app/resource/territoriesFactory.js"></script>
    <script src="~/Areas/iMISAngular_Reps/app/resource/repsTerritoryFactory.js"></script>
    <style>
        .ui-state-hover {
            height: 1.9em !important;
        }

        .navbar-header.nav-auxiliary {
            width: 100% !important;
        }
    </style>

    <base href="/">
</head>
<body class=" body-main sidebar-fixed">
    <div ng-app="mediaAssetsApp" ng-cloak>
        <div class="row">
            <div class="col-sm-12">
                <h2 class="mamTitle"><img ng-src="{{iMISbaseUrl}}Areas/iMISAngular_Reps/image/mam-icon.png" alt="" class="mamTitleImg" />Sales Reps</h2>
                <div class="">
                    <ng-include src="''+iMISbaseUrl+'Areas/iMISAngular_Reps/include.html'" ng-if="flag"></ng-include>
                </div>
            </div>
        </div>
    </div>
</body>
</html>