﻿
<style>
    .setDivBorder {
        border: 1px solid #ddd;
        border-radius: 5px;
        margin-bottom: 20px;
    }

    .setTextCenter {
        text-align: center;
    }
</style>

<ng-form name="adAdjustmentsForm" novalidate>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="media-assets">
            <div class="main-tab-content">
                <div class="tab-header">
                    <h5>AD ADJUSTMENTS FOR <span> {{MediaAssetName}}</span></h5>
                </div>
                <div class="tabContent">
                    <div class="tabContentHeader">
                        <div class="tabContentHeaderTitle">
                            <a ng-click="AddIssueDate();"><h6>{{AddOREdit}} AD ADJUSTMENTS</h6></a>
                        </div>
                        <div class="search-container">
                            <input type="text" name="" placeholder="Search Ad Adjustments" ng-model="SearchAdAdjustments" />
                            <img ng-src="{{baseUrl}}/areas/imisAngular/image/search-icon.png" alt="" />
                        </div>
                    </div>
                    <div class="tabContentArea">
                        <div class="row">
                            <div class="col-md-4">

                                <div class="form-group" ng-class="{error:adAdjustmentsForm.productCode.$invalid}">
                                    <label for="ProductCode" class="asteriskRequired">Product Code</label>
                                    <div class="clearfix"></div>
                                    <select class="full-width" ui-select2="productCodeSelect2" ng-model="adAdjustment.ProductCode" data-placeholder="Select Product Code" required=""
                                            style="width: 100%" name="productCode" id="productcode" ng-change="onProductCodeChange()">
                                        <option value="">Select Product Code</option>
                                        <option ng-repeat="items in mediaAssetItemCode " value="{{items.ItemId}}">{{items.ItemCode + " " + "(" + items.Name +")"}}</option>
                                    </select>
                                    <div ng-show="showMsgs|| adAdjustmentsForm.productCode.$touched && adAdjustmentsForm.productCode.$invalid && adAdjustmentsForm.productCode.$dirty">
                                        <div style="color:red" ng-show="adAdjustmentsForm.productCode.$error.required">Product Code is required.</div>
                                    </div>

                                    <!--<select ng-options="items.ItemId as (items.Name + ' ' + '('+items.ItemCode+')') for items in mediaAssetItemCode" ng-model="adAdjustment.ProductCode"
                                            class="form-control custom-select" name="productCode" id="productcode" style="width: 100%" placeholder="Select Product Code" required="">
                                        <option value="">Select Product Code</option>
                                    </select>-->
                                    <!--<div ng-show="showMsgs || adAdjustmentsForm.productCode.$invalid && adAdjustmentsForm.productCode.$dirty  ">
                                        <div style="color:red;" ng-show="adAdjustmentsForm.productCode.$error.required">Product Code is required.</div>
                                    </div>-->

                                </div>

                                <div class="form-group" ng-class="{error:adAdjustmentsForm.adjustment.$invalid }">
                                    <label for="AdAdjustmentName" class="asteriskRequired">Ad Adjustment Name</label>
                                    <input ng-model="adAdjustment.AdAdjustmentName" name="adjustment" type="text" class="form-control" id="adjustmentname" placeholder="Enter Ad Adjustment Name" required="">

                                    <div ng-show="showMsgs || adAdjustmentsForm.adjustment.$invalid && adAdjustmentsForm.adjustment.$dirty ">
                                        <div style="color:red" ng-show="adAdjustmentsForm.adjustment.$error.required">Adjustment Name is required.</div>
                                    </div>

                                </div>

                                <div class="form-group">
                                    <div class="col-md-6">
                                        <div class="col-md-12 setDivBorder">
                                            <div class="radio">
                                                <label><input type="radio" name="adjustmentamount" ng-model="adAdjustment.AmountPercent" value="0">Amount</label>
                                            </div>
                                            <div class="radio">
                                                <label><input type="radio" name="adjustmentamount" ng-model="adAdjustment.AmountPercent" value="1">Percent</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="col-md-12 setDivBorder">
                                            <div class="radio">
                                                <label><input type="radio" name="adjustmentsurcharge" ng-model="adAdjustment.SurchargeDiscount" value="0">Surcharge</label>
                                            </div>
                                            <div class="radio">
                                                <label><input type="radio" name="adjustmentdiscount" ng-model="adAdjustment.SurchargeDiscount" value="1">Discount</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group" ng-class="{error:adAdjustmentsForm.adjustmentstarget.$invalid}">
                                    <label for="AdjustmentTarget" class="asteriskRequired">Adjustments Target</label>
                                    <div class="clearfix"></div>
                                    <!--<select ng-options="items.AdAdjustmentTargetName as items.AdAdjustmentTargetName for items in adAdjustmentsTargets" ng-model="adAdjustment.AdjustmentTarget"
                                            class="form-control custom-select" name="adjustmentstarget" id="adjustmentstarget" style="width: 100%" placeholder="Select Adjustments Target" required="">
                                        <option value="">Select Adjustments Target</option>
                                    </select>-->
                                    <select ng-model="adAdjustment.AdjustmentTarget" ui-select2="adjustmentTargetSelect2" ng-change="onAdjustmentTargetChange()"
                                            class="full-width" name="adjustmentstarget" id="adjustmentstarget" style="width: 100%" placeholder="Select Adjustments Target" required="">
                                        <option value="">Select Adjustments Target</option>
                                        <option ng-repeat="items in adAdjustmentsTargets " value="{{items.AdAdjustmentTargetName}}">{{items.AdAdjustmentTargetName}}</option>
                                    </select>
                                    <div ng-show="showMsgs || adAdjustmentsForm.adjustmentstarget.$touched && adAdjustmentsForm.adjustmentstarget.$invalid && adAdjustmentsForm.adjustmentstarget.$dirty  ">
                                        <div style="color:red;" ng-show="adAdjustmentsForm.adjustmentstarget.$error.required">Adjustments Target is required.</div>
                                    </div>
                                </div>

                                <div class="form-group" ng-class="{error:adAdjustmentsForm.adjustmentsvalue.$invalid }">
                                    <label for="AdjustmentValue" class="asteriskRequired">Adjustments Value</label>
                                    <input allow-decimal-numbers ng-model="adAdjustment.AdjustmentValue" name="adjustmentsvalue" type="text" class="form-control" id="adjustmentsvalue" placeholder="Enter Adjustments Value" required="">
                                    <div ng-show="showMsgs || adAdjustmentsForm.adjustmentsvalue.$invalid && adAdjustmentsForm.adjustmentsvalue.$dirty ">
                                        <div style="color:red" ng-show="adAdjustmentsForm.adjustmentsvalue.$error.required">Adjustment Value is required.</div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <button type="button" class="blueBtn createBtn" id="btnAdAdjustment" ng-click="SaveAdjustments(adAdjustment);">Create</button>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="table-responsive custom-table">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Ad Adjustment Name</th>
                                                <th>Amount | Precent</th>
                                                <th>Surcharge | Discount</th>
                                                <th>Adjustment Value</th>
                                                <th>Product Code</th>
                                                <th style="min-width:75px;"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-if="isShowDefaultTable == false" ng-repeat="adAdjustment in adAdjustments | toArray:false | filter:SearchAdAdjustments ">
                                                <td>{{adAdjustment.AdAdjustmentName}}</td>
                                                <td bind-once>{{adAdjustment.AmountPercent == 0 ? "Amount" : "Percent"}}</td>
                                                <td bind-once>{{adAdjustment.SurchargeDiscount  == 0 ? "Surcharge" : "Discount"}}</td>
                                                <td bind-once>{{adAdjustment.AdjustmentValue}}</td>
                                                <td bind-once>{{adAdjustment.ProductCode}}</td>
                                                <td>
                                                    <a ng-click="EditadAdjustments(adAdjustment);" title="Edit" href="javascript:"><img ng-src="{{baseUrl}}/areas/iMISAngular/image/edit-icon.png" alt="" /></a>
                                                    <a ng-click="DeleteadAdjustments(adAdjustment);" title="Delete" href="javascript:"><img ng-src="{{baseUrl}}/areas/iMISAngular/image/delete-icon.png" alt="" /></a>
                                                </td>
                                            </tr>
                                            <tr ng-if="isShowDefaultTable == true">
                                                <td colspan="6" class="setTextCenter">No Record is Found</td>
                                            </tr>
                                            <tr ng-if="isLoading == dataLoading">
                                                <td>&nbsp;</td>
                                                <td>&nbsp;</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div ng-if="isLoading == dataLoading">
                                        <div class="dataLoad">
                                            <div data-loading></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-form>
