<style>
    .setTextCenter {
        text-align: center;
    }
</style>

<ng-form name="IssueDateForm" novalidate>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="media-assets">
            <div class="main-tab-content">
                <div class="tab-header">
                    <h5>Issue Dates For <span>{{mediaAsset.MediaAssetName}}</span></h5>
                </div>
                <div class="tabContent">
                    <div class="tabContentHeader">
                        <div class="tabContentHeaderTitle">
                            <a ng-click="AddIssueDate();"><h6>{{AddOREdit}} Issue Dates</h6></a>
                        </div>
                        <div class="search-container">
                            <input type="text" name="" placeholder="Search Issues" ng-model="SearchIssues" />
                            <img ng-src="{{baseUrl}}/areas/imisAngular/image/search-icon.png" alt="" />
                        </div>
                    </div>
                    <div class="tabContentArea">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group" ng-class="{error:IssueDateForm.CoverDate.$invalid }">
                                    <label for="CoverDate" class="asteriskRequired">Issue Date</label>
                                    <div class="input-group date" data-date-format="mm/dd/yyyy">
                                        <input type="text" class="form-control datepicker" id="txtCoverDate" name="CoverDate" ng-model="issueDate.CoverDate" placeholder="Select Issue Date" required>
                                        <div class="input-group-addon">
                                            <img ng-src="{{baseUrl}}/areas/imisAngular/image/calendar-icon-bw.png" alt="" />
                                        </div>
                                        <div ng-show="showMsgs || IssueDateForm.CoverDate.$dirty && IssueDateForm.CoverDate.$invalid">
                                            <div style="color:red" ng-show="IssueDateForm.CoverDate.$error.required">Issue date is required.</div>
                                        </div>
                                    </div>
                                </div>
                                <!--<div class="form-group" ng-class="{error:IssueDateForm.CoverDate.$invalid }">
                                    <label for="CoverDate" class="asteriskRequired">Issue Date</label>
                                    <div class="input-group date" data-date-format="mm/dd/yyyy">
                                        <input type="text" class="form-control datepicker" id="txtCoverDate" name="CoverDate" ng-model="issueDate.CoverDate" placeholder="Select Issue Date" required>
                                        <div class="input-group-addon">
                                            <img ng-src="{{baseUrl}}/areas/imisAngular/image/calendar-icon-bw.png" alt="" />
                                        </div>
                                        <div ng-show=" showMsgs || IssueDateForm.CoverDate.$dirty && IssueDateForm.CoverDate.$invalid">
                                            <div style="color:red" ng-show="IssueDateForm.CoverDate.$error.required">Issue date is required.</div>
                                        </div>
                                    </div>
                                </div>-->
                                <div class="form-group">
                                    <label for="AdClosingDate">Ad Closing Date</label>
                                    <div class="input-group date" data-date-format="mm/dd/yyyy">
                                        <input type="text" class="form-control datepicker" id="txtAdClosingDate" name="AdClosingDate" ng-model="issueDate.AdClosingDate" placeholder="Select Ad Closing Date">
                                        <div class="input-group-addon">
                                            <img ng-src="{{baseUrl}}/areas/imisAngular/image/calendar-icon-bw.png" alt="" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="MaterialDueDate">Materials Due Date</label>
                                    <div class="input-group date" data-date-format="mm/dd/yyyy">
                                        <input type="text" class="form-control datepicker" id="txtMaterialDueDate" name="MaterialDueDate" ng-model="issueDate.MaterialDueDate" placeholder="Select Ad Closing Date">
                                        <div class="input-group-addon">
                                            <img ng-src="{{baseUrl}}/areas/imisAngular/image/calendar-icon-bw.png" alt="" />
                                        </div>
                                    </div>
                                </div>

                                <!--<div class="form-group" ng-class="{error:IssueDateForm.AdClosingDate.$invalid }">
                                    <label for="AdClosingDate" class="asteriskRequired">Ad Closing Date</label>
                                    <div class="input-group date" data-date-format="mm/dd/yyyy">
                                        <input type="text" class="form-control datepicker" id="txtAdClosingDate" name="AdClosingDate" ng-model="issueDate.AdClosingDate" placeholder="Select Ad Closing Date" required>
                                        <div class="input-group-addon">
                                            <img ng-src="{{baseUrl}}/areas/imisAngular/image/calendar-icon-bw.png" alt="" />
                                        </div>
                                        <div ng-show="showMsgs || IssueDateForm.AdClosingDate.$dirty && IssueDateForm.AdClosingDate.$invalid">
                                            <div style="color:red" ng-show="IssueDateForm.AdClosingDate.$error.required">AdClosing date is required.</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" ng-class="{error:IssueDateForm.MaterialDueDate.$invalid }">
                                    <label for="MaterialDueDate" class="asteriskRequired">Materials Due Date</label>
                                    <div class="input-group date" data-date-format="mm/dd/yyyy">
                                        <input type="text" class="form-control datepicker" id="txtMaterialDueDate" name="MaterialDueDate" ng-model="issueDate.MaterialDueDate" placeholder="Select Ad Closing Date" required>
                                        <div class="input-group-addon">
                                            <img ng-src="{{baseUrl}}/areas/imisAngular/image/calendar-icon-bw.png" alt="" />
                                        </div>
                                        <div ng-show="showMsgs ||  IssueDateForm.MaterialDueDate.$dirty && IssueDateForm.MaterialDueDate.$invalid">
                                            <div style="color:red" ng-show="IssueDateForm.MaterialDueDate.$error.required">Material due date is required.</div>
                                        </div>
                                    </div>
                                </div>-->
                                <div class="form-group">
                                    <label for="issuename">Issue Name</label>
                                    <input type="text" class="form-control" id="issuename" name="issuename" ng-model="issueDate.IssueName" placeholder="Enter Issue Name">
                                </div>
                                <div class="form-group">
                                    <label for="issuecode">Issue Code</label>
                                    <input type="text" class="form-control" id="issuecode" name="issuecode" ng-model="issueDate.IssueCode" placeholder="Enter Issue Code">
                                </div>
                                <div class="form-group">
                                    <button type="button" class="blueBtn createBtn" id="btnIssueDate" ng-click="SaveIssueDate(issueDate);">Create</button>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="table-responsive custom-table">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Issue Date</th>
                                                <th>Ad Closing Date</th>
                                                <th>Materials Due Date</th>
                                                <th>Issue Name</th>
                                                <th>Issue Code</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-if="isShowDefaultTable == false" ng-repeat="issueDate in issueDates | toArray:false | filter:SearchIssues ">
                                                <td bind-once>{{issueDate.CoverDate | date:'MM/dd/yyyy'}}</td>
                                                <td bind-once>{{issueDate.AdClosingDate | date:'MM/dd/yyyy'}}</td>
                                                <td bind-once>{{issueDate.MaterialDueDate | date:'MM/dd/yyyy'}}</td>
                                                <td bind-once>{{issueDate.IssueName}}</td>
                                                <td bind-once>{{issueDate.IssueCode}}</td>
                                                <td>
                                                    <a ng-click="EditIssueDate(issueDate);" title="Edit" href="javascript:"><img ng-src="{{baseUrl}}/areas/imisAngular/image/edit-icon.png" alt="" /></a>
                                                    <a ng-click="DeleteIssueDate(issueDate);" title="Delete" href="javascript:"><img ng-src="{{baseUrl}}/areas/imisAngular/image/delete-icon.png" alt="" /></a>
                                                </td>
                                            </tr>
                                            <tr ng-if="isShowDefaultTable == true">
                                                <td colspan="8" class="setTextCenter">No Record is Found</td>
                                            </tr>
                                            <tr ng-if="isLoading == dataLoading">
                                                <td>&nbsp;</td>
                                                <td>&nbsp;</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div ng-if="isLoading == dataLoading">
                                        <div class="dataLoad">
                                            <div data-loading></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-form>