<style>
    .setThumbnailImageWidthHeight {
        width: 50px !important;
        height: 25px !important;
    }
</style>

<ng-form name="MediaAssetsForm" novalidate style="height: auto; width: auto; overflow: auto; margin-bottom:0;">
    <div class="modal fade bs-example-modal-sm mampopup in" id="mediaAssetModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <!--<form style="height: auto; width: auto; overflow: auto; margin-bottom:0;">-->
                    <div class="form-group" ng-class="{error:MediaAssetsForm.mediaAsset.$invalid }">
                        <label for="mediaassetname" class="asteriskRequired">Media Asset</label>
                        <input ng-model="mediaAsset.mediaAssetName" name="mediaAsset" type="text" class="form-control" id="mediaassetname" placeholder="Enter Media Asset Name" required="">
                        <div ng-show="showMsgs || MediaAssetsForm.mediaAsset.$invalid && MediaAssetsForm.mediaAsset.$dirty">
                            <div style="color:red" ng-show="MediaAssetsForm.mediaAsset.$error.required">Media Asset is required.</div>
                        </div>
                    </div>

                    <div class="form-group" ng-class="{error:MediaAssetsForm.mediaCode.$invalid }">
                        <label for="mediacode" class="asteriskRequired">Code</label>
                        <input ng-model="mediaAsset.mediaCode" type="text" name="mediaCode" class="form-control" id="mediacode" placeholder="Enter Media Code" required="">
                        <div ng-show="showMsgs|| MediaAssetsForm.mediaCode.$invalid && MediaAssetsForm.mediaCode.$dirty">
                            <div style="color:red" ng-show="MediaAssetsForm.mediaCode.$error.required">Code is required.</div>
                        </div>
                    </div>


                    <div class="form-group" ng-class="{error:MediaAssetsForm.productCode.$invalid }">
                        <label for="mediaItem" class="asteriskRequired">Item Code</label>
                        <div class="clearfix"></div>
                        <select class="full-width" ui-select2="groupSetup" ng-model="mediaAsset.productCode" data-placeholder="Select Item Code" required=""
                                style="width: 100%" name="productCode" id="productcode" ng-change="onProductCodeChange()">
                            <option value="">Select Item Code</option>
                            <option ng-repeat="items in mediaAssetItemCode " value="{{items.ItemId}}">{{items.ItemCode + " " + "(" + items.Name +")"}}</option>
                        </select>
                        <div ng-show="showMsgs|| MediaAssetsForm.productCode.$touched && MediaAssetsForm.productCode.$invalid && MediaAssetsForm.productCode.$dirty">
                            <div style="color:red" ng-show="MediaAssetsForm.productCode.$error.required">Item Code is required.</div>
                        </div>
                    </div>

                    <div class="form-group" ng-class="{error:MediaAssetsForm.MediaGroup.$invalid }">
                        <label for="mediagroup" class="asteriskRequired">Group</label>
                        <a data-toggle="modal" ng-click="InitMediaAssetGroupModalPopup()" data-target="#mediaAssetGroupModal" href="javascript:void(0);" title="Add New Media Froup" class="add-link">
                            <img ng-src="{{baseUrl}}/areas/iMISAngular/image/add-icon.png" alt="" />
                        </a>
                        <!--<a data-toggle="modal" ng-click="InitMediaAssetGroupModalPopup();" data-target="#mediaAssetGroupModal" title="Add New Media Froup" href="javascript:">
                            <img class="setImageIcon" src="{{baseUrl}}/areas/iMISAngular/image/plus-icon.png" alt="Add New Reps" />
                        </a>-->
                        <div class="clearfix"></div>
                        <select ng-model="mediaAsset.mediaAssetGroupId" ui-select2="mediaGroupSelect2" ng-change="onMediaGroupChange()"
                                class="full-width" name="MediaGroup" id="mediagroup" style="width: 100%" placeholder="Select Media Group" required="">
                            <option value="">Select Media Group</option>
                            <option ng-repeat="items in mediaAssetGroups " value="{{items.MediaAssetGroupId}}">{{items.MediaAssetGroupName}}</option>
                        </select>
                        <div ng-show="showMsgs || MediaAssetsForm.MediaGroup.$touched && MediaAssetsForm.MediaGroup.$invalid && MediaAssetsForm.MediaGroup.$dirty">
                            <div style="color:red;" ng-show="MediaAssetsForm.MediaGroup.$error.required">Media Group is required.</div>
                        </div>
                    </div>

                    <div class="form-group" ng-class="{error:MediaAssetsForm.MediaType.$invalid }">
                        <label for="mediatype" class="asteriskRequired">Type</label>
                        <div class="clearfix"></div>
                        <!--<select ng-options="item.MediaTypeId as item.MediaTypeName for item in mediaTypes" ng-model="mediaAsset.mediaTypeId"
                                class="form-control custom-select" name="MediaType" id="mediatype" style="width: 100%" required="">
                            <option value="">Select Media Type</option>
                        </select>-->
                        <select ng-model="mediaAsset.mediaTypeId" ui-select2="mediaTypeSelect2" ng-change="onMediaTypeChange()"
                                class="full-width" name="MediaType" id="mediatype" style="width: 100%" required="">
                            <option value="">Select Media Type</option>
                            <option ng-repeat="items in mediaTypes " value="{{items.MediaTypeId}}">{{items.MediaTypeName}}</option>
                        </select>

                        <div ng-show="showMsgs || MediaAssetsForm.MediaType.$touched && MediaAssetsForm.MediaType.$invalid && MediaAssetsForm.MediaType.$dirty">
                            <div style="color:red;" ng-show="MediaAssetsForm.MediaType.$error.required">Media Type is required.</div>
                        </div>
                    </div>
                    <div class="form-group custom-upload">
                        <label for="file-upload" class="custom-file-upload">
                            <img ng-src="{{ImageSrc}}" alt="upload" ng-model="mediaAsset.logo" id="MediaAssetsImage" style="height:70px !important; width:auto;" /> Upload logo
                        </label>
                        <input id="file-upload" class="mediaAsset-Logo" type="file" onchange="angular.element(this).scope().uploadImage()" ng-model="logofile" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnMediaAsset" class="blueBtn" ng-click="SaveMediaAsset(mediaAsset);">Create Media Asset</button>
                    <button type="button" class="blueBtn" data-dismiss="modal" ng-click="CancelMediaAsset(mediaAsset);">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</ng-form>

<div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="media-assets">
        <div class="main-tab-content">
            <div class="tab-header">
                <h5>Media Assets</h5>
            </div>
            <div class="tabContent">
                <div class="tabContentHeader">
                    <a class="blueBtn" id="" data-toggle="modal" data-target="#mediaAssetModal" ng-click="InitMediaAssetPopup(mediaAsset);">Create Media Asset</a>
                    <div class="search-container">
                        <input type="text" name="" placeholder="Search Media Assets" ng-model="searchText" />
                        <img ng-src="{{baseUrl}}/areas/imisAngular/image/search-icon.png" alt="" />
                    </div>
                </div>
                <div class="tabContentArea">
                    <div class="table-responsive custom-table">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Media Asset</th>
                                    <th>Media Code</th>
                                    <th>Media Group</th>
                                    <th>Media Type</th>
                                    <th>Logo</th>
                                    <th>Rate Cards</th>
                                    <th>Ad Adjustments</th>
                                    <th>Issue Dates</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-if="isShowDefaultTable == false" ng-repeat="mediaAssetsItem in mediaAssets | toArray:false | filter:searchText">
                                    <td bind-once>{{mediaAssetsItem.mediaAssetName}}</td>
                                    <td bind-once>{{mediaAssetsItem.mediaCode}}</td>
                                    <td bind-once>{{mediaAssetsItem.mediaAssetGroupName}}</td>
                                    <td bind-once>{{mediaAssetsItem.mediaTypeName}}</td>
                                    <td bind-once><img class="setThumbnailImageWidthHeight" ng-src="{{mediaAssetsItem.thumbLogo}}" alt="" /></td>
                                    <td><a ng-click="redirectToRateCard(mediaAssetsItem)" title="Rate Card" href="javascript:">{{mediaAssetsItem.numberOfActiveRateCards}} Active</a></td>
                                    <td><a ng-click="redirectToAdjustment(mediaAssetsItem)" title="Ad Adjustment" href="javascript:">Add New</a></td>
                                    <td><a ng-click="redirectToIssueDate(mediaAssetsItem)" title="Issue Date" href="javascript:"><img ng-src="{{baseUrl}}/areas/iMISAngular/image/calendar-icon.png" alt="" /></a></td>
                                    <td>
                                        <a ng-click="EditMediaAsset(mediaAssetsItem);" title="Edit" data-toggle="modal" data-target="#mediaAssetModal" href="javascript:"><img ng-src="{{baseUrl}}/areas/imisAngular/image/edit-icon.png" alt="" /></a>
                                        <a ng-click="DeleteMediaAsset(mediaAssetsItem);" title="Delete" href="javascript:"><img ng-src="{{baseUrl}}/areas/imisAngular/image/delete-icon.png" alt="" /></a>
                                    </td>
                                </tr>
                                <tr ng-if="isShowDefaultTable == true">
                                    <td colspan="8" class="setTextCenter">No Record is Found</td>
                                </tr>
                                <tr ng-if="isLoading == dataLoading">
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                            </tbody>
                        </table>
                        <div ng-if="isLoading == dataLoading">
                            <div class="dataLoad">
                                <div data-loading></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--mediaAssetGroup Modal Html-->
<ng-form name="mediaAssetGroupForm" novalidate>
    <div>
        <div class="modal fade bs-example-modal-sm mampopup in" id="mediaAssetGroupModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="form-group" ng-class="{error:mediaAssetGroupForm.MediaAssetGroupName.$invalid}">
                            <label for="MediaAssetGroupName" class="asteriskRequired">Name</label>
                            <input ng-model="MediaAssetGroup.MediaAssetGroupName" name="MediaAssetGroupName" type="text" class="form-control" id="MediaAssetGroupName" placeholder="Enter Media Asset Group Name" required="">
                            <div ng-show="MediaAssetGroupNameModalMsgs || mediaAssetGroupForm.MediaAssetGroupName.$invalid && mediaAssetGroupForm.MediaAssetGroupName.$dirty  ">
                                <div style="color:red;" ng-show="mediaAssetGroupForm.MediaAssetGroupName.$error.required">Media Asset Group is required.</div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="btnMediaAssetGroup" class="blueBtn" ng-click="SaveMediaAssetGroupForm(MediaAssetGroup);">Create </button>
                        <button type="button" class="blueBtn" data-dismiss="modal" ng-click="CancelMediaAssetGroupForm(MediaAssetGroup);">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-form>