﻿
<style>
    .noclick {
        pointer-events: none;
    }
</style>

<div>
    <div class="step-wizard">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" ng-class="{'active':MediaAssetTab,  'noclick':MediaAssetDisable}"><a ui-sref=".mediaAssets" ng-click="setMediaAssetsTabActive()" aria-controls="media-assets" role="tab" data-toggle="tab">Media Assets</a></li>
            <li role="presentation" ng-class="{'active':issueDateTab,  'noclick':issueDateTabDisable}"><a ui-sref=".issueDate({mediaAssetId: tabMediaAssetId})" ng-click="setIssueDateTabActive()" href="#issue-dates" aria-controls="issue-dates" role="tab" data-toggle="tab">Issue Dates</a></li>
            <li role="presentation" ng-class="{'active':AdAdjustmentTab,  'noclick':AdAdjustmenTabDisable}"><a ui-sref=".AdAdjustment({mediaAssetId: tabMediaAssetId})" ng-click="setAdAdjustmentTabActive()" href="#ad-adjustments" aria-controls="ad-adjustments" role="tab" data-toggle="tab">Ad Adjustments</a></li>
            <li role="presentation" ng-class="{'active':rateCardTab,  'noclick':rateCardTabDisable}"><a ui-sref=".rateCard({mediaAssetId: tabMediaAssetId})" ng-click="setRateCardTabActive()" aria-controls="rate-cards" role="tab" data-toggle="tab">Rate Cards</a></li>
            <li role="presentation" ng-class="{'active':rateCardsDetailsTab,  'noclick':rateCardsDetailsTabDisable}"><a ui-sref=".rateCardsDetails.({RateCardId: tabRateCardId})" ng-click="setRateCardsDetailsTabActive()" aria-controls="rate-cards-details" role="tab" data-toggle="tab">Rate Cards Details</a></li>
        </ul>
        <div ui-view></div>
    </div>
</div>