﻿
<style>
    .setImageIcon {
        height: 15px;
        width: 15px;
    }

    .setTextCenter {
        text-align: center;
    }
</style>

<ng-form name="rateCardForm" novalidate>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="media-assets">
            <div class="main-tab-content">
                <div class="tab-header">
                    <h5>Rate Cards For  <span>{{MediaAssetName}}</span></h5>
                </div>
                <div class="tabContent">
                    <div class="tabContentHeader">
                        <div class="tabContentHeaderTitle">
                            <a ng-click="AddIssueDate();"><h6>{{AddOREdit}} Rate Card</h6></a>
                        </div>
                        <div class="search-container">
                            <input type="text" name="" placeholder="Search Rate Cards" ng-model="SearchRateCard" />
                            <img ng-src="{{baseUrl}}/areas/imisAngular/image/search-icon.png" alt="" />
                        </div>
                    </div>
                    <div class="tabContentArea">
                        <div class="row">
                            <div class="col-md-4">

                                <div class="form-group" ng-class="{error:rateCardForm.RateCardName.$invalid }">
                                    <label for="RateCardName" class="asteriskRequired">Rate Card Name</label>
                                    <!--<input ng-model="rateCard.RateCardName" name="RateCardName" type="text" class="form-control" id="RateCardName" placeholder="Enter Rate Card Name" required="">-->
                                    <input ng-model="RateCardName" name="RateCardName" type="text" class="form-control" id="RateCardName" placeholder="Enter Rate Card Name" required="">
                                    <div ng-show="showMsgs || rateCardForm.RateCardName.$invalid && rateCardForm.RateCardName.$dirty ">
                                        <div style="color:red" ng-show="rateCardForm.RateCardName.$error.required">RateCard Name is required.</div>
                                    </div>
                                </div>

                                <div class="form-group" ng-class="{error:rateCardForm.AdType.$invalid}">
                                    <label for="AdType" class="asteriskRequired">Ad Type</label>
                                    <a data-toggle="modal" ng-click="InitAdTypePopup()" data-target="#adTypeModal" href="javascript:void(0);" title="Ad Type" class="add-link">
                                        <img ng-src="{{baseUrl}}/areas/iMISAngular/image/add-icon.png" alt="" />
                                    </a>
                                    <!--<a data-toggle="modal" ng-click="InitAdTypePopup();" data-target="#adTypeModal" title="Ad Type" href="javascript:">
                                        <img class="setImageIcon" src="{{baseUrl}}/areas/iMIS-Angular/image/plus-icon.png" alt="" placeholder="Select Ad Type" />
                                    </a>-->
                                    <div class="clearfix"></div>
                                    <!--<select ng-options="items.adTypeId as items.adTypeName for items in adTypes" ng-model="rateCard.AdTypeId"
                                            class="form-control custom-select" name="AdType" id="AdType" style="width: 100%" required=""
                                            ng-change="updateAdType()">
                                        <option value="">Select Ad Type</option>
                                    </select>-->
                                    <select ng-model="rateCard.AdTypeId" ui-select2="adTypesSelect2" ng-change="updateAdType()"
                                            class="full-width" name="AdType" id="AdType" style="width: 100%" required="">
                                        <option value="">Select Ad Type</option>
                                        <option ng-repeat="items in adTypes " value="{{items.adTypeId}}">{{items.adTypeName}}</option>
                                    </select>
                                    <div ng-show="showMsgs || rateCardForm.AdType.$touched && rateCardForm.AdType.$invalid && rateCardForm.AdType.$dirty  ">
                                        <div style="color:red;" ng-show="rateCardForm.AdType.$error.required">Ad Type is required.</div>
                                    </div>
                                </div>


                                <div class="form-group" ng-class="{error:rateCardForm.MediaType.$invalid}">
                                    <label for="MediaType" class="asteriskRequired">Media Type </label>
                                    <div class="clearfix"></div>
                                    <!--<select ng-options="items.MediaTypeId as items.MediaTypeName for items in mediaTypes" ng-model="rateCard.MediaTypeId"
                                            class="form-control custom-select" name="MediaType" id="MediaType" style="width: 100%" required=""
                                            ng-change="updateMediaType()" placeholder="Select Media Type">
                                        <option value="">Select Media Type</option>
                                    </select>-->
                                    <select ng-model="rateCard.MediaTypeId" ui-select2="adMediaTypesSelect2" ng-change="updateMediaType()"
                                            class="full-width" name="MediaType" id="MediaType" style="width: 100%" required=""
                                            placeholder="Select Media Type">
                                        <option value="">Select Media Type</option>
                                        <option ng-repeat="items in mediaTypes " value="{{items.MediaTypeId}}">{{items.MediaTypeName}}</option>
                                    </select>
                                    <div ng-show="showMsgs || rateCardForm.MediaType.$touched && rateCardForm.MediaType.$invalid && rateCardForm.MediaType.$dirty  ">
                                        <div style="color:red;" ng-show="rateCardForm.MediaType.$error.required">Media Type is required.</div>
                                    </div>
                                </div>

                                <div class="form-group" ng-class="{error:rateCardForm.MediaBillingMethod.$invalid}">
                                    <label for="MediaBillingMethod" class="asteriskRequired">Media Billing Method </label>
                                    <div class="clearfix"></div>
                                    <!--<select ng-options="items.MediaBillingMethodId as items.MediaBillingMethodName for items in mediaBillingMethods" ng-model="rateCard.MediaBillingMethodId"
                                            class="form-control custom-select" name="MediaBillingMethod" id="MediaBillingMethod" style="width: 100%"
                                            ng-change="updateMediaBillingMethod()" placeholder="Select Media Billing Method" required="">
                                        <option value="">Select Media Billing Method</option>
                                    </select>-->
                                    <select ng-model="rateCard.MediaBillingMethodId" ui-select2="adMediaBillingSelect2" ng-change="updateMediaBillingMethod()"
                                            class="full-width" name="MediaBillingMethod" id="MediaBillingMethod" style="width: 100%"
                                            placeholder="Select Media Billing Method" required="">
                                        <option value="">Select Media Billing Method</option>
                                        <option ng-repeat="items in mediaBillingMethods " value="{{items.MediaBillingMethodId}}">{{items.MediaBillingMethodName}}</option>
                                    </select>

                                    <div ng-show="showMsgs ||rateCardForm.MediaBillingMethod.$touched && rateCardForm.MediaBillingMethod.$invalid && rateCardForm.MediaBillingMethod.$dirty  ">
                                        <div style="color:red;" ng-show="rateCardForm.MediaBillingMethod.$error.required">Media Billing Methods required.</div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="ValidFromDate" class="asteriskRequired">From</label>
                                    <div class="input-group date" data-date-format="mm/dd/yyyy">
                                        <input type="text" class="form-control datepicker" id="ValidFromDate" name="ValidFromDate" ng-model="rateCard.ValidFromDate" placeholder="Select Date" required="">
                                        <div class="input-group-addon">
                                            <img ng-src="{{baseUrl}}/areas/imisAngular/image/calendar-icon-bw.png" alt="" />
                                        </div>
                                        <div ng-show=" showMsgs  || rateCardForm.ValidFromDate.$invalid && rateCardForm.ValidFromDate.$dirty">
                                            <div style="color:red" ng-show="rateCardForm.ValidFromDate.$error.required">From date is required.</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="ValidToDate" class="asteriskRequired">To</label>
                                    <div class="input-group date" data-date-format="mm/dd/yyyy">
                                        <input type="text" class="form-control datepicker" id="ValidToDate" name="ValidToDate" ng-model="rateCard.ValidToDate" placeholder="Select Issue" required="">
                                        <div class="input-group-addon">
                                            <img ng-src="{{baseUrl}}/areas/imisAngular/image/calendar-icon-bw.png" alt="" />
                                        </div>
                                        <div ng-show=" showMsgs|| rateCardForm.ValidToDate.$invalid && rateCardForm.ValidToDate.$dirty">
                                            <div style="color:red" ng-show="rateCardForm.ValidToDate.$error.required">To date is required.</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <button type="button" class="blueBtn createBtn" id="btnRateCard" ng-click="SaveRateCard(rateCard);">Create</button>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="table-responsive custom-table">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Rate Card Name</th>
                                                <th>Ad Type</th>
                                                <th>Media Type</th>
                                                <th>Media Billing Method</th>
                                                <th>Copy<a class="tip" tabindex="0" data-toggle="popover" data-trigger="focus" data-content="All Rate Card details will<br> be copied as well.">(?)</a></th>
                                                <th>Validity From</th>
                                                <th>Validity To</th>
                                                <th style="min-width:75px;"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-if="isShowDefaultTable == false" ng-repeat="objrateCard in rateCards | toArray:false | filter:SearchRateCard ">
                                                <td>
                                                    <a ng-click="redirectToRateCardsDetails(objrateCard)" title="rate cards details" href="javascript:">
                                                        {{::objrateCard.RateCardName}}
                                                    </a>
                                                </td>
                                                <td bind-once>{{objrateCard.AdTypeName}}</td>
                                                <td bind-once>{{objrateCard.MediaTypeName}}</td>
                                                <td bind-once>{{objrateCard.MediaBillingMethodName}}</td>
                                                <td><a ng-click="copyRateCard(objrateCard)" title="copy" href="javascript:"><img ng-src="{{baseUrl}}/areas/iMISAngular/image/copy-icon.png" alt="copy" /></a></td>
                                                <td bind-once>{{objrateCard.ValidFromDate | date:'MM/dd/yyyy'}}</td>
                                                <td bind-once>{{objrateCard.ValidToDate | date:'MM/dd/yyyy'}}</td>
                                                <td>
                                                    <a ng-click="EditRateCard(objrateCard);" title="Edit" href="javascript:"><img ng-src="{{baseUrl}}/areas/iMISAngular/image/edit-icon.png" alt="edit" /></a>
                                                    <a ng-click="DeleteRateCard(objrateCard);" title="Delete" href="javascript:"><img ng-src="{{baseUrl}}/areas/iMISAngular/image/delete-icon.png" alt="delete" /></a>
                                                </td>
                                            </tr>
                                            <tr ng-if="isShowDefaultTable == true">
                                                <td colspan="8" class="setTextCenter">No Record is Found</td>
                                            </tr>
                                            <tr ng-if="isLoading == dataLoading">
                                                <td>&nbsp;</td>
                                                <td>&nbsp;</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div ng-if="isLoading == dataLoading">
                                        <div class="dataLoad">
                                            <div data-loading></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-form>



<!--Ad Type Modal Html-->
<ng-form name="AdTypeModalForm" novalidate>
    <div>
        <div class="modal fade bs-example-modal-sm mampopup in" id="adTypeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">

                    <div class="modal-body">
                        <div class="form-group" ng-class="{error:AdTypeModalForm.adTypeName.$invalid}">
                            <label for="adTypeName" class="asteriskRequired">Name</label>
                            <input ng-model="adType.adTypeName" name="adTypeName" type="text" class="form-control" id="adTypeName" placeholder="Enter Ad Type Name" required="">
                            <div ng-show="adTypeModalMsgs || AdTypeModalForm.adTypeName.$invalid && AdTypeModalForm.adTypeName.$dirty  ">
                                <div style="color:red;" ng-show="AdTypeModalForm.adTypeName.$error.required">Ad Type Name is required.</div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="btnAdType" class="blueBtn" ng-click="SaveAdType(adType);">Create </button>
                        <button type="button" class="blueBtn" data-dismiss="modal" ng-click="CancelAdType(adType);">Cancel</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</ng-form>



