﻿<style>
    .no-search .select2-search {
        display: none;
    }
</style>

<ng-form name="rateCardDetailsForm" novalidate>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="rate-cards-details">
            <div class="main-tab-content">
                <div class="tab-header">
                    <h5>Rate Cards Details For <span>{{MediaAssetName}}</span></h5>
                </div>
                <div class="tabContent">
                    <div class="tabContentHeader">
                        <div class="tabContentHeaderTitle">
                            <h6>Add Details For<span>  {{RateCardName}}</span></h6>
                        </div>
                    </div>
                    <div class="tabContentArea">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="pcode" style="opacity: 0.5;">Rate Card Name</label>
                                    <div class="clearfix"></div>
                                    <div class="filledData">{{RateCardName}}</div>
                                </div>

                                <div class="form-group">
                                    <label for="pcode" style="opacity: 0.5;">Ad Type</label>
                                    <div class="clearfix"></div>
                                    <div class="filledData" name="AdTypeId" id="AdTypeId">{{AdTypeName}}</div>
                                </div>

                                <div class="form-group" ng-class="{error:rateCardDetailsForm.AdColorId.$invalid}">
                                    <a href="javascript:void(0);" class="add-link" data-toggle="modal" ng-click="InitAdColorPopup()" data-target="#adColorModal"><img ng-src="{{baseUrl}}/areas/iMISAngular/image/add-icon.png" alt="" /></a>
                                    <label for="AdColorName" class="asteriskRequired">Ad Color</label>
                                    <div class="clearfix"></div>
                                    <!--<select class="form-control custom-select" ng-model="rateCardDetails.AdColorId" id="ddlAdColor" style="width: 100%" placeholder="Select Ad Color"
                                            ng-options="items.AdColorId as items.AdColorName for items in adColors" ng-change="changeAdColor(rateCardsDetails)" name="AdColorId" required="">
                                        <option value="">Select Ad Color</option>
                                    </select>-->
                                    <select class="full-width" ng-model="rateCardDetails.AdColorId" id="ddlAdColor" style="width: 100%" placeholder="Select Ad Color"
                                            ng-change="changeAdColor(rateCardsDetails)" name="AdColorId" ui-select2="adColorSelect2" required="">
                                        <option value="">Select Ad Color</option>
                                        <option ng-repeat="items in adColors " value="{{items.AdColorId}}">{{items.AdColorName}}</option>
                                    </select>
                                    <div ng-show="rateCardshowMsgs || rateCardDetailsForm.AdColorId.$touched && rateCardDetailsForm.AdColorId.$invalid && rateCardDetailsForm.AdColorId.$dirty  ">
                                        <div style="color:red;" ng-show="rateCardDetailsForm.AdColorId.$error.required">Ad Color is required.</div>
                                    </div>
                                </div>

                                <div class="form-group" ng-class="{error:rateCardDetailsForm.selectedAdSizeValue.$invalid}">
                                    <label for="Ad Size" class="asteriskRequired">Ad Size <a href="javascript:void(0);" class="add-link manage-link" ng-click="InitAdSizePopup()" data-toggle="modal" data-target="#adSizeModal"><img ng-src="{{baseUrl}}/areas/iMISAngular/image/add-icon-white.png" alt="" /> Manage</a></label>
                                    <div class="clearfix"></div>
                                    <select multiple class="full-width sizeDropDown" ui-select2="groupSetup" ng-model="selectedAdSizeValue" data-placeholder="Select Ad Size" required=""
                                            id="adjtarget1" style="width: 100%" placeholder="Select Ad Size" name="selectedAdSizeValue" ng-change="changeAdSize()">
                                        <option ng-repeat="adSize in adSizes " value="{{adSize.AdSizeId}}">{{adSize.AdSizeName}}</option>
                                    </select>
                                    <div ng-show="rateCardshowMsgs || rateCardDetailsForm.selectedAdSizeValue.$invalid && rateCardDetailsForm.selectedAdSizeValue.$dirty &&  rateCardDetailsForm.selectedAdSizeValue.$touched ">
                                        <div style="color:red;" ng-show="rateCardDetailsForm.selectedAdSizeValue.$error.required">Ad Size is required.</div>
                                    </div>
                                </div>

                                <div class="form-group" ng-class="{error:rateCardDetailsForm.selectedFrequencyValue.$invalid}">
                                    <a href="javascript:void(0);" class="add-link" data-toggle="modal" ng-click="InitFrequencyPopup()" data-target="#FrequencyModal"><img ng-src="{{baseUrl}}/areas/iMISAngular/image/add-icon.png" alt="" /></a>
                                    <label for="Frequency" class="asteriskRequired">Frequency</label>
                                    <div class="clearfix"></div>
                                    <select multiple class="full-width frequencyDropDown" ui-select2="groupSetup1" ng-model="selectedFrequencyValue" data-placeholder="Select Frequency" required=""
                                            id="adjtarget2" style="width: 100%" placeholder="Select Frequency" name="selectedFrequencyValue" ng-change="changeFrequency()">
                                        <option ng-repeat="frequency in frequencies " value="{{frequency.FrequencyId}}">{{frequency.FrequencyName}}</option>
                                    </select>
                                    <div ng-show="rateCardshowMsgs || rateCardDetailsForm.selectedFrequencyValue.$invalid && rateCardDetailsForm.selectedFrequencyValue.$touched && rateCardDetailsForm.selectedFrequencyValue.$dirty ">
                                        <div style="color:red;" ng-show="rateCardDetailsForm.selectedFrequencyValue.$error.required">Frequency is required.</div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <button type="button" class="blueBtn createBtn" id="btnRateCardDetails"
                                            ng-click="createRateCardDetailsTable(rateCardDetails,selectedAdSizeValue,selectedFrequencyValue);">
                                        Create Rate Card Details Matrix
                                    </button>
                                </div>
                            </div>

                            <div class="col-md-8">
                                <div ng-if="isMultipleRateCardsDetails == false" style="height:450px;overflow-y: auto;">
                                    <div class="rateCardTitle">{{ColorName}}</div>
                                    <div class="table-responsive custom-table rateCard-table">
                                        <table class="table" id="rateCardsDetailsTable">
                                            <thead>
                                                <tr id="rateCardsDetailsTableTH"></tr>
                                            </thead>
                                            <tbody id="rateCardsDetailsTableTbody"></tbody>
                                            <tbody id="rateCardsDetailsTableTbody" ng-if="isShowDefaultTable == true">
                                                <tr>
                                                    <td colspan="8" class="setTextCenter">No Record is Found</td>
                                                </tr>
                                                <tr ng-if="isLoading == dataLoading">
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div ng-if="isLoading == dataLoading">
                                            <div class="dataLoad">
                                                <div data-loading></div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="form-group text-center">
                                        <button type="button" class="blueBtn createBtn" id="btnRateCardDetails"
                                                ng-click="SaveRateCardDetails(rateCardDetails,selectedAdSizeValue,selectedFrequencyValue,dynamicRowData);">
                                            {{AddOrEdit}} rate card Details
                                        </button>
                                    </div>
                                </div>
                                <div ng-if="isMultipleRateCardsDetails == true" style="height:450px;overflow-y: auto;">
                                    <div id="rateCardsDetailsTableforMultiple">
                                        <!--<div class="rateCardTitle">{{ColorName}}</div>
                                        <div class="table-responsive custom-table rateCard-table">
                                            <table class="table" id="rateCardsDetailsTable">
                                                <thead>
                                                    <tr id="rateCardsDetailsTableTH"></tr>
                                                </thead>
                                                <tbody id="rateCardsDetailsTableTbody"></tbody>
                                                <tbody id="rateCardsDetailsTableTbody" ng-if="isShowDefaultTable == true">
                                                    <tr>
                                                        <td colspan="8" class="setTextCenter">No Record is Found</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-form>


<!-- Ad Color Modal-->
<ng-form name="AdColorModalForm" novalidate>
    <div class="modal fade bs-example-modal-sm mampopup" id="adColorModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="form-group" ng-class="{error:AdColorModalForm.AdColorName.$invalid}">
                        <label for="AdColorName" class="asteriskRequired">Ad Color</label>
                        <input ng-model="adColor.AdColorName" name="AdColorName" type="text" class="form-control" id="txtAdColorName" placeholder="Enter Ad Color Name" required="">
                        <div ng-show="adColorModalMsgs || AdColorModalForm.AdColorName.$invalid && AdColorModalForm.AdColorName.$dirty  ">
                            <div style="color:red;" ng-show="AdColorModalForm.AdColorName.$error.required">Ad Color is required.</div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnadColor" class="blueBtn" ng-click="SaveAdColor(adColor);">Add Ad Color</button>
                    <button type="button" class="blueBtn" data-dismiss="modal" ng-click="CancelAdColor(adColor);">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</ng-form>

<!-- Ad Size Modal-->
<ng-form name="AdSizeModalForm" novalidate>
    <div class="modal fade bs-example-modal-sm mampopup" id="adSizeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="form-group" ng-class="{error:AdSizeModalForm.AdColorName.$invalid}">
                        <label for="AdSizeName" class="asteriskRequired">Ad Size</label>
                        <input ng-model="adSize.AdSizeName" name="AdSizeName" type="text" class="form-control" id="txtAdSizeName" placeholder="Enter Ad Size" required="">
                        <div ng-show="adSizeModalMsgs || AdSizeModalForm.AdSizeName.$invalid && AdSizeModalForm.AdSizeName.$dirty  ">
                            <div style="color:red;" ng-show="AdSizeModalForm.AdSizeName.$error.required">Ad Size is required.</div>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{error:AdSizeModalForm.PageFraction.$invalid}">
                        <label for="PageFraction" class="asteriskRequired">Page Fraction</label>
                        <input ng-model="adSize.PageFraction" name="PageFraction" type="text" class="form-control" id="txtPageFraction" placeholder="Enter Page Fraction" required="">
                        <div ng-show="adSizeModalMsgs || AdSizeModalForm.PageFraction.$invalid && AdSizeModalForm.PageFraction.$dirty  ">
                            <div style="color:red;" ng-show="AdSizeModalForm.PageFraction.$error.required">Page Fraction is required.</div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnadSize" class="blueBtn" ng-click="SaveAdSize(adSize);">Add Ad Size</button>
                    <button type="button" class="blueBtn" data-dismiss="modal" ng-click="CancelAdSize(adSize);">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</ng-form>

<!-- Ad Frequency Modal-->
<ng-form name="FrequencyModalForm" novalidate>
    <div class="modal fade bs-example-modal-sm mampopup" id="FrequencyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="form-group" ng-class="{error:FrequencyModalForm.FrequencyName.$invalid}">
                        <label for="FrequencyName" class="asteriskRequired">Frequency</label>
                        <input ng-model="frequency.FrequencyName" name="FrequencyName" type="text" class="form-control" id="txtFrequencyName" placeholder="Enter Frequency Name" required="">
                        <div ng-show="adFrequencyModalMsgs || FrequencyModalForm.FrequencyName.$invalid && FrequencyModalForm.FrequencyName.$dirty  ">
                            <div style="color:red;" ng-show="FrequencyModalForm.FrequencyName.$error.required">Frequency Name is required.</div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" id="btnFrequency" class="blueBtn" ng-click="SaveFrequency(frequency);">Add Frequency</button>
                    <button type="button" class="blueBtn" data-dismiss="modal" ng-click="CancelFrequency(frequency);">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</ng-form>