@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');

a:hover {
	text-decoration: none;
}

.mamTitle {
	border:0;
	margin-top: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 26px;
    color: #002633;
}
.mamTitleImg {
	padding-right: 5px;
}
.step-wizard {
    font-family: 'Open Sans', sans-serif;
}
.step-wizard .tab-content {
	padding: 20px 0;
}
.step-wizard .nav-tabs {
	background-color: #f5f5f5;
	border:1px solid #ddd;
	border-radius: 5px;
	overflow: hidden;
}
.step-wizard .nav-tabs > li > a {
	font-weight: 600;
	font-size: 14px;
	color: #003a4d;
	border-radius: 0;
	padding: 8px 0 8px 45px;
	position: relative;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.step-wizard .nav-tabs > li:first-child > a {
	padding-left: 15px;
}
.step-wizard .nav-tabs > li > a:before {
	content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 30px solid #666;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    margin-left: 3px;
    left: 100%;
    z-index: 1;
}
.step-wizard .nav-tabs > li:last-child > a:before {
	content: none;
}
.step-wizard .nav-tabs > li > a:after {
	content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 30px solid #f5f5f5;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    margin-left: 3px;
    left: 100%;
    z-index: 1;
}
.step-wizard .nav-tabs > li:last-child > a:after {
	content: none;
}
.step-wizard .nav-tabs > li.active > a {
	color: #0096c7;
	border-color: transparent;
	background-color: transparent;
}
.step-wizard .nav-tabs > li > a:focus {
	outline: 0;
}
.step-wizard .nav-tabs > li > a:hover {
	background-color: transparent;
	color: #0096c7;
	border-color:transparent;
}
.tab-header {
    border-radius: 5px 5px 0 0;
    background-color: #0096c7;
    border: 1px solid #dfe2e5;
    color: #fff;
    padding: 10px 15px;
}
.tab-header h5 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    margin: 0;
}
.tabContent {
    background-color: #fff;
    border: 1px solid #dfe2e5;
    border-top:0;
    border-radius: 0 0 5px 5px;
    padding: 25px 15px;
	overflow: hidden;
}
.blueBtn {
    border-radius: 3px;
    padding: 8px 10px;
    background-color: #0096c7;
    color: #fff;
    font-weight: 600;
    font-size: 13px;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
	border:0;
	font-family: 'Open Sans', sans-serif;
    -webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.blueBtn:hover {
    background-color: #003a4d;
    text-decoration: none;
    color: #fff;
}
.blueBtn:focus, .blueBtn:active {
	background-color: #0096c7;
    color: #fff;
	text-decoration: none;
	outline: 0;
}
.search-container {
    float: right;
    position: relative;
}
.search-container input {
    border-radius: 3px;
    width:290px;
    max-width: 100%;
    height: 35px;
    border-color:#dddddd;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding-right: 30px;
}
.search-container input:focus {
    border-color:#cecece;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.search-container img {
    position: absolute;
    right: 10px;
    top: 10px;
}
.tabContentArea {
    padding: 30px 0 0;
	float:left;
	width:100%;
}
.custom-table {
    background-color: #fafafa;
    border: 1px solid #dfe2e5;
    border-radius: 5px;
	margin-bottom: 0;
	padding-bottom: 10px;
}
.custom-table table {
    margin-bottom: 0;
}
.custom-table th {
    color: #003a4d;
    font-size: 14px;
	white-space: nowrap;
	padding: 8px 25px 8px 8px !important;
}
.custom-table td {
    color: #7f8fa4;
    font-size: 13px;
    font-weight: 600;
	white-space: nowrap;
	padding: 8px 25px 8px 8px !important;
}
.custom-table td a {
    color: #0096c7;
    text-decoration: underline;
    display: inline-block;
    margin-right:12px;
}
.modal-backdrop {
	background-color: #003a4d;
}
.modal-backdrop.in {
	opacity: 0.7;
}
.custom-upload input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 2px dashed #dfe2e5;
    display: block;
    cursor: pointer;
	text-align: center;
	padding: 30px;
    border-radius: 2px;
    background: white;
    color: #a3aeb4 !important;
    font-size: 13px;
  	margin-left: 0;
	margin-bottom: 0;
	margin-top: 20px;
	text-transform: uppercase;
}
.custom-file-upload img {
	display: block;
	margin: 0 auto 5px;
}
.mampopup label {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 600;
	color: #003a4d;
}
.step-wizard label {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 600;
	color: #003a4d;
}
.mampopup .modal-footer {
	text-align: center;
	border-top: 0;
	padding-top: 0;
}
.mampopup .modal-footer button {
	margin: 0 10px;
}
.mampopup input {
	border:0;
	border-bottom: 2px solid #dfe2e5;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	padding: 5px 0;
}
.step-wizard .tabContentArea input {
	border:0;
	border-bottom: 2px solid #dfe2e5;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	padding: 5px 0;
}
.mampopup input:focus {
	-webkit-box-shadow: none;
	box-shadow: none;
	border-bottom-color: #cecece;
}
.step-wizard .tabContentArea input:focus {
	-webkit-box-shadow: none;
	box-shadow: none;
	border-bottom-color: #cecece;
}
.mampopup .modal-sm {
	width:400px;
	max-width: 100%;
}
.mampopup .modal-body {
	padding: 15px 30px;
}
.select2-container--default .select2-selection--single, .select2-container--default .select2-selection--multiple {
	background-color: transparent;
	border:0;
	border-bottom: 2px solid #dfe2e5;
	border-radius: 0;
	height: 32px;
}
.select2-container--default .select2-selection--multiple {
	height: auto;
}
.select2-container--default.select2-container--focus .select2-selection--multiple {
	border:0;
	border-bottom: 2px solid #cecece;
}
.select2-container .select2-selection--single .select2-selection__rendered, .select2-container--default .select2-selection--multiple .select2-selection__rendered {
	padding-left: 0;
}
.select2-container--default .select2-selection--multiple .select2-selection__rendered {
	display: inline-block!important;
}
.select2-container--default .select2-selection--multiple #undefined-accordion {
	display: none !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
	float: right;
	margin-right: 0;
	margin-left: 5px;
	margin-top: 1px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
	background-color: #dfe2e5;
	border-color: #dfe2e5;
	font-size: 13px;
	color: #354052;
	font-weight: 600;
}
.step-wizard .panel-title {
	font-size: 14px;
	font-weight: 600;
	color: #003a4d;
}
.step-wizard .panel-title a {
	color: #003a4d;
}
.step-wizard .panel-title a:focus {
	outline: 0;
	border: 0;
	text-decoration: none;
}
.tabContentHeaderTitle {
	display: inline-block;
}
.tabContentHeaderTitle h6 {
	font-size: 16px;
	font-weight: 600;
	color: #0096c7;
	letter-spacing: 0.5px;
	margin: 0;
	padding: 10px 0 0;
	text-transform: uppercase;
}
.date {
	width:100%;
}
.date .input-group-addon {
	border:0;
	background-color: transparent;
	border-radius: 0;
	width:auto;
	position: absolute;
	right:0;
	z-index: 9;
}
.form-group {
    margin-bottom: 25px;
}
.createBtn {
	padding: 8px 35px;
}
.select2-search__field {
	display: none !important;
}
.radioField {
	border:1px solid #d4d4d4;
	border-radius:5px;
}
.radioField .radio {
	padding-left: 20px;
}

.add-link {
	float: right;
	padding-right: 6px;
	display: block;
	outline: 0 !important;
}

/*.popover {
	background-color: #003a4d;
	color: #fff;
	border-radius: 0;
	border:0;
	-webkit-box-shadow: none;
	box-shadow: none;
	font-size: 13px;
}
.popover.top > .arrow {
	border-top-color: #003a4d;
}
.popover.top > .arrow:after {
	border-top-color: #003a4d;
}*/
.filledData {
	font-weight: 600;
	font-size: 16px;
	color: #354052;
}
.manage-link {
	border-radius: 3px;
	background-color: #003a4d;
	color: #fff;
	font-size: 12px;
	font-weight: 300;
	padding: 1px 5px 2px;
	margin-left: 5px;
}
.manage-link:hover, .manage-link:focus {
	color: #fff;
	text-decoration: none;
}
.custom-table input[type="text"] {
	border:1px solid #9a9fa8;
	padding: 5px;
	max-width: 70px;
	text-align: center;
	font-size: 13px;
	font-weight: 600;
	color: #7f8fa4;
}
.custom-table input[type="text"]:focus {
	border-color: #666666;
}
.rateCard-table {
	border-radius: 0;
}
.rateCardTitle {
	background-color: #003a4d;
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 14px;
	padding: 10px 15px;
	text-align: center;
}

/* Order Mansgement */

.order-management-content .tabContent {
	border: 1px solid #dfe2e5;
	border-radius: 5px;
}

.order-management-content .tabContentArea {
	padding: 0;
}

.cost-details {
	color: #002633;
	opacity: 0.7;
	font-size: 14px;
	font-weight: 600;
	padding: 10px 2px;
}

.cost-details span {
	font-weight: 400;
	padding-right: 20px;
}

.cost .net-cost span {
	padding-right: 0;
}

.mendatory {
	color: #ff0024;
}

.step-wizard .checkbox-inline, .step-wizard .radio-inline {
	padding-left: 27px;
}

.issuedates-range .checkbox-inline {
    margin: 0 0 5px;
}

.border-r {
    border-right: 1px dashed #dfe2e5;
}

.billingAddress {
	background-color: #f2f4f5;
	border:1px solid #dfe2e5;
	padding: 10px 15px;
	color:#354052;
	font-size: 14px;
	line-height: 22px;
	margin: 0 0 20px;
	word-wrap: break-word;
}

.billingAddress hr {
	border-color: #c3c7cb;
	margin: 10px 0 ;
}

.addRept {
	text-transform: uppercase;
	color: #fff;
	background-color: #0096c7;
	border-radius: 3px;
	border:0;
	font-weight: 600;
	font-size: 13px;
	padding: 5px 0;
	display: block;
	width: 100%;
	margin-top: 25px;
}

.reptDataBlocks {
	margin: 15px 0;
}

.reptDataBlockItem {
	background-color: #f2f4f5;
	border:1px solid #dfe2e5;
	padding: 10px;
	text-align: center;
	color: #354052;
	font-size: 12px;
	font-weight: 600;
	position: relative;
	margin: 0 0 15px;
}

.reptDataBlockItem .form-group {
	margin-bottom: 2px;
}

.reptDataBlockItem input {
	background-color: transparent;
	text-align: center;
	font-size: 20px;
}

.reptDataBlockItem .commission {
	font-weight: 400;
	color: #4f5c71;
}

.reptDataBlockItem .deleteBlock {
	width: 15px;
	height: 15px;
	color: #fff;
	border-radius: 50%;
	background-color: #e42525;
	text-align: center;
	line-height: 8px;
	font-size: 27px;
	display: inline-block;
	position: absolute;
	top: -8px;
	right: -8px;
}

/* Step 4 - Production Detail */

input[type="checkbox"]:focus {
    outline: 0;
}

.adjustment-table input[type="checkbox"], .adjustment-table1 input[type="checkbox"], .adjustment-table2 input[type="checkbox"], .adjustment-table3 input[type="checkbox"] {
    margin-top: 0;
}

.expextedFields {
    padding: 10px 0 0;
    float: left;
    width:100%;
}

.expextedFields .form-group {
    margin-bottom: 10px;
    float: left;
    width: 100%;
}

.expextedFields label {
    width:25%;
    margin-top: 5px;
    float: left;
}

.expextedFields input, .expextedFields .date {
    width:75%;
    float: left;
}

.adStatus label {
    width:25%;
    float: left;
    margin-top: 5px;
}

.adStatus div {
    width:75%;
    float: left;
}

textarea.form-control {
    border: 0;
    border-bottom: 2px solid #dfe2e5;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 5px 0;
}

.tearSheet {
    background-color: #f3f5f6;
    border: 1px solid #dfe2e5;
    padding: 15px;
    margin: 0 0 30px;
}

.tearSheet input {
    background-color: transparent;
}

.custom-file-uploader {
  position: relative;
}

.custom-file-uploader input[type='file'] {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: default;
    background-color: transparent;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: transparent;
}

.custom-uploader input {
    cursor: pointer;
}

.custom-uploader .btn {
    padding: 0 5px;
    border-radius: 2px !important;
    background-image: none;
    background-color: #003a4d;
    border: 1px solid #003a4d;
    color: #fff;
    cursor: pointer;
    margin-left:5px !important; 
    display: inline-block;
    width:25px;
    height: 25px;
}

.custom-uploader .btn.open-link {
    width:50px;
}

.custom-uploader .btn:hover {
    background-color: #0096c7;
    border-color: #0096c7;
}

.custom-uploader .btn input:hover {
    background-color: #0096c7;
    border-color: #0096c7;
}

.paddl-30 {
    padding-left: 30px;
}

.step-wizard .tabContentArea .input-group-addon {
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid transparent;
    border-radius: 0;
    font-size: 16px;
    font-weight: 600;
    position: absolute;
    right: 0;
    bottom: 0;
    width: auto;
    z-index: 99;
}

.step-wizard .tabContentArea .input-group input {
    padding-right: 45px;
}

.step-wizard .tabContentArea .reptDataBlockItem .input-group input {
    padding-right: 0;
}

.table-action-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.table-action {
    padding: 0 5px;
}

.table-action-btn {
    width:22px;
    height: 22px;
    margin: 0 auto;
    background-color: #003a4d;
    color: #fff;
    border:0;
    padding: 0;
    margin: 0 0 10px; 
}

.table-action-btn-remove {
    background-color: #cc0000;
    margin-bottom: 0;
}

.cost-data {
    margin: 20px 0;
}

.cost-data label {
    width:40%;
    float: left;
    margin-top: 5px;
    padding-left: 0;
    margin-left: 0;
}

.cost-data div {
    width:60%;
    float: left;
}

.cost-data input {
    background-color: #e5e5e5 !important;
    border: 1px solid #dfe2e5 !important;
    padding-left: 5px !important;
}

.Gross-Cost-Table, .Net-Cost-Table {
    max-height: 180px;
}

.update-status {
    border-radius: 3px;
    background-color: #f0f0f0;
    border: 1px solid #dfe2e5;
    padding: 10px 15px;
    float: none;
    margin: 30px auto;
    display: inline-block;
}

.update-status .form-group {
    margin-bottom: 0;
}

.update-status .addRept {
    display: inline-block;
    width: auto;
    margin-left: 27px;
    margin-top: 0;
    padding: 2px 10px;
}

.step-wizard .tabContentArea input {
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Order Management Tabs */

.tabs-main-container {
    font-family: Open Sans, Helvetica, Arial, sans-serif;
}

.tabs-main-container .nav-tabs {
    padding: 0 15px;
    border-bottom: 0;
    border-radius: 5px 5px 0 0;
}

.tabs-main-container .nav-tabs > li > a {
    font-weight: 600;
    color: #fff;
    padding: 7px 15px;
    border: 1px solid #dfe2e5;
    border-bottom: 0;
    margin-right: 10px;
    background-color: #003a4d;
    outline: 0;
}

.tabs-main-container .nav-tabs > li.active > a, .tabs-main-container .nav-tabs > li.active > a:focus, .tabs-main-container .nav-tabs > li.active > a:hover {
   background-color: #fff;
   color: #354052;
    border-bottom: 0;
}

.tabs-main-container .tab-content {
    background-color: #fff;
    padding: 20px 15px;
    border: 1px solid #dfe2e5;
    border-radius: 5px;
}

.quick-jump {
    margin: 10px 0 0;
}

.jump-label {
    font-size: 12px;
    font-weight: 600;
    margin-right: 10px;
    color: #003a4d;
    float: left;
}

.jump-letters {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    overflow-x: auto;
    padding-bottom: 5px;
}

.jump-letter {
    font-weight: 600;
    font-size: 16px;
    padding: 0 9px;
    line-height: 16px;
    text-decoration: none;
    color: #888;
    cursor: pointer;
    -webkit-transition: all .15s ease;
    -o-transition: all .15s ease;
    transition: all .15s ease;
}

.jump-letter:first-child {
    padding-left: 0;
}

.jump-letter:last-child {
    padding-right: 0;
}

.jump-letter:focus, .jump-letter:hover {
    color: #003a4d;
    text-decoration: underline;
    outline: 0;
}

.tabs-main-container .search-container {
    float: none;
}

.tabs-main-container .search-container input {
    width:100%;
}

hr {
    margin-left: 0;
    margin-right: 0;
}

.advertiserCards {
    margin: 25px 0;
}

.advertiserCardsItem {
    border: 1px solid #dfe2e5;
    border-radius: 5px;
    background-color: #fff;
    -webkit-box-shadow: 0px 5px 9px 0px rgba(0, 0, 0, 0.19);
    box-shadow: 0px 5px 9px 0px rgba(0, 0, 0, 0.19);
    padding: 15px;
    margin: 0 0 15px;
    width: 100%;
}

.advertiserCardsItem h4 {
    font-size: 18px;
    font-weight: 600;
    margin: 0 0 10px;
}

.advertiserCardsItem .keyContact {
    color: #4f5c71;
    margin-bottom: 5px;
}

.advertiserCardsItem .keyContact strong {
    color: #354052;
}

.orderCost {
    margin: 0 0 15px;
}

.orderCost a {
    font-weight: 600;
    color: #0096c7;
    text-decoration: underline;
    display: inline-block;
}

.orderCost span {
    font-size: 13px;
    margin-left: 15px;
}

.advertiserCardsItem .blueBtn {
    margin: 0 auto;
    display: block;
}

.advertiserCards .col-md-4 {
    padding: 0 7px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.advertiserCards .row {
    margin: 0 -7px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.pagination {
    margin: 0;
}

.pagination>li>a, .pagination>li>span {
    border-radius: 50% !important;
    margin: 0 5px;
    width: 38px;
    height: 38px;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    border:0;
    line-height: 26px;
    color: #acacac;
    outline: 0;
}

.pagination>li>a:hover {
    color: #666;
    background-color: transparent;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background-color: #0096c7;
    -webkit-box-shadow: 0px 5px 9px 0px rgba(0, 0, 0, 0.19);
    box-shadow: 0px 5px 9px 0px rgba(0, 0, 0, 0.19);
}

.ordersTable .custom-table td a {
    width:15px;
}

.ordersTable .custom-table .popover-content input[type="text"] {
    max-width:100%;
    display: block;
    border-radius: 0;
    border-color: #cccccc;
}

.ordersTable .custom-table .popover-content input[type="text"]:focus {
    box-shadow: none;
    border-color: #666;
}

.ordersTable .custom-table .popover-content .form-control {
    border-radius: 0;
}

.ordersTable .custom-table .popover-content .form-group {
    margin-bottom: 15px;
}

.ordersTable .custom-table .popover {
    width:200px;
}

.resetBtn {
    border:0;
    background-color: transparent;
    font-size: 14px;
    font-weight: 600;
    color: #003a4d;
    padding-top: 5px;
    padding-right: 0;
}

.filterpopup {
    outline: 0;
    cursor: pointer;
    padding-left: 5px;
}

.filterpopup:focus {
    outline: 0;
}

/* Post Orders */

.post-orders-form {
	border: 0;
	border-bottom: 2px solid #dfe2e5;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	padding: 5px 0;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* Dashboard - 12-02-2018 */

.tile-progress {
background-color: #303641;
color: #fff;
font-family: 'Open Sans', sans-serif;
}
.tile-progress {
background: #00a65b;
color: #fff;
margin-bottom: 20px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
-webkit-background-clip: padding-box;
-moz-background-clip: padding;
background-clip: padding-box;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}
.tile-progress .tile-header {
padding: 10px 15px 0;
}
.tile-progress .tile-header h3 {
    margin: 0;
    font-weight: 600;
    font-size: 18px;
}
.tile-progress .tile-progressbar {
height: 3px;
background: rgba(0,0,0,0.18);
margin: 0;
}
.tile-progress .tile-progressbar span {
background: #fff;
}
.tile-progress .tile-progressbar span {
display: block;
background: #fff;
width: 0;
height: 100%;
-webkit-transition: all 1.5s cubic-bezier(0.230,1.000,0.320,1.000);
-moz-transition: all 1.5s cubic-bezier(0.230,1.000,0.320,1.000);
-o-transition: all 1.5s cubic-bezier(0.230,1.000,0.320,1.000);
transition: all 1.5s cubic-bezier(0.230,1.000,0.320,1.000);
}
.tile-progress .tile-footer {
padding: 10px 15px;
/*background: rgba(0,0,0,0.1);*/
-webkit-border-radius: 0 0 3px 3px;
-webkit-background-clip: padding-box;
-moz-border-radius: 0 0 3px 3px;
-moz-background-clip: padding;
border-radius: 0 0 3px 3px;
background-clip: padding-box;
-webkit-border-radius: 0 0 3px 3px;
-moz-border-radius: 0 0 3px 3px;
border-radius: 0 0 3px 3px;
}
.tile-progress .tile-footer h4 {
    margin: 0;
}

.tile-progress .tile-footer h4 span {
    margin: 0;
    font-weight: 600;
    font-size: 28px;
}
.tile-progress .tile-footer span {
    font-size: 13px;
}
.tile-progress {
background-color: #303641;
color: #fff;
}
.tile-progress.tile-orange {
background-color: #df8208;
color: #fff;
}
.tile-progress.tile-green {
background-color: #6abe46;
color: #fff;
}
.tile-progress.tile-cyan {
background-color: #12bcbd;
color: #fff;
}
.tile-progress.tile-purple {
background-color: #8b44b1;
color: #fff;
}
h4.chart-title {
    font-size: 18px;
    font-weight: 600;
    margin: 0 0 15px;
    font-family: 'Open Sans', sans-serif;
}
.chart-container {
    margin: 30px 0 50px;
}
.chart-holder {
    margin-bottom: 20px;
}

/* Media Query */

@media (max-width:1199px) {
    body {
        font-size: 12px;
    }
	.radioField .radio {
		padding-left: 12px;
	}
	.radioField .radio label {
		font-size: 13px;
	}
    .step-wizard .nav-tabs > li > a, .step-wizard label, .billingAddress {
        font-size: 12px;
    }
    .addRept {
        font-size: 11px;
    }
    .table-action {
        padding: 0;
    }
    .jump-letters {
        padding-bottom: 15px;
    }

}

@media (max-width:991px) {
    .paddl-30 {
        padding-left: 15px;
    }
    .expextedFields label, .adStatus label {
        width:100%;
        margin-top: 0;
    }
    .expextedFields input, .expextedFields .date, .adStatus div {
        width: 100%;
    }
    .expextedFields {
        padding-bottom: 30px;
    }
    .adStatus {
        float: left;
        width: 100%;
    }
    .border-b {
        border-bottom: 1px dashed #dfe2e5;
        padding-bottom: 20px;
        margin-bottom: 20px;
    }
    .border-r.border-b {
        border-right: 0;
    }
    .quick-jump {
        margin: 0 0 15px;
    }
}

@media (max-width:768px) {
	.tabContentHeader .blueBtn {
		display: block;
		margin: 0 0 10px;
	}
	.search-container {
		float: none;
		display: block;
	}
	.search-container input {
		width:100%;
	}
	.tabContentHeaderTitle h6 {
		padding: 0 0 15px;
	}
}

@media (max-width:767px) {
	.tabContentHeader .blueBtn {
		display: block;
		margin: 0 0 10px;
	}
	.search-container {
		float: none;
		display: block;
	}
	.search-container input {
		width:100%;
	}
	.tabContentHeaderTitle h6 {
		padding: 0 0 15px;
	}
    .cost-details {
        order:0;
    }
    #undefined-accordion {
        order: 1;
    }
    .buy-id, .cost {
        width:100%;
        text-align: center;
    }
    .net-cost {
        float: right !important;
    }
    .input-group {
        width:100%;
    }
    .addRept {
        margin-bottom: 30px;
    }
}

@media (max-width:767px) {
    .border-r {
        border-right: 0;
    }
    .reptDataBlockItem .form-group .input-group {
        margin: 0 auto;
    }
    .issuedates-range {
        margin-bottom: 30px;
    }
    .order-management-content {
        display: flex;
        flex-direction: column;
    }
    .table-action-row {
        -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
    }
    .table-action {
        padding: 15px 15px 0;
        text-align: center;
    }
    .step-wizard .checkbox-inline, .step-wizard .radio-inline {
        padding-left: 20px;
    }
    .update-status .addRept {
        margin-left: 0;
        margin-bottom: 0;
        margin-top: 10px;
    }
    .jump-label {
        display: none;
    }
}

@media (max-width:479px) {
	.mamTitle {
		font-size: 18px;
	}
	.mampopup .modal-sm {
		width:90%;
		margin: 10px auto;
	}
	.mampopup .modal-body {
		padding: 15px 15px 0;
	}
	.mampopup .modal-footer button {
		margin: 10px 0;
		display: block;
		width:100%;
	}
    .advertiserCards .col-md-4 {
        width: 100%;
    }
    .pagination > li > a, .pagination > li > span {
        width: 30px;
        height: 30px;
        font-size: 11px;
        padding: 2px 9px;
        margin: 0 2px;
    }
}